{% load static nmhs_cms_tags i18n wagtailiconchooser_tags l10n %}

{% if city_forecasts_by_date %}
    <style>
        .forecast-widget {
            color: #fff;
            position: relative;
        }

        .forecast-widget .loader-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        .forecast-widget .loader {
            width: 50px;
            height: 50px;
        }


        .forecast-widget .loader-wrapper.is-active {
            opacity: 1;
            z-index: 9999;
        }

        .forecast-widget .loader.is-loading {
            position: absolute;
        }


        .forecast-widget .city-search {
            margin-right: 20px;
            flex: 1;
            width: 100%;
        }

        .forecast-widget .city-search .dropdown-trigger {
            width: 100%;
        }

        .forecast-widget .city-search input {
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            width: 100%;
            border: none;
            color: #fff;

        }

        .forecast-widget .city-search input::placeholder {
            color: #fff;
            opacity: 1; /* Firefox */
        }

        .forecast-widget .detail-link {
            color: #fff;
            text-decoration: underline;
        }


        .forecast-widget .dropdown-menu {
            z-index: 99999;
        }


        .forecast-widget .city-name {
            font-weight: bold;
            font-size: 24px;
            color: #fff;
            margin-right: 20px;
            text-shadow: 0px 1px 10px #333;
        }

        .forecast-widget .city-name .icon {
            margin-right: 10px;
        }


        .forecast-widget .tabs ul {
            align-items: flex-end;
        }

        .forecast-widget .tabs li {
            background-color: #ffffff40;
            backdrop-filter: blur(10px);
            width: 130px;
            height: 60px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-bottom: 1px solid #ffffff50;
        }

        .forecast-widget .tabs li a {
            display: flex;
            flex-direction: column;
            color: #fff !important;
            font-weight: bold;
            font-size: 16px;
            padding-bottom: 4px;
            width: 100%;
        }

        .forecast-widget .tabs.is-boxed li.is-active, .forecast-widget .tabs.is-boxed li:hover {
            height: 90px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border: 1px solid #ffffff50;
            border-bottom: none;
            background-color: #ffffff10;
        }

        .forecast-widget .tabs.is-boxed li.is-active a, .forecast-widget .tabs.is-boxed li a:hover {
            background-color: unset;
            color: #000;
            border: none;
        }

        .forecast-widget .tabs:not(:last-child) {
            margin-bottom: 0;
        }

        .forecast-widget .tabs.is-boxed li.is-active .day-name {
            font-size: 20px;
        }


        .forecast-widget .tabs-content {
            background-color: #ffffff10;
            backdrop-filter: blur(10px);
            padding: 20px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border: 1px solid #ffffff50;
            border-top: none;
        }

        .forecast-widget .forecast-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            min-height: 250px;
            background-color: #ffffff20;
            border-radius: 8px;
            overflow: hidden;
        }

        .forecast-item .forecast-time {
            font-weight: bold;
            padding: 10px;
            background-color: #ffffff40;
            width: 100%;
            text-align: center;
            font-size: 14px;
        }

        .forecast-item .forecast-condition {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
        }

        .forecast-item .forecast-condition .condition-img {
            width: 70px;
            height: 70px;
        }

        .forecast-item .forecast-condition .condition-label {
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 10px;
        }

        .forecast-item .forecast-params {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0 10px 20px;
        }

        .forecast-item .forecast-param {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 5px 10px;
            font-size: 14px;
        }

        .forecast-item .forecast-param.has-icon {
            flex-direction: row;
            align-items: center;
        }

        .forecast-item .forecast-param-label {
            text-align: center;
            font-weight: 500;
        }

        .forecast-item .forecast-parameter-icon {
            margin-right: 10px;
        }

        .forecast-item .forecast-parameter-icon svg {
            height: 14px;
            width: 14px;
            fill: #fff;
        }


        .slider-arrow {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border-radius: 50%;
        }

        .slider-arrow svg {
            height: 100%;
            width: 100%;
            fill: #fff;
        }


        /* Width and height of the scrollbar */
        .forecast-widget .tabs::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Track */
        .forecast-widget .tabs::-webkit-scrollbar-track {
            background: #f1f1f110;
        }

        /* Handle */
        .forecast-widget .tabs::-webkit-scrollbar-thumb {
            background: #ffffff;
            border-radius: 10px;
        }

        /* Handle on hover */
        .forecast-widget .tabs::-webkit-scrollbar-thumb:hover {
            background: var(--primary-color);
        }

        /* Firefox */
        .forecast-widget .tabs {
            scrollbar-width: thin;
            scrollbar-color: #ffffff #f1f1f110;
        }

        .forecast-attribution {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 12px;
            margin-top: 20px;
        }

        .forecast-attribution .icon {
            margin-right: 4px;
        }

        .forecast-attribution a {
            color: #fff;
        }


    </style>

    <div class="forecast-widget">
        <div class="loader-wrapper" id="weather-widget-loader">
            <div class="loader is-loading"></div>
        </div>
        <div class="columns is-multiline is-mobile">
            <div class="column is-half-desktop is-full-mobile">
                <div class="city-name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-location-dot"></i>
                    </span>
                    {% if city_detail_page_url %}
                        <a class="detail-link" href="{{ city_detail_page_url }}">
                            {{ city.name }}
                        </a>
                    {% else %}
                        {{ city.name }}
                    {% endif %}

                </div>
                <div style="padding: 20px 0">
                    <a class="button is-small is-outlined"
                       style="background-color: transparent;color: #fff"
                       href="{{ city_detail_page_url }}">
                    <span>
                        {% translate "Detail" %}
                    </span>
                        <span class="icon is-small">
                        <i class="fas fa-arrow-trend-up"></i>
                    </span>
                    </a>
                </div>
            </div>
            <div class="column is-half-desktop is-full-mobile">
                <div class="dropdown city-search">
                    <div class="dropdown-trigger">
                        <div class="control has-icons-left">
                            <input id="city-search" class="input is-fullwidth" type="text"
                                   placeholder="{% translate 'Search location' %}"
                                   aria-haspopup="true"
                                   aria-controls="prova-menu"
                                   autocomplete="off"
                            >
                            <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                        </div>
                    </div>
                    <div class="dropdown-menu" id="city-search-menu" role="menu">
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs is-boxed is-fullwidth">
            <ul>
                {% for f_date, forecasts in city_forecasts_by_date.items %}
                    <li class="{% if forloop.first %}is-active{% endif %}"
                        data-target="tab-forecast-{{ f_date|date:"d-m-Y" }}">
                        <a>
                            <div class="day-name">
                                {% if f_date|date_is_today %}
                                    {% translate "Today" %}
                                {% else %}
                                    {{ f_date|date:"D" }}
                                {% endif %}
                            </div>
                            <div class="month-name">
                                {{ f_date|date:"d F" }}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tabs-content elevation-1">
            {% for f_date, forecasts in city_forecasts_by_date.items %}
                <div class="tab-content {% if not forloop.first %}is-hidden{% endif %}"
                     id="tab-forecast-{{ f_date|date:"d-m-Y" }}"
                     data-slider="day-forecast-slider-{{ f_date|date:"d-m-Y" }}">
                    <div class="day-forecast-slider glide {% if forloop.first %} initial-active{% endif %}"
                         id="day-forecast-slider-{{ f_date|date:"d-m-Y" }}">
                        <div class="glide__track" data-glide-el="track">
                            <div class="glide__slides">
                                {% for forecast in forecasts %}
                                    <div class="glide__slide" style="height: unset;">
                                        <div class="forecast-item">
                                            <div class="forecast-time">
                                                {% if use_period_labels %}
                                                    {{ forecast.parent.effective_period }}
                                                {% else %}
                                                    {{ forecast.datetime|date:"H:i" }}
                                                {% endif %}
                                            </div>
                                            <div class="forecast-params">
                                                <div class="forecast-condition">
                                                    <div class="condition-img">
                                                        <img src="{{ forecast.condition.icon_url }}"
                                                             alt="{{ forecast.condition.label }}"
                                                             title="{{ forecast.condition.label }}">
                                                    </div>
                                                    {% if show_condition_label %}
                                                        <div class="condition-label">
                                                            {{ forecast.condition.label }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {% for param in weather_parameters %}
                                                    <div class="forecast-param {% if param.parameter_info and param.parameter_info.icon %} has-icon{% endif %}">
                                                        <div class="forecast-param-label">
                                                            {% if param.parameter_info and param.parameter_info.icon %}
                                                                <div class="forecast-parameter-icon">
                                                                    {% svg_icon param.parameter_info.icon %}
                                                                </div>
                                                            {% else %}
                                                                <span style="margin-right: 10px">{{ param.name }}</span>
                                                            {% endif %}
                                                        </div>
                                                        {% if forecast.data_values_dict|get_dict_item:param.parameter %}
                                                            {% with forecast.data_values_dict|get_dict_item:param.parameter as data_value %}
                                                                <div class="forecast-param-value">
                                                                    {% if data_value.value_with_units %}
                                                                        {{ data_value.value_with_units }}
                                                                    {% else %}
                                                                        -
                                                                    {% endif %}
                                                                </div>
                                                            {% endwith %}
                                                        {% else %}
                                                            <div class="forecast-param-value">
                                                                -
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="slider-arrow glide__arrow glide__arrow--left" data-glide-dir="<">
                                {% svg_icon "arrow-left" %}
                            </button>
                            <button class="slider-arrow glide__arrow glide__arrow--right" data-glide-dir=">">
                                {% svg_icon "arrow-right" %}
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if external_source_attribution and external_source_url %}
                <div class="forecast-attribution">
                     <span class="icon is-small">
                         {% svg_icon "info-circle" %}
                     </span>
                    <a href="{{ external_source_url }}" target="_blank" rel="noopener noreferrer">
                        {{ external_source_attribution }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}