{% load wagtailimages_tags wagtailiconchooser_tags %}

{% block extra_css %}

<style>
    .what-we-do-icon{
        height: 60px;
        width: 60px;
        background-color: var(--primary-color-background);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .what-we-do-icon svg{
        fill:  var(--primary-color);
        height: 40%;
        width: 40%;
    }
</style>

{% endblock extra_css %}

<div class="justify-content-center column {% if is_by3 %}is-one-third-tablet {% else %}is-one-quarter-desktop is-half-tablet {% endif %}is-full-mobile intro-item">
    <figure class="image is-64x64">
        <div class="what-we-do-icon">
            {% if value.icon %}
                {% svg_icon value.icon %}
            {% endif %}
        </div>
    </figure>

    <div style="display: flex;flex-direction: column;height: 100%;">
        {% if value.title %}
            <h5 class="what-we-do-item-title {% if is_by_3 %}is-by3 {% else %}is-by4{% endif %}">{{ value.title }}</h5>
        {% endif %}
        <p style="padding: 0">
            {{ value.description }}
        </p>
    </div>
</div>

