{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

<style>
    .charts-container{
        min-height: 600px
    }

    .chart {
        height: 270px;
    }
    
    #csv {
        display: none;
    }
    
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        margin: 1em auto;
    }
    
    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    
    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }
    
    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .highcharts-credits {
        display:none
    }
</style>    

{% endblock extra_css %}

{% block content %}

<main>
<section class="pt-6">
    <div class="container ">

        <div class="columns">
            <div class="column is-half">
                <h2 class="section-title pb-2" style="font-size:24px"> <span class="icon is-small is-left is-white">
                    <i class="fa-solid fa-location-crosshairs"></i>
                </span>    {{city_name}} </h2>
        
                <p class="section-subheader py-2">
                    Expected Forecast from <b>{% now "D. j M" %}</b> onwards
                </p>
        
            </div>
            <div class="column is-half" style="display: flex;justify-content: flex-end;">
                <div class="widget-control">
                    
                    <form id="filter-form">
                        <div class="field has-addons">
                            <div class="control is-expanded has-icons-left has-icons-right">
                                <div class="select is-fullwidth is-white">
                                    <select id="city-option" style="border: none; 
                                    border-bottom: solid 1px #d5d5d5; box-shadow: none; font-weight:600;"
                                    
                                    name="city_name">
                                        {% for city in city_item %}
                                        <option data-url="{%url 'city_analysis' city_id=city.pk %}" value="{{city.pk}}" {% if request.GET.city_id == city.pk %}selected{% endif %}>
                                            {{city.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="icon is-small is-left is-white">
                                        <i class="fas fa-location-dot"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
        
        <div class="charts-container">
            <div class="tabs is-boxed is-warning">
                <ul>
                  <li class="is-active" data-id="daily">
                    <a>
                      <span class="icon is-small"><i class="fa-solid fa-calendar-days" aria-hidden="true"></i></span>
                      <span>Daily</span>
                    </a>
                  </li>
                  <li data-id="hourly">
                    <a>
                      <span class="icon is-small"><i class="fa-solid fa-clock" aria-hidden="true"></i></span>
                      <span>Hourly</span>
                    </a>
                  </li>
                </ul>
            </div>
            <h3 id="forecast-loading" class="section-subheader center py-6" style="display: none;color:#636363 !important">Loading forecasts...</h3>
            <h3 id="forecast-availability" class="section-subheader center py-6" style="display: none;color:#636363 !important">No Data Found</h3>

            <figure class="highcharts-figure condition-chart-container" style="display:none">
                <div id="condition-chart" class="chart" style="height:110px"></div>
            </figure>

            <figure class="highcharts-figure wind-chart-container" style="display:none">
                <div id="wind-chart" class="chart"></div>
            </figure>
            
            <figure class="highcharts-figure pressure-chart-container" style="display:none">
                <div id="pressure-chart" class="chart"></div>
            </figure>

            <figure class="highcharts-figure temperature-extremes-chart-container" style="display:none">
                <div id="temperature-extremes-chart" class="chart"></div>
            </figure>

            <figure class="highcharts-figure temperature-chart-container" style="display:none">
                <div id="temperature-chart" class="chart"></div>
            </figure>

            <figure class="highcharts-figure humidity-chart-container" style="display:none">
                <div id="humidity-chart" class="chart"></div>
            </figure>

            <figure class="highcharts-figure precipitation-chart-container" style="display:none">
                <div id="precipitation-chart" class="chart"></div>
            </figure>
        </div>

    </div>


</section>

</main>
{% endblock content %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/windbarb.js"></script>
<script src="https://code.highcharts.com/modules/datagrouping.js"></script>
{% comment %} <script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script> {% endcomment %}
<script src="https://code.highcharts.com/modules/accessibility.js"></script>



<script>

    let query_params = {
        city__id:'{{city_id}}',
        start_date:getCurrentDate(),
        // end_date:getSevenDaysFromToday(),
        effective_period__whole_day:true
    }
    
    const static_path = '{% static "forecastmanager/img/" %}'

    // Make an AJAX request to fetch the URL
    $(document).on('change', '#city-option', function() {

        var selectedOption = $(this).find(':selected');
        var dataUrl = selectedOption.data('url');
        window.location.pathname = dataUrl
        

    });


    // Custom comparison function to sort by date
function compareByDate(a, b) {
    // Convert date strings to Date objects for comparison
    const dateA = new Date(a.properties.forecast_date);
    const dateB = new Date(b.properties.forecast_date);

    // Compare the dates
    if (dateA < dateB) {
        return -1;
    } else if (dateA > dateB) {
        return 1;
    } else {
        return 0; // Dates are equal
    }
}

    // Get the current date in 'yyyy-month-dd' format
    function getCurrentDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Add 1 because months are zero-based
        const day = String(today.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Calculate the date for the seventh day from today
    function getSevenDaysFromToday() {
        const today = new Date();
        const sevenDaysLater = new Date(today);
        sevenDaysLater.setDate(today.getDate() + 7);
        const year = sevenDaysLater.getFullYear();
        const month = String(sevenDaysLater.getMonth() + 1).padStart(2, '0'); // Add 1 because months are zero-based
        const day = String(sevenDaysLater.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }


    function parseData(forecasts, params){
        // initialize param data array
        let paramData = []
        let paramDates = []
        let paramCount =0
        

        if(forecasts && params){
           
            params.map(param => {
                let paramVal = []
                forecasts.sort(compareByDate).map((forecast, i) => {
                    if(forecast.properties.city_name === '{{city_name}}'){
                        if(forecast.properties.hasOwnProperty(param.param_key)){
                            if(param.param_key === 'condition' && forecast.properties[param.param_key]){
                                return paramVal.push({
                                    tooltip:{ 
                                        // pointFormat: `{point.custom.condition}`,
                                        pointFormatter:function (){
                                            return `${this.custom.condition}`
                                        },
                                     },
                                    data: { 
                                        x:paramCount++, 
                                        y: 0, 
                                        marker: { symbol: `url(${static_path}${forecast.properties[param.param_key]}.png)`,width:40, height:40},
                                        custom: {
                                            condition: forecast.properties[param.param_key]
                                        }
                                    }
                                }
                                    
                                )
                                
                            } else{
                                return paramVal.push({data:[forecast.properties[param.param_key]],tooltip:{}})

                            }
                            

                        }
                    }
                })

                paramData.push(paramVal)


            })

            forecasts.map(forecast => {
                if(forecast.properties.city_name === '{{city_name}}'){
                    let forecast_date = forecast.properties.forecast_date.split('-')
                    let effective_time = forecast.properties.effective_period.time.split(':')
                    // paramDates.push(Date.UTC(forecast_date[0], forecast_date[1], forecast_date[2]))
                    paramDates.push(Date.UTC(
                        forecast_date[0], 
                        forecast_date[1]-1, 
                        forecast_date[2], 
                        effective_time[0],
                        effective_time[1]))
                }
            })
                    
        }


        return {
            vals:paramData,
            dates:paramDates,
        }
    }

    function createChart(container, data, params, title){

        let clean_data = parseData(data, params)
        let parsed_data = clean_data.vals
        let parsed_dates = clean_data.dates

        if(parsed_data.length > 0){

            let paramSeries = []
            let xAxis_offset;

            params.map((param, i) => {
                xAxis_offset = param.param_key === 'wind_from_direction' ? 40 : 0
                             
                if(parsed_data[i].length==0){
                    $(`.${container}-container`).hide()

                }else{
                    $(`.${container}-container`).show()
                }
                return paramSeries.push(
                    {
                        type:param.param_key === 'wind_from_direction' ? 'windbarb' : param.param_key === 'precipitation_amount' ? 'column' : param.param_key === 'condition' ? null : 'spline',
                        data: param.param_key === 'wind_from_direction' ? parsed_data[0].map((_, i) => parsed_data.flatMap(arr => {
                            if(typeof arr[i] !== "undefined"){
                                return arr[i].data
                            }
                        })) : parsed_data[i].map(arr => arr.data),    
                        name: parsed_data[i].length > 0 ? `${param.param_title} (${param.units})` : '',
                        tooltip: param.param_key === 'condition' ? parsed_data[i].map(arr => arr.tooltip)[0] : {},
                        color:param.param_key === 'condition' ? 'transparent': param.param_color,
                        showInLegend: param.param_key === 'wind_from_direction' || param.param_key === 'condition' || parsed_data[i].length == 0  ? false : true,
                    },
                )
              })

        
            Highcharts.chart(container, {
                chart: {
                      
                      scrollablePlotArea: {
                          minWidth: 600,
                          scrollPositionX: 1
                      }
                  },
                  title:{
                      text:''
                  },
              
                  subtitle: {
                      text: params[0].param_key === 'condition' ? '' : title,
                      align: 'left',

                  },
                  legend:{
                    align:'left',
                    enabled: params[0].param_key === 'condition' ? false : true,
                  },
              
                  xAxis: {
                    type: 'datetime',
                    offset:xAxis_offset,
                    gridLineWidth:1,
                    categories:parsed_dates,
                    labels: {
                        rotation:0,
                        formatter: function () {
                            // return Highcharts.dateFormat('%a. %e %b ', this.value); // Format to show Month and Year
                           return Highcharts.dateFormat( query_params.effective_period__whole_day ? `%a. %d %b` : `%a. %d %b (%I:%M%p)`, this.value); // Format to show day, day and month (time)
                        }

                    },
                    opposite: params[0].param_key === 'condition' ? true : false,
                    lineColor:params[0].param_key === 'condition' ? 'transparent' : '#333',
                    gridLineColor:params[0].param_key === 'condition' ? 'transparent' : '#e6e6e6',
                      
                  },
              
                  yAxis: {
                    title: {
                        enabled: false,
                    },
                    gridLineColor:params[0].param_key === 'condition' ? 'transparent' : '#e6e6e6',
                      labels:{
                        enabled: params[0].param_key === 'condition' ? false : true,

                      }
                     
                          
                  },
                  plotOptions: {
                    series:{
                    },
                      spline: {
                          lineWidth: 2.5,
                          states: {
                              hover: {
                                  lineWidth: 3
                              }
                          },
                          marker: {
                              enabled: false
                          },
                          
                      },
                      windbarb: {
                            color: "#000",
                            vectorLength:12,
                            
                            // shared options for all windbarb series
                        }
                  },
              
                  series: paramSeries
              
              });
        } 
        
    }
    
    
   

    let chartConfigs = [
        {
            container:'wind-chart',
            params:[
                {
                    param_title:'Wind Speed',
                    param_key:'wind_speed',
                    param_color:'#8f6e18',
                    units:'m/s',

                },
                {
                    param_title:'Wind Direction',
                    param_key:'wind_from_direction',
                    param_color:'black',
                    units:'°',
                    
                },
                
            ],
            title: 'Wind'
        },
        {
            container:'temperature-extremes-chart',
            params:[
                {
                    param_title:'Minimum Air Temperature',
                    param_key:'air_temperature_min',
                    param_color:'#2b59ad',
                    units:'°C',
                    
                },
                {
                    param_title:'Maximum Air Temperature',
                    param_key:'air_temperature_max',
                    param_color:'#a61749',
                    units:'°C',

                },
                
            ],
            title: 'Temperature Extremes'
        },
        {
            container:'temperature-chart',
            params:[
                {
                    param_title:'Air Temperature',
                    param_key:'air_temperature',
                    param_color:'#de633e',
                    units:'°C',
                    
                },
                {
                    param_title:'Dew Point Temperature',
                    param_key:'dew_point_temperature',
                    param_color:'#3ebede',
                    units:'°C',

                },
                
            ],
            title: 'Temperature'
        },
        {
            container:'humidity-chart',
            params:[
                {
                    param_title:'Relative Humidity',
                    param_key:'relative_humidity',
                    param_color:'brown',
                    units:'%',
                }
            ],
            title: 'Relative Humidity'
        },
        {
            container:'pressure-chart',
            params:[
                {
                    param_title:'Atmospheric Pressure',
                    param_key:'air_pressure_at_sea_level',
                    param_color:'#4e17a6',
                    units:'hPa',
                    
                },
                
                
            ],
            title: 'Atmospheric Pressure'
        },
        {
            container:'precipitation-chart',
            params:[
                {
                    param_title:'Precipitation',
                    param_key:'precipitation_amount',
                    param_color:'#2592db',
                    units:'mm',
                    
                },
                
                
            ],
            title: 'Precipitation'
        },
        {
            container:'condition-chart',
            params:[
                {
                    param_title:'Condition',
                    param_key:'condition',
                    param_color:'#2592db',
                    units:'',
                    
                },
            ],
            title: 'Weather Condition'
        },
        
    ]


    function renderCharts(params) {
        // Show the loading element
        $('#forecast-loading').show();

        $.ajax({
            url: "{% url 'forecast-list' %}",
            method: "GET",
            data: params,
            success: function(data) {
                if(data.length>0){
                    // Hide the loading element when data is available
                    $('#forecast-availability').hide()
                    
                    chartConfigs.map(chart =>{
                        createChart(chart.container, data, chart.params, chart.title)
                    })
                } else{
                    chartConfigs.map(chart =>{
                        $(`.${chart.container}-container`).hide()
                        $('#forecast-availability').show()
                    })

                }

                $('#forecast-loading').hide();

                
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // This function will be called if there's an error in the request
                console.error('CITY ANALYSIS ERROR:', textStatus, errorThrown);
            }
        })
    }

    // initial chart loading daily 
    renderCharts(query_params)

    $('.tabs li').on('click', function(){
        // reload based on switch between daily and hourly
        const $activeTab = $('.tabs li.is-active');
        const $this = $(this);
        const dataId = $this.attr('data-id');        

        query_params.effective_period__whole_day = dataId === 'daily' ? true : false
        renderCharts(query_params)

        $activeTab.removeClass('is-active');
        $this.addClass('is-active');
    })
    
    
</script>

{% endblock extra_js %}