{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags lazyimages_tags nmhs_cms_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="{% static 'css/hero.css' %}" type="text/css" rel="stylesheet"/>
    <link href='{% static "css/maplibre-gl.css" %}' rel='stylesheet'/>
    <link href='{% static "css/bulma-carousel.min.css" %}' rel='stylesheet'/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/partners.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/zoom-to-location-control.css' %}">
    {% if page.youtube_playlist %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.skeleton.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/video_include.css' %}">
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/forecast_widget.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="home-hero-wrapper">
        {% include 'home/section/hero_include.html' %}
    </div>
    <main class="is-index">
        {% include 'home/section/weather_watch_include.html' %}
        {% include 'home/section/services_include.html' %}
        {% include 'home/section/updates_include.html' %}

        {% if page.youtube_playlist %}
            <section class="has-text-centered videos" id="videoSection">
                <div class="container is-align-content-center">
                    <h2 class="section-title has-text-centered">{% translate 'Latest Media' %}  </h2>
                    {% include 'videos_skeleton.html' %}
                </div>
            </section>
        {% endif %}

        {% if page.feature_block %}
            <section class="feature-block-section">
                {% for block in page.feature_block %}
                    {% include_block block with is_even=forloop.counter|divisibleby:2 %}
                {% endfor %}
            </section>
        {% endif %}
        {% if page.partners %}
            <section>
                <div class="container">
                    <h2 class="section-title has-text-centered"> {% translate "Our Partners" %}</h2>
                    <div class="columns is-multiline is-mobile is-centered partners-list">
                        {% for partner in page.partners %}
                            {% if partner.visible_on_homepage and partner.logo %}
                                <div class="column is-4-mobile is-4-tablet is-2-desktop  partner-item">
                                    <a href="{% if partner.link %}{{ partner.link }} {% else %}{% endif %}"
                                       target="{% if partner.link %}_blank{% else %}_self{% endif %}"
                                       rel="noopener">
                                        <div class="partner-img-wrapper" title="{{ partner.name }}">
                                            <figure class="image">
                                                {% image partner.logo original as p_logo %}
                                                <img class="progressive__img progressive--not-loaded"
                                                     data-progressive="{{ p_logo.url }}"
                                                     src="{% lazy_image_url p_logo %}" alt="{{ partner.name }}"/>
                                            </figure>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if settings.base.ImportantPages.all_partners_page %}
                        <div class="more-container" style="justify-content: center">
                            <a class="center more" href="{{ settings.base.ImportantPages.all_partners_page.url }}" }>
                                {% translate "More Partners" %}
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock content %}


{% block extra_js %}
    <script src="{% static 'js/maplibre-gl.js' %}"></script>
    <script src="{% static 'js/turf.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bulma-carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bulmahead.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zoom-to-location-control.js' %}"></script>

    {% if page.youtube_playlist %}
        <script src="{% static 'js/jquery.scheletrone.js' %}"></script>
    {% endif %}
    <script>
        const homeMapSettingsUrl = "{{ home_map_settings_url|default_if_none:"" }}"
        const homeWeatherWidgetUrl = "{{ home_weather_widget_url|default_if_none:"" }}"

        const page_youtube_playlist ={{ page.youtube_playlist|yesno:'true,false' }};

        const citySearchUrl = "{{ city_search_url }}"
        const cityDetailUrl = "{{ city_detail_page_url|default_if_none:"" }}"

        const onSelectCity = ({label, value}) => {
            if (cityDetailUrl) {
                let url
                // Check if the URL ends with a slash
                if (cityDetailUrl.charAt(cityDetailUrl.length - 1) === '/') {
                    // If it does, append the path without an extra slash
                    url = cityDetailUrl + value;
                } else {
                    // If it doesn't, append the path with a leading slash
                    url = cityDetailUrl + '/' + value;
                }

                window.location.href = url;
            }
        }

        const getMatchingCity = (name) => {
            return fetch(`${citySearchUrl}?name=${name}`)
                .then(response => response.json())
                .then(data => {
                    return data.map(city => {
                        return {
                            label: city.name,
                            value: city.slug
                        }
                    })
                })
        }

        $(document).ready(function () {
            const weatherWidgetWrapper = $("#weather-widget-wrapper")

            if (weatherWidgetWrapper.length && homeWeatherWidgetUrl) {
                fetch(homeWeatherWidgetUrl)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error fetching weather widget data');
                        }
                        return response.text();
                    })
                    .then(data => {
                        weatherWidgetWrapper.html(data)

                        const citySearch = $('#city-search')
                        if (citySearch.length) {
                            bulmaHead('city-search', 'city-search-menu', getMatchingCity, onSelectCity, 200, 0);
                        }

                        const cityForecastCarousel = $("#forecast-widget-carousel")
                        if (cityForecastCarousel.length) {
                            bulmaCarousel.attach("#forecast-widget-carousel", {
                                slidesToScroll: 2,
                                slidesToShow: 3,
                                navigation: true,
                                loop: true,
                                breakpoints: [
                                    {changePoint: 480, slidesToShow: 1, slidesToScroll: 1},
                                    {changePoint: 640, slidesToShow: 2, slidesToScroll: 1},
                                    {changePoint: 768, slidesToShow: 3, slidesToScroll: 1},
                                    {changePoint: 1200, slidesToShow: 2, slidesToScroll: 1}
                                ]
                            });

                            cityForecastCarousel.css('visibility', 'visible');
                        }
                    })
                    .catch(error => {
                        console.error('HOME_WEATHER_WIDGET_ERROR:', error);
                    });
            }


            if (page_youtube_playlist) {
                const url = "{{ youtube_playlist_url }}";
                const $videoWrapper = $('#videoWrapper');

                if ($videoWrapper.length) {
                    $videoWrapper.scheletrone({
                        onComplete: function () {
                            $.ajax({
                                url: url,
                                dataType: "html",
                                success: function (data) {
                                    // if we have videos append them, else hide whole section
                                    if (data) {
                                        $('#videoWrapper').html('').append(data).ready();
                                    } else {
                                        $('#videoSection').remove()
                                    }
                                },
                                error: function () {
                                    $('#videoSection').remove()
                                }
                            });
                        }
                    });
                }


            }
        });

    </script>

    <script type="text/javascript" src="{% static 'js/weather_watch.js' %}"></script>
{% endblock %}