.update-card-tag {
    color: #f7a600;
}

a.result-list-item-more {
    color: orange;
}


a.result-list-item-more:hover {
    color: #cc7c09;
}

a.result-list-item-title:hover {
    opacity: 0.8;
}


.results-view svg path {
    fill: currentColor !important;
}
