{% extends "base.html" %}
{% load static wagtailimages_tags i18n wagtailcore_tags %}

{% block body_class %}weather{% endblock %}

{% block content %}
    <main class="is-index">
        {% if page.introduction_image %}
            <section class="nmhs-work is-desktop">
                <div class="work container">
                    {% include 'service_introduction.html' with page=page %}
                </div>
            </section>
        {% else %}
            <section class="nmhs-work intro-section">
                <div class="work container">
                    <h2 class="section-subheader">
                        {{ page.introduction_title }}
                    </h2>
                    <div class="intro-description format-text">
                        {{ page.introduction_text|richtext }}
                    </div>
                </div>
            </section>
        {% endif %}
        <section class="all-news-section listing-section">
            <h2 id="results" class="section-title center">
                {% translate "Browse Updates" %}
            </h2>
            <div class="container">
                <div class="columns">
                    <div class="column is-3 is-full-mobile">
                        {% include 'weather/dailyreports_filter_include.html' with filters=page.filters %}
                    </div>
                    <div class="column is-9 is-full-mobile">
                        {% include 'weather/dailyreports_list_include.html' with items=daily_weather_reports %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function () {

            // If on smaller screens, collapse all filter items
            const windowWidth = $(window).width();

            if (windowWidth <= 768) {
                //for  smaller devices
                $('.results-filter .js-accordion-item').removeClass('active');
            }

            const listButton = $("#list-view-button");
            const gridButton = $("#grid-view-button");
            const wrapper = $(".results-list");
            const resultItem = $(".result-list-item");


            const params = getParams(window.location.href);

            // mark checkboxes from params url, on load
            markCheckboxesFromUrlParams('report-filter', params, function (params) {
                if (params && params.view) {
                    if (params.view === 'grid') {
                        listButton.removeClass("active");
                        gridButton.addClass("active");
                        wrapper.removeClass("list-view").addClass("grid-view columns is-mobile is-multiline");
                        resultItem.addClass("column is-one-third-desktop is-full-mobile");
                    } else {
                        gridButton.removeClass("active");
                        listButton.addClass("active");
                        wrapper.removeClass("grid-view columns is-mobile is-multiline").addClass("list-view");
                        resultItem.removeClass("column is-one-third-desktop is-full-mobile");
                    }
                }
            });

            const baseUrl = "{{ page.url }}";


            filterChangeListener('report-filter', params, function (clickedEl, url_params) {
                window.location.href = `${baseUrl}?${url_params}#results`;

            });

        });

    </script>

{% endblock %}



