{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<!-- <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}"> -->


{% endblock extra_css %}


{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% include 'section/hero_include.html' %}
<main class="is-index">

{% include 'section/forecast_include.html' %}

{% include 'section/climate_include.html' %}
{% include 'section/services_include.html' %}
{% include 'section/updates_include.html' with page=page %}
{% include 'section/media_include.html' %}
</main>

{% endblock content %}

