# Database
DATABASE_URL=postgis://postgres:postgres@localhost:5432/climweb

# Django
SECRET_KEY=django-insecure-5=&i=f&w$_2=ktbhw43anl(uxgue*-i23r!1uibrh9l7-$q-1#
DEBUG=True
ALLOWED_HOSTS=*

# Redis (required for Celery/caching)
REDIS_HOST=localhost
REDIS_PORT=6379

# Wagtail
WAGTAILADMIN_BASE_URL=http://localhost:8300

# Localisation
LANGUAGE_CODE=en
TIME_ZONE=Africa/Nairobi

# ClimWeb
IS_METEOROLOGICAL=True