x-climweb-variables: &climweb-variables
  WAIT_HOSTS: climweb_db:5432,climweb_memcached:11211
  WAIT_TIMEOUT: 120
  GUNICORN_NUM_OF_WORKERS: ${CMS_NUM_OF_WORKERS:-4}
  GUNICORN_TIMEOUT: ${CMS_GUNICORN_TIMEOUT:-300}
  DEBUG: ${CMS_DEBUG}
  WAGTAIL_SITE_NAME: ${CMS_SITE_NAME}
  ADMIN_URL_PATH: ${CMS_ADMIN_URL_PATH}
  TIME_ZONE: ${TIME_ZONE}
  SECRET_KEY: ${SECRET_KEY}
  ALLOWED_HOSTS: ${ALLOWED_HOSTS}
  CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
  DATABASE_URL: postgis://${CMS_DB_USER}:${CMS_DB_PASSWORD}@climweb_db:5432/${CMS_DB_NAME}
  MEMCACHED_URI: climweb_memcached:11211
  EMAIL_HOST: ${SMTP_EMAIL_HOST}
  EMAIL_PORT: ${SMTP_EMAIL_PORT}
  EMAIL_USE_TLS: ${SMTP_EMAIL_USE_TLS}
  EMAIL_HOST_USER: ${SMTP_EMAIL_HOST_USER}
  EMAIL_HOST_PASSWORD: ${SMTP_EMAIL_HOST_PASSWORD}
  DJANGO_ADMINS: ${CMS_ADMINS}
  DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
  RECAPTCHA_PUBLIC_KEY: ${RECAPTCHA_PUBLIC_KEY}
  RECAPTCHA_PRIVATE_KEY: ${RECAPTCHA_PRIVATE_KEY}
  RECAPTCHA_DOMAIN: ${RECAPTCHA_DOMAIN:-www.google.com}
  RECAPTCHA_VERIFY_REQUEST_TIMEOUT: ${RECAPTCHA_VERIFY_REQUEST_TIMEOUT:-60}
  NEXTJS_SERVER_URL: http://climweb_mapviewer:3000
  CMS_UPGRADE_HOOK_URL: ${CMS_UPGRADE_HOOK_URL}
  WAGTAILADMIN_BASE_URL: ${CMS_BASE_URL}
  LANGUAGE_CODE: ${CMS_DEFAULT_LANGUAGE_CODE}
  CMS_BROKER_URI: mqtt://${CMS_BROKER_USERNAME}:${CMS_BROKER_PASSWORD}@climweb_mosquitto:1883
  MBGL_RENDERER_URL: http://climweb_mbgl_renderer:80/render
  CAP_CERT_PATH: ${CAP_CERT_PATH:-}
  CAP_PRIVATE_KEY_PATH: ${CAP_PRIVATE_KEY_PATH:-}
  CAP_SIGNATURE_METHOD: ${CAP_SIGNATURE_METHOD:-ECDSA_SHA256}

services:
  climweb_db:
    container_name: climweb_db
    image: postgis/postgis:15-master
    restart: no
    environment:
      - POSTGRES_USER=${CMS_DB_USER}
      - POSTGRES_DB=${CMS_DB_NAME}
      - POSTGRES_PASSWORD=${CMS_DB_PASSWORD}
    ports:
      - "5432"
    volumes:
      - ${CMS_DB_VOLUME}:/var/lib/postgresql/data/

  climweb_memcached:
    image: memcached:1.6.12-alpine
    container_name: climweb_memcached
    restart: no
    ports:
      - "11211"
    entrypoint:
      - memcached
      - -m 1024
      - -I 10m

  climweb:
    image: climweb
    container_name: climweb
    platform: linux/x86_64
    build:
      context: .
      dockerfile: ./climweb/Dockerfile
    restart: no
    expose:
      - 8000
    environment:
      <<: *climweb-variables
    ports:
      - "8000"
    volumes:
      - ${CMS_STATIC_VOLUME}:/climweb/web/src/climweb/static
      - ${CMS_MEDIA_VOLUME}:/climweb/web/src/climweb/media
      - ${BACKUP_VOLUME}:/climweb/web/src/climweb/backup

  climweb_mapviewer:
    image: climweb_mapviewer
    container_name: climweb_mapviewer
    restart: always
    platform: linux/x86_64
    build:
      context: ./deploy/mapviewer
      args:
        - CMS_API=${MAPVIEWER_CMS_API}
        - BASE_PATH=${MAPVIEWER_BASE_PATH}
        - ASSET_PREFIX=${MAPVIEWER_ASSET_PREFIX}
        - ANALYTICS_PROPERTY_ID=${ANALYTICS_PROPERTY_ID}
        - BITLY_TOKEN=${BITLY_TOKEN}
        - GOOGLE_CUSTOM_SEARCH_CX=${GOOGLE_CUSTOM_SEARCH_CX}
        - GOOGLE_SEARCH_API_KEY=${GOOGLE_SEARCH_API_KEY}
        - NEXT_TELEMETRY_DISABLED=1
    volumes:
      - ${MAPVIEWER_NEXT_STATIC_VOLUME}:/app/nginx/.next/static
    ports:
      - "3000"

  climweb_nginx:
    container_name: climweb_nginx
    image: nginx:1.20.2-alpine
    restart: always
    volumes:
      - ${CMS_STATIC_VOLUME}:/wagtail_static
      - ${CMS_MEDIA_VOLUME}:/wagtail_media
      - ${MAPVIEWER_NEXT_STATIC_VOLUME}:/mapviewer/static
      - ./deploy/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - climweb