affine==2.4.0
aiohttp==3.8.6
aiosignal==1.3.1
amqp==5.1.1
anyascii==0.3.2
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
cachetools==5.3.0
capeditor==0.4.9
Cartopy==0.22.0
celery==5.2.7
certifi==2023.07.22
cffi==1.15.1
cftime==1.6.2
channels==4.0.0
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cligj==0.7.2
contourpy==1.0.7
cryptography==41.0.4
cycler==0.11.0
django-dbbackup
deep-translator==1.11.1
defusedxml==0.7.1
Django==4.2.7
django-allauth==0.54.0
django-background-tasks-updated==1.2.7
django-bootstrap5==21.3
django-bulma==0.8.3
django-cleanup==8.0.0
django-cogwheels==0.3
django-cors-headers==4.0.0
django-deep-translator==1.4.0
django-environ==0.9.0
django-eventtools==1.0.3
django-extensions==3.2.1
django-filter==23.3
django-i18n-model==0.0.9
django-inline-svg==0.1.1
django-json-widget==1.1.1
django-jsonfield-backport==1.0.5
django-large-image==0.10.0
django-manifest-loader==1.0.0
django-meta==2.1.0
django-modelcluster==6.3
django-nextjs==2.4.0
django-permissionedforms==0.1
django-positions==0.6.0
django-recaptcha==3.0.0
django-tables2==2.6.0
django-tables2-bulma-template==0.2.0
django-taggit==3.1.0
django-timezone-field==5.0
django-treebeard==4.6.0
django-widget-tweaks==1.4.12
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djangorestframework-xml==2.0.0
draftjs-exporter==2.1.7
drf-spectacular==0.26.2
et-xmlfile==1.1.0
filelock==3.12.0
filetype==1.2.0
Fiona==1.9.4.post1
fonttools==4.39.4
forecastmanager==0.4.2
frozenlist==1.3.3
future==0.18.3
geomanager==0.4.6
geopandas==0.13.0
google-api-core==2.11.0
google-api-python-client==2.79.0
google-auth==2.16.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
gunicorn==20.1.0
html5lib==1.1
httplib2==0.22.0
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
inflection==0.5.1
iso8601==1.1.0
jsonschema==4.17.3
kiwisolver==1.4.4
kombu==5.3.0
l18n==2021.3
mailchimp3==3.0.18
matplotlib==3.7.1
morecantile==3.4.0
multidict==6.0.4
netCDF4==1.6.4
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
OWSLib==0.29.2
packaging==23.1
palettable==3.3.3
pandas==2.0.2
Pillow==10.0.1
polib==1.2.0
prompt-toolkit==3.0.38
protobuf==4.23.2
psycopg2-binary==2.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.8
PyJWT==2.7.0
pykdtree==1.3.7.post0
pymemcache==4.0.0
pyparsing==3.0.9
pyproj==3.5.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0
rasterio==1.3.6
requests==2.31.0
requests-oauthlib==1.3.1
rio-cogeo==3.5.1
rioxarray==0.14.1
rsa==4.9
shapely==2.0.1
six==1.16.0
snuggs==1.4.7
soupsieve==2.4.1
sqlparse==0.4.4
telepath==0.3.1
typing_extensions==4.6.3
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.7
vine==5.0.0
Wand==0.6.11
wagtail==5.2
wagtail-adminsortable @ https://github.com/Lh4cKg/wagtail-admin-sortable/archive/baa0d1f13a6bca4cc60e0d7dcd0522ecafcf5d67.zip#sha256=ab6ea62b180659f56330397e97e9fcc2769dd10801f52fd259bc3175d77e27b7
wagtail-cache==2.3.0
wagtail-color-panel==1.4.1
wagtail-django-recaptcha==1.0
wagtail-font-awesome-svg==1.0.1
wagtail-humanitarian-icons==2.0.0
wagtail-icon-chooser==0.0.6
wagtail-lazyimages==0.1.5
wagtail-mailchimp-integration==0.0.9
wagtail-mautic-integration==0.0.1
wagtail-metadata==4.0.3
wagtail-modeladmin==1.0.0
wagtail-modelchooser==4.0.1
wagtail-surveyjs==0.0.1
wagtail-webstories-editor==0.0.2
wagtail-zoom-integration==0.0.5
wagtailgeowidget==7.0.0
wagtailleafletwidget==1.0.3
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
whitenoise==6.4.0
Willow==1.6.2
xarray==2023.4.2
yarl==1.9.2
zipp==3.15.0