{% load i18n wagtailcore_tags wagtailimages_tags lazyimages_tags wagtailiconchooser_tags %}

{% if page.latest_updates %}
<section class="section">
  <div class="container py-5">

    <div class="my-6">
      <p class="is-uppercase has-text-weight-bold is-size-8 mb-1" style="color:var(--primary-color); letter-spacing:0.08em;">
        {% translate "Latest Updates" %}
      </p>
      <h2 class="title is-3">{% translate "News, Events and Publications" %}</h2>
      <p class="subtitle is-6 has-text-grey">
        {% translate "Stay informed with real-time bulletins, seasonal outlooks, and updates from us." %}
      </p>
    </div>

    <div class="columns is-multiline is-8">
      {% for update in page.latest_updates %}
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          {% include 'update_card_include.html' with card=update.card_props show_type=True %}
        </div>
      {% endfor %}
    </div>

    <div class="columns is-vcentered mt-4" style="justify-content: space-between">
      <div class="column is-narrow">
        {% if settings.base.ImportantPages.all_news_page %}
         
          <a class="more-partners" href="{{ settings.base.ImportantPages.all_partners_page.url }}">
            {% translate "All News" %}
            </a>
        {% endif %}
        
      </div>
      <div class="column is-narrow">
        {% if settings.base.ImportantPages.all_publications_page %}
         
          <a class="more-partners" href="{{ settings.base.ImportantPages.all_partners_page.url }}">
            {% translate "All Publications" %}
            </a>
        {% endif %}
      </div>
    </div>

  </div>
</section>
{% endif %}