.report-item {
    padding-bottom: 40px;
}

.report-item .report-item-title {
    padding: 10px;
    margin-bottom: 10px;
    border-left: 2px solid var(--primary-color);
    background-color: #f8f9fb;
}

.report-item .report-item-date {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.report-item .report-item-date svg {
    margin-right: 10px;
}

.extremes-observation-section {
    margin-top: 20px;
    padding: 40px;
    background-color: #f8f9fb;
}

.extremes-observation-title {
    font-size: 18px;
    font-weight: 600;
}

.parameter-name {
    font-weight: 600;
    padding: 10px 0;
}

.station-observation {
    display: flex;
}

.station-observation .station-name {
    font-weight: 600;
    margin-right: 20px;
}