{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n l10n %}
{% block titletag %}{% blocktrans with title=icon.title %}Editing icon {{ title }}{% endblocktrans %}{% endblock %}
{% block extra_css %}
    {{ block.super }}

    {{ form.media.css }}

{% endblock %}

{% block extra_js %}
    {{ block.super }}

    {{ form.media.js }}

    {% url 'wagtailadmin_tag_autocomplete' as autocomplete_url %}
    <script>
        $(function () {
            $('#id_tags').tagit({
                autocomplete: {source: "{{ autocomplete_url|addslashes }}"}
            });
        });
    </script>
    <!-- Focal point chooser -->
    <script src="{% versioned_static 'wagtailadmin/js/vendor/jquery.ba-throttle-debounce.min.js' %}"></script>

{% endblock %}

{% block content %}
    {% trans "Editing" as editing_str %}
    {% include "wagtailadmin/shared/header.html" with title=editing_str subtitle=icon.title icon="image" %}

    <form action="{% url 'webicons:edit' icon.id %}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row row-flush nice-padding">
            <div class="col6">
                <ul class="fields">
                    {% for field in form %}
                        {% if field.name == 'file' %}
                            {% include "wagtailimages/images/_file_field.html" with li_classes="label-above label-uppercase" %}
                        {% elif field.is_hidden %}
                            {{ field }}
                        {% else %}
                            {% include "wagtailadmin/shared/field_as_li.html" with li_classes="label-above label-uppercase" %}
                        {% endif %}
                    {% endfor %}
                </ul>
                {% comment %} <div class="u-hidden@xs">
                    <input type="submit" value="{% trans 'Save' %}" class="button"/>
                    {% if user_can_delete %}
                        <a href="{% url 'webicons:delete' icon.id %}"
                           class="button button-secondary no">{% trans "Delete icon" %}</a>
                    {% endif %}

                </div> {% endcomment %}
            </div>

            <div class="col6">
                <figure style="max-height: 300px;max-width: 300px">
                    <img src="{{ icon.file.url }}" style="object-fit: contain" alt="{{ icon.title }}">
                </figure>

            </div>
        </div>

        <div class="row row-flush nice-padding u-hidden@sm">
            <div class="col5">
                <input type="submit" value="{% trans 'Save' %}" class="button"/>
                {% if user_can_delete %}
                    <a href="{% url 'webicons:delete' icon.id %}"
                       class="button button-secondary no">{% trans "Delete icon" %}</a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
