<section style="background-color:#f9f9f9; padding-top: 4rem; padding-bottom:4rem;" class="has-text-centered">
    <div class="container">

        <h2 class="title py-4" style="font-size: 27px; font-weight:700"> Explore Current Conditions</h2>

        <div class="columns is-justify-content-center">
            <div class="column is-11">
                <div class="card">
                    <div id="climate-map" style="min-height: 400px;border-radius: 0.5rem;"></div>



                </div>

            </div>
        </div>

        <div style="padding-top: 1rem;">
            <a class="button is-dark" style="font-weight: 500;">
                <span>Climate Change</span>

                <span class="icon">
                    <i class="fa fa-chevron-right"></i>
                </span>
            </a>
        </div>
    </div>


</section>