{% load static %}

{% block extra_css %}
<style>
  .stop-label {
    position: absolute;
    top: 1.5em;
    transform: translateY(-50%);
    font-size: 12px;
  }

  :root {
    --stops: 7;
    /* Define the number of color stops */
  }

  .stop-label:nth-child(n+1) {
    left: calc((100% / var(--stops)) * (n - 1));
  }

  .stop-label:last-child {
    right: 0;
  }

  .layer-list .layer-item {
    border-radius: 2em;
    padding: 0.5em 1em;
    font-size: 14px;
    background-color: rgba(73, 73, 73, 0.8);
    color: white;
    font-weight: 400;


  }

  .layer-list .layer-item.active {
    background-color: rgba(62,142,208, 0.8);
    font-weight: 600;


  }

  .layer-list .layer-item {
    cursor: pointer;
  }

  .legend-panel {
    position: absolute;
    top: 1.0em;
    right: 0.5em;
    z-index: 1;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    height: auto
  }



  .layer-panel {
    position: absolute;
    top: 1.0em;
    left: 0.5em;
    z-index: 1;

    padding: 10px;
    border-radius: 5px;
    text-align: left;
    height: auto
  }

  .layer-panel .layer-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
</style>
{% endblock extra_css %}

{% if self.enable_climate == True %}

{% comment %} <section class="listing-section">
  <h2 id="results" class="section-title has-text-centered">Browse CAP Alerts</h2>
  <div class="container">
    <div class="columns" style="width: 100%;margin: 0">
      <div class="column is-3 is-full-mobile">
        {% include 'cap_filter_include.html' with filters=page.filters %}
      </div>
      <div class="column is-9 is-full-mobile">
        {% include 'cap_list_include.html' with caps=caps %}
      </div>
    </div>
  </div>
</section> {% endcomment %}

<section style="background-color:#f9f9f9; padding-top: 4rem; padding-bottom:4rem;" class="has-text-centered">
  <div class="container">

    <h2 class="title py-4" style="font-size: 27px; font-weight:700">{{self.climate_title}}</h2>

    <div class="columns is-justify-content-center">
      <div class="column is-11">
        <div class="card">
          <div id="climate-map" style="min-height: 450px;border-radius: 0.5rem;"></div>

          <div id="floating-layer" class="layer-panel">
            <div class="layer-list has-text-white">

              <div class="field has-addons">

                <p class="control pb-0" style="background-color:#f5f5f5;border-radius:2em">

                {% for wms_category in self.get_wms_layers.categories %}

                  <button class="button category-btn is-light" id="{{wms_category.id}}" style="border-radius:2em">
                    {{wms_category.name}}
                  </button>
                
                {% endfor %}
              </p>

              </div>


              {% comment %} {% for wms in self.get_wms_layers.wms_layers %} {% endcomment %}
              <div class="layer-list-items">
             
              </div>

              {% comment %} {% endfor %} {% endcomment %}

            </div>
          </div>
          <div id="floating-legend" class="legend-panel">
          </div>

        </div>

      </div>
    </div>

    <div style="padding-top: 1rem;">
      <a class="button is-dark has-text-white" style="font-weight: 500; font-size:15px;border-radius: 0.4em;">
        <span>Explore on Hazards Watch</span>

        <span class="icon">
          <i class="fa fa-chevron-right"></i>
        </span>
      </a>
    </div>
  </div>
</section>

{% endif %}

{% block extra_js %}
<script>
  var country_geom  = "{{settings.site_settings.OrganisationSetting.country.geom}}"
  const countryIso = "{{settings.site_settings.OrganisationSetting.country.iso}}"

  var wms_layers = JSON.parse('{{self.get_wms_layers.wms_layers_json|escapejs}}')
  
  

</script>
<script type="text/javascript" src="{% static 'js/climate_map.js' %}"></script>


{% endblock extra_js %}