{% load static %}

{% block extra_css %}
<style>
  .stop-label {
    position: absolute;
    top: 1.5em;
    transform: translateY(-50%);
    font-size: 12px;
  }

  :root {
    --stops: 7;
    /* Define the number of color stops */
  }

  .stop-label:nth-child(n+1) {
    left: calc((100% / var(--stops)) * (n - 1));
  }

  .stop-label:last-child {
    right: 0;
  }

  .layer-list .layer-item {
    border-radius: 2em;
    padding: 0.5em 1em;
    font-size: 14px;
    background-color: rgba(73, 73, 73, 0.8);
    color: white;
    font-weight: 400;


  }

  .layer-list .layer-item.active {
    background-color: rgba(41, 78, 156, 0.8);
    font-weight: 600;


  }

  .layer-list .layer-item {
    cursor: pointer;
  }

  .legend-panel {
    position: absolute;
    top: 1.0em;
    right: 0.5em;
    z-index: 1;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    height: auto
  }



  .layer-panel {
    position: absolute;
    top: 1.0em;
    left: 0.5em;
    z-index: 1;

    padding: 10px;
    border-radius: 5px;
    text-align: left;
    height: auto
  }

  .layer-panel .layer-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
</style>
{% endblock extra_css %}

{% if self.enable_climate == True %}

{% comment %} <section class="listing-section">
  <h2 id="results" class="section-title has-text-centered">Browse CAP Alerts</h2>
  <div class="container">
    <div class="columns" style="width: 100%;margin: 0">
      <div class="column is-3 is-full-mobile">
        {% include 'cap_filter_include.html' with filters=page.filters %}
      </div>
      <div class="column is-9 is-full-mobile">
        {% include 'cap_list_include.html' with caps=caps %}
      </div>
    </div>
  </div>
</section> {% endcomment %}

<section style="background-color:#f9f9f9; padding-top: 4rem; padding-bottom:4rem;" class="has-text-centered">
  <div class="container">

    <h2 class="title py-4" style="font-size: 27px; font-weight:700">{{self.climate_title}}</h2>

    <div class="columns is-justify-content-center">
      <div class="column is-11">
        <div class="card">
          <div id="climate-map" style="min-height: 450px;border-radius: 0.5rem;"></div>

          <div id="floating-layer" class="layer-panel">
            <div class="layer-list has-text-white">


              {% for wms in self.get_wms_layers.wms_layers %}
              <h2 id="{{wms.id}}"
                class="layer-item subtitle {% if wms == self.get_wms_layers.wms_layers|first %}active{% endif %} ">
                {{wms.title}}
              </h2>

              {% endfor %}

            </div>
          </div>
          <div id="floating-legend" class="legend-panel">
          </div>

        </div>

      </div>
    </div>

    <div style="padding-top: 1rem;">
      <a class="button is-dark has-text-white" style="font-weight: 500; font-size:15px;border-radius: 0.4em;">
        <span>Explore on Hazards Watch</span>

        <span class="icon">
          <i class="fa fa-chevron-right"></i>
        </span>
      </a>
    </div>
  </div>
</section>

{% endif %}

{% block extra_js %}
<script>

  function roundToNearestHour(date) {
    date.setMinutes(date.getMinutes() + 30);
    date.setMinutes(0, 0, 0);

    return date;
  }

  function subtractHours(date, hours) {
    date.setHours(date.getHours() - hours);
    return date;
  }

  const displayTime = new Date()
  const wmsTime = roundToNearestHour(displayTime).toISOString()

  const climateMap = new maplibregl.Map({
    container: 'climate-map', // container ID
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: "https://api.maptiler.com/maps/basic-v2/style.json?key=uYCBTRo5fyHCkPvoa5Io",
    center: [30.30252782218591,
      15.302857659429051], // starting position [lng, lat]
    zoom: 4.2, // starting zoom
    scrollZoom: false
  });

  // Add zoom and rotation controls to the map.
  climateMap.addControl(new maplibregl.NavigationControl(), 'bottom-right');

  climateMap.on("load", () => {

    if ('{{settings.site_settings.OrganisationSetting.country.geom}}') {
      const wktWithoutSrids = '{{settings.site_settings.OrganisationSetting.country.geom}}'.replace(/^SRID=\d+;/, "");

      // define a regular expression pattern to match the coordinates
      const pattern = /\(([^()]+)\)/g;

      // create an array to store the coordinates
      let coordinates = [];

      // loop through each match of the pattern and extract the coordinates
      let match;
      while ((match = pattern.exec(wktWithoutSrids)) !== null) {
        // split the match into individual coordinates
        const coords = match[1].trim().split(', ');
        // convert the coordinates to an array of numbers
        const coordsArray = coords.map(coord => coord.split(" ").map(co => Number(co)));
        // add the coordinates to the array
        coordinates.push(coordsArray);

      }

      var multipolyFeature = {
        type: "Feature",
        geometry: {
          type: "MultiPolygon",
          coordinates: [coordinates],
        },
      }

      // output the coordinates to the console
      var bounds = turf.bbox({
        type: "FeatureCollection",
        features: [multipolyFeature],
      });
      climateMap.fitBounds(bounds, { padding: 20 });

    }

    const styleLayers = map.getStyle().layers;

    // Find the index of the first symbol layer in the map style.
    let admin0Boundaries, admin1Boundaries, admin2Boundaries;
    for (const l of styleLayers) {
      if (l.id === "border_other") {
        admin0Boundaries = l.id;
      }
      if (l.id === "border_disputed") {
        admin1Boundaries = l.id;
      }
      if (l.id === "border_country") {
        admin2Boundaries = l.id;
      }
    }
    // Get all the items
    const layer_items = document.querySelectorAll('.layer-item');
    var wms_layers = JSON.parse('{{self.get_wms_layers.wms_layers_json|escapejs}}')

    $('#floating-legend').html(`
      <p style="font-weight:600; font-size:14px;margin-bottom:0" class="title">${wms_layers[0].title}</p>
      <p style="margin:0;font-size:12px;" class="subtitle">${wms_layers[0].subtitle}</p>
      <p style="margin:0;font-size:12px;" class="subtitle"><b>Period:</b> ${displayTime} </p>

      <div style="width: 100%;
          height: 0.3em;
          position: relative;
          margin-bottom:2em;
          background: linear-gradient(to right,${wms_layers[0].legend_colors.map(legend => legend.item_color)});
        ">
        ${wms_layers[0].legend_colors.map((legend, i) => `<span class="stop-label" style="left: calc( (100% / ${wms_layers[0].legend_colors.length}) * (${i}) )">${legend.item_val}</span>`).join(" ")}

      </div>
    `)

    const countryIso = "{{settings.site_settings.OrganisationSetting.country.iso}}"

    fetch(`http://20.56.94.119/api/geostore/admin/${countryIso}?thresh=0.005`)
      .then(response => response.json())
      .then(data => {
        climateMap.addSource('wms-source', {
          type: "raster",
          tiles: [
            `http://20.56.94.119/gsky/ows/gfs?service=WMS&request=GetMap&version=${wms_layers[0].version}&width=${wms_layers[0].width}&height=${wms_layers[0].height}&styles=&transparent=${wms_layers[0].transparent}&srs=${wms_layers[0].srs}&bbox={bbox-epsg-3857}&format=${wms_layers[0].format}&time=${wmsTime}&layers=${wms_layers[0].layers__name}&geojson_feature_id=${data.data.id}&canClipToGeom=true`,
          ],
          minzoom: 3,
          maxzoom: 12,
          'tileSize': 256

        });

        climateMap.addLayer({
          'id': 'wms-layer',
          'type': 'raster',
          'source': 'wms-source',
          //'paint': {
          //  'raster-opacity': 0.8
          //}
        }, admin0Boundaries, admin1Boundaries, admin2Boundaries);

        // Loop through the items and add a click event listener to each
        layer_items.forEach(item => {

          item.addEventListener('click', () => {
            // Remove the active class from all items

            layer_items.forEach(item => {
              //  const item_id = item.id;

              item.classList.remove('active');

            });
            wms_layers.map(layer => {

              if (layer.id == item.id) {
                $('#floating-legend').html(`
                  <p style="font-weight:600; font-size:14px;margin-bottom:0" class="title">${layer.title}</p>
                      <p style="margin:0;font-size:12px;" class="subtitle">${layer.subtitle}</p>
                      <p style="margin:0;font-size:12px;" class="subtitle"><b>Period:</b> ${displayTime}</p>

                      <div style="width: 100%;
                                          height: 0.3em;
                                          position: relative;
                                          margin-bottom:2em;
                                          background: linear-gradient(to right, ${layer.legend_colors.map(legend => legend.item_color)});
                                        ">
                                        ${layer.legend_colors.map((legend, i) => `<span class="stop-label" style="left: calc( (100% / ${layer.legend_colors.length}) * (${i}) )">${legend.item_val}</span>`).join(" ")}
                       
                      </div>
                  `)

                if (climateMap.getLayer("wms-layer")) {
                  climateMap.removeLayer("wms-layer");
                }
                if (climateMap.getSource("wms-source")) {
                  climateMap.removeSource("wms-source");
                }

                climateMap.addSource('wms-source', {
                  type: "raster",
                  tiles: [
                    `http://20.56.94.119/gsky/ows/gfs?service=WMS&request=GetMap&version=${layer.version}&width=${layer.width}&height=${layer.height}&styles=&transparent=${layer.transparent}&srs=${layer.srs}&bbox={bbox-epsg-3857}&format=${layer.format}&time=${wmsTime}&layers=${layer.layers__name}&geojson_feature_id=${data.data.id}&canClipToGeom=true`,
                  ],
                  minzoom: 3,
                  maxzoom: 12,
                  'tileSize': 256

                });

                climateMap.addLayer({
                  'id': 'wms-layer',
                  'type': 'raster',
                  'source': 'wms-source',
                  //'paint': {
                  //  'raster-opacity': 0.8
                  //}
                }, admin0Boundaries, admin1Boundaries, admin2Boundaries);
              }

            })
            // Add the active class to the clicked item
            item.classList.add('active');
          });
        });
      })




  })
</script>


{% endblock extra_js %}