{% load static %}

{% if self.enable_weather_forecasts == True %}

{% for alert in alerts.all %}
{% for info in alert.alert_info.all %}
{% for alert_area in info.alert_areas.values%}

 
 <input
  name="alert-area"
  class="alert-area"
  id="area-{{ alert_area.id }}"
  type="hidden"
  value='{"severity":"{{info.severity}}","severityInfo":"{{info.get_severity_display}}","event":"{{info.event}}","areaDesc":"{{alert_area.area_desc}}","area":"{{ alert_area.area }}"}'
/>
{% endfor %}
{% endfor %}
{% endfor %}


<section class="py-6">
    <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-11">
                <div class="columns">
                    <div class="column is-4 mr-3">
                        <h2 class="title pb-4" style="font-size: 23px; font-weight: 700;">
                            Latest Weather Warnings 

                        </h2>

                        {% for alert in latest_alerts.all %}
                        {% for info in alert.alert_info.all %}
                        {% if alerts %}
                            <div class="box"
                            style="background-color: #f4f5fa; padding-bottom: 0.5rem; padding-top: 0.5rem;">
                            <div class="columns is-gapless">
                                <div class="column is-1" style="margin-right:10px;border-radius:4px; ">
                                    <img src="{% static 'img/CAPLogo.jpeg'%}" alt="" width="20" style="border-radius:4px; padding-top:5px">
                                </div>
                                <div class="column">
                                    <p class="title  py-0 my-1" style="font-size: 13px;font-weight:700;"><a href="/alerts/{{alert.slug}}">{{alert.title}}</a> </p>
                                    
                                    <p class="subtitle  py-0 my-1" style="font-size: 12px;">{{info.get_severity_display}} severity</p>
                                    {% for alert_area in info.alert_areas.values%}
                                    <span class="tag is-info"> <i class="fa fa-location-pin pr-1"> </i>  {{alert_area.area_desc}}</span> 

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% endfor %}
                        {% endfor %}
                       
                        <div>
                        <a class="button is-dark has-text-white is-small p-4"
                        style=" font-weight: 600;  border-radius: 0.5em;" href="/alerts">
                        <span>CAPs</span>

                        <span class="icon">
                            <i class="fa fa-rss"></i>
                        </span>
                    </a>
                        <a class="button is-dark is-small p-4 has-text-white" style="font-weight: 600; border-radius: 0.5em;" href="/news">
                            <span>News</span>

                            <span class="icon">
                                <i class="fa fa-newspaper"></i>
                            </span>
                        </a>
                      </div>
                        
                    </div>
                    <div class="column ml-3">
                        <div class="card">
                            <div id="home-map" style="border-radius: 0.5rem"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</section>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>

<script>
    mapboxgl.accessToken =
    "pk.eyJ1IjoiZ3JhY2VhbW9uZGkiLCJhIjoiY2s4dGphcGQwMDBhcjNmcnkzdGk3MnlrZCJ9.54r40Umo0l3dHseEbrQpUg";

  const map = new mapboxgl.Map({
    container: "home-map", // container ID
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: "mapbox://styles/mapbox/light-v10", // style URL
    center: [30.019531249998607, 16.130262012034265], // starting position [lng, lat]
    zoom: 4.2, // starting zoom
    scrollZoom: false,
  });

  var allAreas = $(".alert-area")
    .map(function () {
      return JSON.parse(this.value);
    })
    .get();

    map.on("load", () => {

    if('{{settings.site_settings.CountrySetting.country.geom}}'){
        const wktWithoutSrids = '{{settings.site_settings.CountrySetting.country.geom}}'.replace(/^SRID=\d+;/, "");

      // define a regular expression pattern to match the coordinates
        const pattern = /\(([^()]+)\)/g;

        // create an array to store the coordinates
        let coordinates = [];

        // loop through each match of the pattern and extract the coordinates
        let match;
        while ((match = pattern.exec(wktWithoutSrids)) !== null) {
            // split the match into individual coordinates
            const coords = match[1].trim().split(', ');
            // convert the coordinates to an array of numbers
            const coordsArray = coords.map(coord => coord.split(" ").map(co => Number(co)) );
            // add the coordinates to the array
            coordinates.push(coordsArray);

        }

        var multipolyFeature = {
            type: "Feature",
            geometry: {
              type: "MultiPolygon",
              coordinates: [coordinates],
            },
          }

        // output the coordinates to the console
        var bounds = turf.bbox({
            type: "FeatureCollection",
            features: [multipolyFeature],
          });
        map.fitBounds(bounds, { padding: 20 });

      }

    if (allAreas.length > 0) {
      var polyFeature = [];
      allAreas.map((area) => {
        // Remove the SRID prefix
        const wktWithoutSrid = area.area.replace(/^SRID=\d+;/, "");
  
        // Extract the coordinates from the polygon string using a regex pattern
        const match = /\((.*?)\)/.exec(wktWithoutSrid);
  
        revCoords = [];
  
        if (match) {
          const coordinatePairs = match[1].split(", ");
          const coordinates = coordinatePairs.map((pair) =>
            pair.replace("(", "").split(" ").map(parseFloat)
          );
  
          polyFeature.push({
            type: "Feature",
            geometry: {
              type: "Polygon",
              coordinates: [coordinates],
            },
            properties: {
              areaDesc: area.areaDesc,
              severity: area.severity,
              severityInfo: area.severityInfo,
              event: area.event
            },
          });
        }
      });
  
        map.addSource("alert-areas", {
          type: "geojson",
          data: {
            type: "FeatureCollection",
            features: polyFeature,
          },
        });
  
        map.addLayer({
          id: "alert-areas-layer",
          type: "fill",
          source: "alert-areas",
          paint: {
            "fill-color": "#088",
            "fill-opacity": 0.8,
            "fill-color": [
              "case",
              ["==", ["get", "severity"], "Extreme"],
              "#d72f2a",
              ["==", ["get", "severity"], "Severe"],
              "#f89904",
              ["==", ["get", "severity"], "Moderate"],
              "#e4e616",
              ["==", ["get", "severity"], "Minor"],
              "#53ffff",
              ["==", ["get", "severity"], "Unknown"],
              "#3366ff",
              "black",
            ],
            "fill-opacity": 0.8,
          },
      });
  
      
        
      // When a click event occurs on a feature in the places layer, open a popup at the
      // location of the feature, with description HTML from its properties.
      map.on("click", "alert-areas-layer", (e) => {
        // Copy coordinates array.
        const description = e.features[0].properties.areaDesc;
        const severity = e.features[0].properties.severityInfo;
        const event = e.features[0].properties.event;
    
        new mapboxgl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(`<div class="block" style="margin:10px"><h2 class="title" style="font-size:18px;">${description}</h2> <h2 class="subtitle" style="font-size:14px;">${event}</h2> <hr> <p>${severity}</p></div>`)
            .addTo(map);
      });
  
      // Change the cursor to a pointer when the mouse is over the places layer.
      map.on("mouseenter", "alert-areas-layer", () => {
        map.getCanvas().style.cursor = "pointer";
      });
  
      // Change it back to a pointer when it leaves.
      map.on("mouseleave", "alert-areas-layer", () => {
        map.getCanvas().style.cursor = "";
      });
    }
  })
  
  
</script>

{% comment %} <script type="text/javascript" src="{% static 'js/weather_map.js' %}"></script> {% endcomment %}

{% endif %}