{% load static nmhs_cms_tags %}
{% if self.enable_weather_forecasts == True %}
{% for alert in self.get_alerts.active_alerts.all %}
  {% for info in alert.alert_info.all %}
    {% for alert_area in info.alert_areas.values%}

    <input name="alert-area" class="alert-area" id="area-{{ alert_area.id }}" type="hidden"
      value='{"severity":"{{info.severity}}","severityInfo":"{{info.get_severity_display}}","event":"{{info.event}}","areaDesc":"{{alert_area.areaDesc}}","area":"{{ alert_area.area }}"}' />

    {% endfor %}
  {% endfor %}
{% endfor %}

<section class="{% if not self.enable_weather_forecasts or not self.get_forecast_by_city.forecasts %} pt-0 {% endif %} pb-6" >
  <div class="container">
    <div class="columns is-justify-content-center">
      <div class="column is-11">
        <div class="columns">
          <div class="column is-4 mr-3">
            <h2 class="title pb-4" style="font-size: 23px; font-weight: 700;">
              Latest Weather Warnings
            </h2>
            {% if self.get_alerts.active_alerts %}
            {% for alert in self.get_alerts.active_alerts.all %}
            <div class="box {{box_shadow}}" style="background-color: #f4f5fa; padding-bottom: 0.5rem; padding-top: 0.5rem;">
              <a href="{{alert.url}}">
                <div class="columns is-gapless">
                  <div class="column is-1" style="margin-right:10px;border-radius:4px; ">
                    <img src="{% static 'img/CAPLogo.jpeg'%}" alt="" width="20"
                      style="border-radius:4px; padding-top:5px">
                  </div>
                  <div class="column">
                    <p class="title  py-0 my-1" style="font-size: 14px;font-weight:700; color: var(--primary-color);">{{alert.title}}</p>

                    {% for info in alert.alert_info.all %}

                    <p class="subtitle  py-0 my-1" style="font-size: 12px;"><b>Effective: {{info.effective}}</b></p>
                    <p class="subtitle  py-0 my-1" style="font-size: 12px;">{{info.get_severity_display}} severity</p>
                    {% for alert_area in info.alert_areas.values%}
                    <span class="tag is-info"> <i class="fa fa-location-pin pr-1"> </i> {{alert_area.areaDesc}}</span>

                    {% endfor %}
                    {% endfor %}

                  </div>
                </div>
              </a>
            </div>

            {% endfor %}

            {% else %}
            <div class="block">
            <p style="font-size:14px">We have <b>No</b> Ongoing or Incoming Alerts at the this time.</p>
            </div>
            {% endif %}

            <div>
              <a class="button is-dark has-text-white is-small p-4" style=" font-weight: 600;  border-radius: var(--border-radius);"
                href="{{settings.core.ImportantPages.all_alerts_page.url}}">
                <span>CAPs</span>

                <span class="icon">
                  <i class="fa fa-rss"></i>
                </span>
              </a>
              <a class="button is-dark is-small p-4 has-text-white" style="font-weight: 600; border-radius: var(--border-radius);"
                href="{{settings.core.ImportantPages.all_news_page.url}}">
                <span>News</span>

                <span class="icon">
                  <i class="fa fa-newspaper"></i>
                </span>
              </a>
            </div>

          </div>
          <div class="column ml-3">
            <div class="card {{box_shadow}}" style="height:100%">
              <div id="home-map" style="border-radius: var(--border-radius); height:100%"></div>
              <div id="floating-div" style="position: absolute;
                top: 0.5em;
                left: 0;
                z-index: 1;
                background-color: transparent;
                padding: 10px;
                border-radius: var(--border-radius);
                ">
                <div class="control has-icons-left">
                  <div class="select">
                    <select id="daily_forecast">
                      {% for day in self.get_forecast_by_daterange.day_forecast %}
                      <option value="{{day.forecast_date}}">{{day.forecast_date}}</option>

                      {% endfor %}
                    </select>

                  </div>
                  <span class="icon is-left">
                    <i class="fas fa-calendar-days"></i>
                  </span>
                </div>
              </div>

              {% if self.get_alerts.active_alerts %}
              <div id="floating-div {{box_shadow}}" style="position: absolute;
                              bottom: 1em;
                              left: 0.5em;
                              z-index: 1;
                              background-color: white;
                              padding: 10px;
                              border-radius: var(--border-radius);
                              
                              ">
                <h2 class="title" style="font-size:14px; margin-bottom:1em">CAP Alerts</h2>
               
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: rgb(215, 47, 42); border-radius:100%; border:1px solid #c8c8c8">
                      </div>
                      <span style="padding-left:0.3em; font-size:13px">Extreme Severity<span>
                    </div>
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: #f89904; border-radius:100%; border:1px solid #c8c8c8"></div>
                      <span style="padding-left:0.3em; font-size:13px">Severe Severity<span>
                    </div>
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: #fdff00; border-radius:100%; border:1px solid #c8c8c8"></div>
                      <span style="padding-left:0.3em; font-size:13px">Moderate Severity<span>
                    </div>
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: #53ffff; border-radius:100%; border:1px solid #c8c8c8"></div>
                      <span style="padding-left:0.3em; font-size:13px">Minor Severity<span>
                    </div>
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: #3366ff; border-radius:100%; border:1px solid #c8c8c8"></div>
                      <span style="padding-left:0.3em; font-size:13px">Unknown Severity<span>
                    </div>
                    
              </div>
              {% endif %}
              
            </div>
          </div>
        </div>

      </div>
    </div>
    {% if self.enable_mapviewer_cta == True  %}
      <div class="container" style="text-align:center">
        <a class="button is-dark has-text-white p-4 mt-4 mb-6" style=" font-weight: 600;  border-radius: var(--border-radius);"
          href="{{self.mapviewer_cta_url}}">
          <span>{{self.mapviewer_cta_title}}</span>

          <span class="icon">
            <i class="fa fa-arrow-right"></i>
          </span>
        </a>
      </div>
    {% endif %}
</section>


{% block extra_js %}
<script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>
<script>
  var country_geom  = "{{settings.site_settings.OrganisationSetting.country.geom}}"
  var daily_forecasts = "{{self.get_forecast_by_daterange.day_forecast|escapejs}}"
  var media_url = "{{MEDIA_URL}}"
</script>
<script type="text/javascript" src="{% static 'js/basemap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forecast_map.js' %}"></script>

{% endblock extra_js %}

{% endif %}

