{% load static nmhs_cms_tags %}
{% if self.enable_weather_forecasts == True %}
{% for alert in self.get_alerts.alerts.all %}
{% for info in alert.alert_info.all %}
{% for alert_area in info.alert_areas.values%}


<input name="alert-area" class="alert-area" id="area-{{ alert_area.id }}" type="hidden"
  value='{"severity":"{{info.severity}}","severityInfo":"{{info.get_severity_display}}","event":"{{info.event}}","areaDesc":"{{alert_area.area_desc}}","area":"{{ alert_area.area }}"}' />
{% endfor %}
{% endfor %}
{% endfor %}


<section class="py-6">
  <div class="container">
    <div class="columns is-justify-content-center">
      <div class="column is-11">
        <div class="columns">
          <div class="column is-4 mr-3">
            <h2 class="title pb-4" style="font-size: 23px; font-weight: 700;">
              Latest Weather Warnings
            </h2>
            {% if self.get_alerts %}

            {% for alert in self.get_alerts.latest_alerts.all %}
            {% for info in alert.alert_info.all %}
            <div class="box" style="background-color: #f4f5fa; padding-bottom: 0.5rem; padding-top: 0.5rem;">
              <a href="{{alert.url}}">
                <div class="columns is-gapless">
                  <div class="column is-1" style="margin-right:10px;border-radius:4px; ">
                    <img src="{% static 'img/CAPLogo.jpeg'%}" alt="" width="20"
                      style="border-radius:4px; padding-top:5px">
                  </div>
                  <div class="column">
                    <p class="title  py-0 my-1" style="font-size: 13px;font-weight:700;">{{alert.title}}</p>

                    <p class="subtitle  py-0 my-1" style="font-size: 12px;">{{info.get_severity_display}} severity</p>
                    {% for alert_area in info.alert_areas.values%}
                    <span class="tag is-info"> <i class="fa fa-location-pin pr-1"> </i> {{alert_area.area_desc}}</span>

                    {% endfor %}
                  </div>
                </div>
              </a>
            </div>

            {% endfor %}
            {% endfor %}

            {% else %}

            <p>No alerts at the moment</p>
            {% endif %}

            <div>
              <a class="button is-dark has-text-white is-small p-4" style=" font-weight: 600;  border-radius: 0.5em;"
                href="/alerts">
                <span>CAPs</span>

                <span class="icon">
                  <i class="fa fa-rss"></i>
                </span>
              </a>
              <a class="button is-dark is-small p-4 has-text-white" style="font-weight: 600; border-radius: 0.5em;"
                href="/news">
                <span>News</span>

                <span class="icon">
                  <i class="fa fa-newspaper"></i>
                </span>
              </a>
            </div>

          </div>
          <div class="column ml-3">
            <div class="card">
              <div id="home-map" style="border-radius: 0.5rem"></div>
              <div id="floating-div" style="position: absolute;
                              top: 0.5em;
                              left: 0;
                              z-index: 1;
                              background-color: transparent;
                              padding: 10px;
                              border-radius: 5px;
                              ">
                <div class="control has-icons-left">
                  <div class="select">
                    <select id="daily_forecast">
                      {% for day in self.get_forecast_by_daterange.day_forecast %}
                      <option value="{{day.forecast_date}}">{{day.forecast_date}}</option>

                      {% endfor %}
                    </select>

                  </div>
                  <span class="icon is-left">
                    <i class="fas fa-calendar-days"></i>
                  </span>
                </div>
              </div>

              <div id="floating-div" style="position: absolute;
                              bottom: 1em;
                              left: 0.5em;
                              z-index: 1;
                              background-color: white;
                              padding: 10px;
                              border-radius: 5px;
                              box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                              ">
                <h2 class="title" style="font-size:14px; margin-bottom:1em">CAP Alerts</h2>
                {% comment %} <ul>
                  <li> {% endcomment %}
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: rgb(215, 47, 42); border-radius:100%; border:1px solid #c8c8c8">
                      </div>
                      <span style="padding-left:0.3em; font-size:13px">Extreme Severity<span>
                    </div>
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: #f89904; border-radius:100%; border:1px solid #c8c8c8"></div>
                      <span style="padding-left:0.3em; font-size:13px">Severe Severity<span>
                    </div>
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: #fdff00; border-radius:100%; border:1px solid #c8c8c8"></div>
                      <span style="padding-left:0.3em; font-size:13px">Moderate Severity<span>
                    </div>
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: #53ffff; border-radius:100%; border:1px solid #c8c8c8"></div>
                      <span style="padding-left:0.3em; font-size:13px">Minor Severity<span>
                    </div>
                    <div class="legend-item" style="display:flex; align-items: center;">
                      <div class="legend-icon" style="width: 12px;
                                    height: 12px;
                                    background-color: #3366ff; border-radius:100%; border:1px solid #c8c8c8"></div>
                      <span style="padding-left:0.3em; font-size:13px">Unknown Severity<span>
                    </div>
                    {% comment %}
                  <li>
                </ul> {% endcomment %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

</section>
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>

<script>


const style = {
  "version": 8,
  "glyphs": "https://demotiles.maplibre.org/font/{fontstack}/{range}.pbf",
	"sources": {
    "osm": {
			"type": "raster",
			"tiles": [
        "https://stamen-tiles-a.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}@2x.png",
        "https://stamen-tiles-b.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}@2x.png",
        "https://stamen-tiles-c.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}@2x.png",
        "https://stamen-tiles-d.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}@2x.png",
        // "https://tiles.stadiamaps.com/tiles/osm_bright/{z}/{x}/{y}@2x.png"
    ],
			"tileSize": 256,
      "attribution": '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
     
	    "maxZoom": 18,
    }
  },
  "layers": [
    {
      "id": "osm",
      "type": "raster",
      "source": "osm" // This must match the source key above
    }
  ]
};


const maplibreStyle = {
  "version": 8,
  "id": "basic-v2",
  "name": "Basic",
  "sources": {
    "maptiler_planet": {
      "url": "https://api.maptiler.com/tiles/v3/tiles.json?key=uYCBTRo5fyHCkPvoa5Io",
      "type": "vector"
    },
    "maptiler_attribution": {
      "attribution": "<a href=\"https://www.maptiler.com/copyright/\" target=\"_blank\">&copy; MapTiler</a> <a href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\">&copy; OpenStreetMap contributors</a>",
      "type": "vector"
    }
  },
  "layers": [
    {
      "id": "background",
      "type": "background",
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "background-color": {
          "stops": [
            [
              6,
              "hsl(60,20%,85%)"
            ],
            [
              20,
              "hsl(60,24%,90%)"
            ]
          ]
        }
      }
    },
    {
      "id": "residential",
      "type": "fill",
      "source": "maptiler_planet",
      "source-layer": "landuse",
      "maxzoom": 14,
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "fill-color": {
          "stops": [
            [
              2,
              "hsl(60,23%,81%)"
            ],
            [
              14,
              "hsl(60,21%,85%)"
            ]
          ]
        }
      },
      "filter": [
        "all",
        [
          "in",
          "class",
          "residential",
          "suburb",
          "neighbourhood"
        ]
      ]
    },
    {
      "id": "glacier",
      "type": "fill",
      "source": "maptiler_planet",
      "source-layer": "globallandcover",
      "maxzoom": 8,
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "fill-color": "hsla(0,0%,100%,0.5)"
      },
      "filter": [
        "all",
        [
          "in",
          "class",
          "snow"
        ]
      ]
    },
    {
      "id": "forest",
      "type": "fill",
      "source": "maptiler_planet",
      "source-layer": "globallandcover",
      "maxzoom": 8,
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "fill-color": {
          "stops": [
            [
              1,
              "hsla(91,40%,70%,0.25)"
            ],
            [
              7,
              "hsla(91,40%,70%,0.6)"
            ]
          ]
        }
      },
      "filter": [
        "all",
        [
          "in",
          "class",
          "forest",
          "tree"
        ]
      ]
    },
    {
      "id": "landcover",
      "type": "fill",
      "source": "maptiler_planet",
      "source-layer": "landcover",
      "minzoom": 8,
      "paint": {
        "fill-color": [
          "match",
          [
            "get",
            "class"
          ],
          "wood",
          "hsla(91,40%,70%,0.8)",
          "grass",
          "hsla(89,40%,78%,0.8)",
          "sand",
          "hsla(54,81%,53%,0.3)",
          "ice",
          "hsla(60,4%,95%,1)",
          "hsla(60,20%,85%,0)"
        ],
        "fill-opacity": {
          "stops": [
            [
              7,
              0.7
            ],
            [
              12,
              1
            ]
          ]
        },
        "fill-antialias": false
      },
      "filter": [
        "all"
      ]
    },
    {
      "id": "water",
      "type": "fill",
      "source": "maptiler_planet",
      "source-layer": "water",
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "fill-color": "hsl(205,56%,73%)",
        "fill-opacity": [
          "match",
          [
            "get",
            "intermittent"
          ],
          1,
          0.7,
          1
        ]
      },
      "filter": [
        "all",
        [
          "!=",
          "brunnel",
          "tunnel"
        ]
      ]
    },
    {
      "id": "waterway",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "waterway",
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "line-color": "hsl(205,56%,73%)",
        "line-width": {
          "stops": [
            [
              9,
              1
            ],
            [
              18,
              3
            ]
          ]
        },
        "line-opacity": [
          "match",
          [
            "get",
            "brunnel"
          ],
          "tunnel",
          0.7,
          1
        ]
      },
      "filter": [
        "all",
        [
          "!=",
          "intermittent",
          1
        ]
      ]
    },
    {
      "id": "waterway_intermittent",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "waterway",
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "line-color": "hsl(205,56%,73%)",
        "line-width": {
          "stops": [
            [
              9,
              1
            ],
            [
              18,
              3
            ]
          ]
        },
        "line-opacity": 1,
        "line-dasharray": [
          2,
          1
        ]
      },
      "filter": [
        "all",
        [
          "==",
          "intermittent",
          1
        ]
      ]
    },
    {
      "id": "railway_transit_tunnel",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "transportation",
      "minzoom": 0,
      "layout": {
        "line-cap": "butt",
        "line-join": "miter",
        "visibility": "visible"
      },
      "paint": {
        "line-color": "hsl(34, 12%, 66%)",
        "line-width": {
          "stops": [
            [
              14,
              0.5
            ],
            [
              16,
              1.2
            ],
            [
              18,
              2
            ]
          ]
        },
        "line-opacity": 0.5,
        "line-dasharray": [
          3,
          3
        ]
      },
      "filter": [
        "all",
        [
          "==",
          "brunnel",
          "tunnel"
        ],
        [
          "==",
          "class",
          "transit"
        ]
      ]
    },
    {
      "id": "road_bridge",
      "type": "fill",
      "source": "maptiler_planet",
      "source-layer": "transportation",
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "fill-color": "hsl(47, 26%, 88%)",
        "fill-opacity": 0.7
      },
      "filter": [
        "all",
        [
          "==",
          "$type",
          "Polygon"
        ],
        [
          "==",
          "brunnel",
          "bridge"
        ]
      ]
    },
    {
      "id": "road_pier",
      "type": "fill",
      "source": "maptiler_planet",
      "source-layer": "transportation",
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "fill-color": "hsl(60,24%,88%)",
        "fill-opacity": 1,
        "fill-antialias": true
      },
      "metadata": {
        
      },
      "filter": [
        "all",
        [
          "==",
          "$type",
          "Polygon"
        ],
        [
          "==",
          "class",
          "pier"
        ]
      ]
    },
    {
      "id": "road_network",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "transportation",
      "minzoom": 4,
      "layout": {
        "line-cap": "round",
        "line-join": "round",
        "visibility": "visible"
      },
      "paint": {
        "line-color": "hsl(0, 0%, 100%)",
        "line-width": [
          "interpolate",
          [
            "linear",
            2
          ],
          [
            "zoom"
          ],
          4,
          0.5,
          5,
          0.75,
          6,
          1,
          10,
          [
            "match",
            [
              "get",
              "class"
            ],
            [
              "motorway"
            ],
            [
              "match",
              [
                "get",
                "brunnel"
              ],
              [
                "bridge"
              ],
              0,
              2.5
            ],
            [
              "trunk"
            ],
            1.5,
            1
          ],
          12,
          [
            "match",
            [
              "get",
              "class"
            ],
            [
              "motorway"
            ],
            [
              "match",
              [
                "get",
                "ramp"
              ],
              1,
              1,
              4
            ],
            [
              "trunk"
            ],
            2,
            [
              "primary"
            ],
            2.5,
            [
              "secondary",
              "tertiary"
            ],
            2,
            [
              "minor"
            ],
            1,
            [
              "pier",
              "service",
              "track"
            ],
            0.5,
            0.5
          ],
          14,
          [
            "match",
            [
              "get",
              "class"
            ],
            [
              "motorway"
            ],
            [
              "match",
              [
                "get",
                "ramp"
              ],
              1,
              5,
              6
            ],
            [
              "trunk"
            ],
            3,
            [
              "primary"
            ],
            5,
            [
              "secondary"
            ],
            4,
            [
              "tertiary"
            ],
            3,
            [
              "minor"
            ],
            2,
            [
              "pier",
              "service",
              "track"
            ],
            1,
            2
          ],
          16,
          [
            "match",
            [
              "get",
              "class"
            ],
            [
              "motorway",
              "trunk",
              "primary"
            ],
            8,
            [
              "secondary"
            ],
            7,
            [
              "tertiary"
            ],
            6,
            [
              "minor"
            ],
            4,
            [
              "pier",
              "service",
              "track"
            ],
            2,
            4
          ],
          20,
          [
            "match",
            [
              "get",
              "class"
            ],
            [
              "motorway",
              "trunk",
              "primary"
            ],
            28,
            [
              "secondary"
            ],
            24,
            [
              "tertiary"
            ],
            20,
            [
              "minor",
              "service",
              "track",
              "pier"
            ],
            16,
            16
          ]
        ],
        "line-offset": 0,
        "line-opacity": [
          "match",
          [
            "get",
            "brunnel"
          ],
          "tunnel",
          0.5,
          1
        ]
      },
      "filter": [
        "all",
        [
          "!in",
          "class",
          "bridge",
          "ferry",
          "path",
          "rail",
          "transit"
        ]
      ]
    },
    {
      "id": "road_path",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "transportation",
      "minzoom": 15,
      "layout": {
        "line-cap": "square",
        "line-join": "bevel",
        "visibility": "visible"
      },
      "paint": {
        "line-color": "hsl(0, 0%, 100%)",
        "line-width": {
          "base": 1.55,
          "stops": [
            [
              15,
              0.5
            ],
            [
              16,
              1
            ],
            [
              18,
              2
            ],
            [
              20,
              3
            ],
            [
              22,
              4
            ]
          ]
        },
        "line-dasharray": [
          1,
          1
        ]
      },
      "filter": [
        "any",
        [
          "in",
          "class",
          "path"
        ]
      ]
    },
    {
      "id": "building",
      "type": "fill",
      "source": "maptiler_planet",
      "source-layer": "building",
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "fill-color": {
          "stops": [
            [
              13,
              "hsl(48,25%,73%)"
            ],
            [
              16,
              "hsl(47,32%,77%)"
            ]
          ]
        },
        "fill-opacity": 1,
        "fill-antialias": true
      }
    },
    {
      "id": "railway",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "transportation",
      "minzoom": 9,
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "line-color": [
          "match",
          [
            "get",
            "service"
          ],
          [
            "yard",
            "spur"
          ],
          "hsla(33,12%,67%,0.5)",
          "hsla(33,12%,67%,0.8)"
        ],
        "line-width": {
          "stops": [
            [
              9,
              0.5
            ],
            [
              12,
              0.6
            ],
            [
              16,
              2
            ],
            [
              22,
              3
            ]
          ]
        },
        "line-opacity": [
          "match",
          [
            "get",
            "brunnel"
          ],
          "tunnel",
          0.25,
          1
        ]
      },
      "filter": [
        "==",
        "class",
        "rail"
      ]
    },
    {
      "id": "railway_transit",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "transportation",
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "line-color": "hsl(34, 12%, 66%)",
        "line-width": {
          "stops": [
            [
              14,
              0.5
            ],
            [
              16,
              1.2
            ],
            [
              18,
              2
            ]
          ]
        },
        "line-opacity": 0.5
      },
      "filter": [
        "all",
        [
          "==",
          "class",
          "transit"
        ],
        [
          "!=",
          "brunnel",
          "tunnel"
        ]
      ]
    },
    {
      "id": "aeroway",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "aeroway",
      "minzoom": 4,
      "layout": {
        "line-cap": "round",
        "line-join": "round",
        "visibility": "visible"
      },
      "paint": {
        "line-color": "hsl(0, 0%, 100%)",
        "line-width": [
          "interpolate",
          [
            "linear",
            2
          ],
          [
            "zoom"
          ],
          10,
          [
            "match",
            [
              "get",
              "class"
            ],
            [
              "runway"
            ],
            1,
            [
              "taxiway"
            ],
            0.5,
            0
          ],
          14,
          [
            "match",
            [
              "get",
              "class"
            ],
            [
              "runway"
            ],
            3,
            [
              "taxiway"
            ],
            2,
            0
          ],
          16,
          [
            "match",
            [
              "get",
              "class"
            ],
            [
              "runway"
            ],
            10,
            [
              "taxiway"
            ],
            6,
            0
          ]
        ],
        "line-opacity": 1
      },
      "metadata": {
        "mapbox:group": "1444849345966.4436"
      },
      "filter": [
        "all"
      ]
    },
    {
      "id": "airport",
      "type": "symbol",
      "source": "maptiler_planet",
      "source-layer": "aerodrome_label",
      "minzoom": 10,
      "layout": {
        "icon-size": 1,
        "text-font": [
          "Noto Sans Regular"
        ],
        "text-size": {
          "stops": [
            [
              10,
              10
            ],
            [
              14,
              12
            ],
            [
              16,
              14
            ]
          ]
        },
        "text-field": "{name:latin}",
        "visibility": "visible",
        "text-anchor": "top",
        "text-offset": [
          0,
          0.5
        ],
        "text-max-width": 8
      },
      "paint": {
        "text-color": "hsl(0,0%,12%)",
        "text-halo-blur": 1,
        "text-halo-color": "hsl(0, 0%, 100%)",
        "text-halo-width": 1.4
      },
      "filter": [
        "all",
        [
          "has",
          "iata"
        ]
      ]
    },
    {
      "id": "station",
      "type": "symbol",
      "source": "maptiler_planet",
      "source-layer": "poi",
      "minzoom": 12,
      "layout": {
        "icon-size": 1,
        "text-font": [
          "Noto Sans Regular"
        ],
        "text-size": {
          "stops": [
            [
              10,
              10
            ],
            [
              14,
              12
            ],
            [
              16,
              14
            ]
          ]
        },
        "text-field": "{name:latin}",
        "visibility": "visible",
        "text-anchor": "top",
        "text-offset": [
          0,
          0.5
        ],
        "text-max-width": 8
      },
      "paint": {
        "text-color": "hsl(0,0%,12%)",
        "text-halo-blur": 1,
        "text-halo-color": "hsl(0, 0%, 100%)",
        "text-halo-width": 1.4
      },
      "filter": [
        "all",
        [
          "==",
          "class",
          "railway"
        ],
        [
          "==",
          "subclass",
          "station"
        ]
      ]
    },
    {
      "id": "road",
      "type": "symbol",
      "source": "maptiler_planet",
      "source-layer": "transportation_name",
      "minzoom": 14,
      "layout": {
        "text-font": [
          "Noto Sans Regular"
        ],
        "text-size": {
          "base": 1.4,
          "stops": [
            [
              14,
              8
            ],
            [
              17,
              10
            ],
            [
              20,
              12
            ]
          ]
        },
        "text-field": "{name:latin}",
        "visibility": "visible",
        "symbol-spacing": {
          "stops": [
            [
              13,
              250
            ],
            [
              20,
              350
            ]
          ]
        },
        "text-transform": "uppercase",
        "symbol-placement": "line",
        "text-letter-spacing": 0.1,
        "text-rotation-alignment": "map"
      },
      "paint": {
        "text-color": "hsl(0,0%,5%)",
        "text-halo-color": "hsl(0, 0%, 100%)",
        "text-halo-width": 2
      },
      "filter": [
        "all",
        [
          "==",
          "$type",
          "LineString"
        ],
        [
          "!=",
          "subclass",
          "ferry"
        ],
        [
          "!in",
          "class",
          "service",
          "path"
        ]
      ]
    },
    {
      "id": "border_other",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "boundary",
      "minzoom": 3,
      "maxzoom": 13,
      "layout": {
        "visibility": "visible"
      },
      "paint": {
        "line-color": [
          "match",
          [
            "get",
            "maritime"
          ],
          1,
          "hsla(210,52%,64%,0)",
          "hsla(0,0%,60%,0.65)"
        ],
        "line-width": {
          "stops": [
            [
              4,
              1.25
            ],
            [
              11,
              1.75
            ],
            [
              18,
              3
            ]
          ]
        },
        "line-dasharray": [
          2,
          1
        ]
      },
      "filter": [
        "all",
        [
          ">=",
          "admin_level",
          3
        ],
        [
          "<",
          "admin_level",
          10
        ],
        [
          "==",
          "maritime",
          0
        ]
      ]
    },
    {
      "id": "border_disputed",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "boundary",
      "minzoom": 0,
      "layout": {
        "line-cap": "round",
        "line-join": "round",
        "visibility": "visible"
      },
      "paint": {
        "line-color": [
          "match",
          [
            "get",
            "maritime"
          ],
          1,
          "hsla(210,52%,64%,0)",
          "hsla(0,0%,64%,1)"
        ],
        "line-width": 1,
        "line-dasharray": [
          2,
          2
        ]
      },
      "filter": [
        "all",
        [
          "<=",
          "admin_level",
          2
        ],
        [
          "==",
          "$type",
          "LineString"
        ],
        [
          "==",
          "disputed",
          1
        ]
      ]
    },
    {
      "id": "border_country",
      "type": "line",
      "source": "maptiler_planet",
      "source-layer": "boundary",
      "minzoom": 0,
      "layout": {
        "line-cap": "round",
        "line-join": "round",
        "visibility": "visible"
      },
      "paint": {
        "line-blur": {
          "stops": [
            [
              4,
              0.5
            ],
            [
              10,
              0
            ]
          ]
        },
        "line-color": [
          "match",
          [
            "get",
            "maritime"
          ],
          1,
          "hsla(210,52%,64%,0)",
          "hsla(0,0%,64%,1)"
        ],
        "line-width": {
          "stops": [
            [
              1,
              1
            ],
            [
              5,
              1.5
            ],
            [
              10,
              2
            ]
          ]
        }
      },
      "filter": [
        "all",
        [
          "<=",
          "admin_level",
          2
        ],
        [
          "==",
          "$type",
          "LineString"
        ],
        [
          "!has",
          "claimed_by"
        ],
        [
          "==",
          "disputed",
          0
        ]
      ]
    },
    {
      "id": "place",
      "type": "symbol",
      "source": "maptiler_planet",
      "source-layer": "place",
      "maxzoom": 16,
      "layout": {
        "text-font": [
          "Noto Sans Regular"
        ],
        "text-size": [
          "interpolate",
          [
            "linear",
            1
          ],
          [
            "zoom"
          ],
          3,
          11,
          8,
          [
            "match",
            [
              "get",
              "class"
            ],
            "city",
            15,
            13
          ],
          11,
          [
            "match",
            [
              "get",
              "class"
            ],
            "city",
            16,
            [
              "suburb",
              "neighbourhood",
              "quarter",
              "hamlet",
              "isolated_dwelling"
            ],
            10,
            13
          ],
          16,
          [
            "match",
            [
              "get",
              "class"
            ],
            "city",
            21,
            [
              "suburb",
              "neighbourhood",
              "quarter",
              "hamlet",
              "isolated_dwelling"
            ],
            14,
            16
          ]
        ],
        "text-field": "{name:latin}",
        "visibility": "visible",
        "text-max-width": 10
      },
      "paint": {
        "text-color": "hsl(0, 0%, 0%)",
        "text-halo-blur": 0,
        "text-halo-color": "hsla(0, 0%, 100%, 0.75)",
        "text-halo-width": 2
      },
      "filter": [
        "all",
        [
          "!in",
          "class",
          "state",
          "country",
          "continent",
          "island"
        ]
      ]
    },
    {
      "id": "country",
      "type": "symbol",
      "source": "maptiler_planet",
      "source-layer": "place",
      "minzoom": 1,
      "maxzoom": 12,
      "layout": {
        "text-font": [
          "Noto Sans Bold"
        ],
        "text-size": [
          "interpolate",
          [
            "linear",
            1
          ],
          [
            "zoom"
          ],
          0,
          8,
          1,
          10,
          4,
          [
            "case",
            [
              ">",
              [
                "get",
                "rank"
              ],
              2
            ],
            13,
            15
          ],
          8,
          [
            "case",
            [
              ">",
              [
                "get",
                "rank"
              ],
              2
            ],
            18,
            22
          ]
        ],
        "text-field": "{name:latin}",
        "visibility": "visible",
        "text-padding": {
          "stops": [
            [
              1,
              0
            ],
            [
              4,
              2
            ]
          ]
        },
        "text-max-width": 8
      },
      "paint": {
        "text-color": "hsl(0, 0%, 13%)",
        "text-halo-blur": 1,
        "text-halo-color": "hsla(0, 0%, 100%, 0.75)",
        "text-halo-width": 2
      },
      "filter": [
        "all",
        [
          "==",
          "$type",
          "Point"
        ],
        [
          "==",
          "class",
          "country"
        ]
      ]
    },
    {
      "id": "continent",
      "type": "symbol",
      "source": "maptiler_planet",
      "source-layer": "place",
      "maxzoom": 1,
      "layout": {
        "text-font": [
          "Noto Sans Bold"
        ],
        "text-size": {
          "stops": [
            [
              0,
              12
            ],
            [
              2,
              13
            ]
          ]
        },
        "text-field": "{name:latin}",
        "visibility": "visible",
        "text-justify": "center",
        "text-transform": "uppercase"
      },
      "paint": {
        "text-color": "hsl(0, 0%, 13%)",
        "text-halo-blur": 1,
        "text-halo-color": "hsla(0, 0%, 100%, 0.75)",
        "text-halo-width": 2
      },
      "metadata": {
        
      },
      "filter": [
        "all",
        [
          "==",
          "class",
          "continent"
        ]
      ]
    }
  ],
  "metadata": {
    "maptiler:copyright": "This style was generated on MapTiler Cloud. Usage outside of MapTiler Cloud requires valid MapTiler Data Package: https://www.maptiler.com/data/package/ -- please contact us."
  },
  "glyphs": "https://api.maptiler.com/fonts/{fontstack}/{range}.pbf?key=uYCBTRo5fyHCkPvoa5Io",
  "sprite":'https://raw.githubusercontent.com/wmo-raf/nmhs-cms/main/media/weather',
  "bearing": 0,
  "pitch": 0,
  "center": [
    0,
    0
  ],
  "zoom": 1
}
  // mapboxgl.accessToken =
  //   "pk.eyJ1IjoiZ3JhY2VhbW9uZGkiLCJhIjoiY2s4dGphcGQwMDBhcjNmcnkzdGk3MnlrZCJ9.54r40Umo0l3dHseEbrQpUg";

  const map = new maplibregl.Map({
    container: "home-map", // container ID
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: maplibreStyle, // style URL
    center: [30.019531249998607, 16.130262012034265], // starting position [lng, lat]
    zoom: 4.2, // starting zoom
    scrollZoom: false,
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new maplibregl.NavigationControl());

  var allAreas = $(".alert-area")
    .map(function () {
      return JSON.parse(this.value);
    })
    .get();

  map.on("load", () => {

    if ('{{settings.site_settings.CountrySetting.country.geom}}') {
      const wktWithoutSrids = '{{settings.site_settings.CountrySetting.country.geom}}'.replace(/^SRID=\d+;/, "");

      // define a regular expression pattern to match the coordinates
      const pattern = /\(([^()]+)\)/g;

      // create an array to store the coordinates
      let coordinates = [];

      // loop through each match of the pattern and extract the coordinates
      let match;
      while ((match = pattern.exec(wktWithoutSrids)) !== null) {
        // split the match into individual coordinates
        const coords = match[1].trim().split(', ');
        // convert the coordinates to an array of numbers
        const coordsArray = coords.map(coord => coord.split(" ").map(co => Number(co)));
        // add the coordinates to the array
        coordinates.push(coordsArray);

      }

      var multipolyFeature = {
        type: "Feature",
        geometry: {
          type: "MultiPolygon",
          coordinates: [coordinates],
        },
      }

      // output the coordinates to the console
      var bounds = turf.bbox({
        type: "FeatureCollection",
        features: [multipolyFeature],
      });
      map.fitBounds(bounds, { padding: 20 });

    }

    if (allAreas.length > 0) {
      var polyFeature = [];
      allAreas.map((area) => {
        // Remove the SRID prefix
        const wktWithoutSrid = area.area.replace(/^SRID=\d+;/, "");

        // Extract the coordinates from the polygon string using a regex pattern
        const match = /\((.*?)\)/.exec(wktWithoutSrid);

        revCoords = [];

        if (match) {
          const coordinatePairs = match[1].split(", ");
          const coordinates = coordinatePairs.map((pair) =>
            pair.replace("(", "").split(" ").map(parseFloat)
          );

          polyFeature.push({
            type: "Feature",
            geometry: {
              type: "Polygon",
              coordinates: [coordinates],
            },
            properties: {
              areaDesc: area.areaDesc,
              severity: area.severity,
              severityInfo: area.severityInfo,
              event: area.event
            },
          });
        }
      });

      map.addSource("alert-areas", {
        type: "geojson",
        data: {
          type: "FeatureCollection",
          features: polyFeature,
        },
      });

      map.addLayer({
        id: "alert-areas-layer",
        type: "fill",
        source: "alert-areas",
        paint: {
          "fill-color": "#088",
          "fill-color": [
            "case",
            ["==", ["get", "severity"], "Extreme"],
            "#d72f2a",
            ["==", ["get", "severity"], "Severe"],
            "#f89904",
            ["==", ["get", "severity"], "Moderate"],
            "#e4e616",
            ["==", ["get", "severity"], "Minor"],
            "#53ffff",
            ["==", ["get", "severity"], "Unknown"],
            "#3366ff",
            "black",
          ],
          "fill-opacity": 0.7,
        },
      });

      // When a click event occurs on a feature in the places layer, open a popup at the
      // location of the feature, with description HTML from its properties.
      map.on("click", "alert-areas-layer", (e) => {
        // Copy coordinates array.
        const description = e.features[0].properties.areaDesc;
        const severity = e.features[0].properties.severityInfo;
        const event = e.features[0].properties.event;

        new maplibregl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(`<div class="block" style="margin:10px"><h2 class="title" style="font-size:18px;">${description}</h2> <h2 class="subtitle" style="font-size:14px;">${event}</h2> <hr> <p>${severity}</p></div>`)
          .addTo(map);
      });

      // Change the cursor to a pointer when the mouse is over the places layer.
      map.on("mouseenter", "alert-areas-layer", () => {
        map.getCanvas().style.cursor = "pointer";
      });

      // Change it back to a pointer when it leaves.
      map.on("mouseleave", "alert-areas-layer", () => {
        map.getCanvas().style.cursor = "";
      });
    }

    var cityForecasts = JSON.parse('{{self.get_forecast_by_daterange.day_forecast|escapejs}}'.replace(/'/g, '"'))
    if (cityForecasts) {
       // load svg icons as symbols
       cityForecasts.map(forecast => {
        forecast.forecast_features.features.map(city => {


          let img = new Image()

            img.onload = () =>{  
              if (!map.hasImage(city.properties.condition_icon)) { 
                return map.addImage(`${city.properties.condition_icon}`, img) 
              }
              
            }
            img.src = `/media/${city.properties.condition_icon}`

        })
      }) 
      // initial loading of forecasts
      map.addSource("city-forecasts", {
        type: "geojson",
        data: cityForecasts[0].forecast_features
      })

      map.addLayer({
        id: "city-forecasts",
        source: "city-forecasts",
        type: "symbol",
        'layout': {
          'icon-image': ['get', 'condition_icon'],
          'icon-size': 0.25,
          'icon-allow-overlap': true
        },
        'paint': {
          // 'icon-halo-color': 'red',
          // 'icon-halo-width': 100,
          // 'icon-color': '#fff',
          // 'icon-halo-blur': 100,
        }
      })
      map.addLayer({
        id: "city-forecasts-max_temp",
        source: "city-forecasts",
        type: "symbol",
        'layout': {
          'text-offset': [2, -0.5],
          'text-field': ['concat', ['get', 'max_temp'], '°C'],
          'text-allow-overlap': true,
          'icon-allow-overlap': true

        },
        'paint': {
          'text-halo-color': '#fff',
          'text-halo-width': 2,
          

        }

      })
      map.addLayer({
        id: "city-forecasts-min_temp",
        source: "city-forecasts",
        type: "symbol",
        'layout': {
          'text-offset': [2.5, 0.5],
          'text-field': ['concat', ['get', 'min_temp'], '°C'],
          'text-size': 12,
          'text-allow-overlap': true,
          'icon-allow-overlap': true


        },
        'paint': {
          'text-halo-color': '#fff',
          'text-halo-width': 2,

        }

      })

     

      // toggle forecasts by selected date 
      $('#daily_forecast').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;
        var selectedForecast = cityForecasts.find(forecast => forecast.forecast_date === valueSelected)

        if (map.getLayer("city-forecasts")) {
          map.removeLayer("city-forecasts");
        }
        if (map.getLayer("city-forecasts-max_temp")) {
          map.removeLayer("city-forecasts-max_temp");
        }

        if (map.getLayer("city-forecasts-min_temp")) {
          map.removeLayer("city-forecasts-min_temp");
        }
        if (map.getSource("city-forecasts")) {
          map.removeSource("city-forecasts");
        }



        map.addSource("city-forecasts", {
          type: "geojson",
          data: selectedForecast.forecast_features
        })

        map.addLayer({
          id: "city-forecasts",
          source: "city-forecasts",
          type: "symbol",
          'layout': {
            'icon-image': ['get', 'condition_icon'],
            'icon-size': 0.25,
            'icon-allow-overlap': true

          },
          'paint': {
            'icon-halo-color': 'red',
            'icon-halo-width': 10,
            'icon-color': '#fff',
            'icon-halo-blur': 10
          }
        })
        map.addLayer({
          id: "city-forecasts-shadow",
          source: "city-forecasts",
          type: "circle",
          'layout': {
            // 'icon-image': ['get', 'condition_icon'],
            // 'icon-size': 0.25,
            // 'icon-allow-overlap': true

          },
          'paint': {
            // 'icon-halo-color': 'red',
            // 'icon-halo-width': 10,
            // 'icon-color': '#fff',
            // 'icon-halo-blur': 10
          }
        })

        map.addLayer({
          id: "city-forecasts-max_temp",
          source: "city-forecasts",
          type: "symbol",
          'layout': {
            'text-offset': [2, -0.5],
            'text-field': ['concat', ['get', 'max_temp'], '°C'],
            'text-allow-overlap': true
          },
          'paint': {
            'text-halo-color': '#fff',
            'text-halo-width': 2,

          }

        })
        map.addLayer({
          id: "city-forecasts-min_temp",
          source: "city-forecasts",
          type: "symbol",
          'layout': {
            'text-offset': [2.5, 0.5],
            'text-field': ['concat', ['get', 'min_temp'], '°C'],
            'text-size': 12,
            'text-allow-overlap': true

          },
          'paint': {
            'text-halo-color': '#fff',
            'text-halo-width': 2,

          }

        })
      });

      // When a click event occurs on a feature in the places layer, open a popup at the
      // location of the feature, with description HTML from its properties.
      map.on("click", "city-forecasts", (e) => {
        // Copy coordinates array.
        const city_name = e.features[0].properties.city_name;
        const condition_desc = e.features[0].properties.condition_desc;
        const min_temp = e.features[0].properties.min_temp;
        const max_temp = e.features[0].properties.max_temp;
        const wind_direction = e.features[0].properties.wind_direction;
        const wind_speed = e.features[0].properties.wind_speed;

        new maplibregl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(`
              <div class="block" style="margin:10px; width:200px">
                <h2 class="title" style="font-size:18px;">${city_name}</h2> 
                <h2 class="subtitle" style="font-size:14px;">${condition_desc}</h2> 
                <hr> 
                <p><b>Min Temperature: </b>${min_temp} °C</p> 
                <p><b>Max Temperature: </b>${max_temp} °C</p> 
                <p><b>Wind Direction: </b>${wind_direction} °</p> 
                <p><b>Wind Speed: </b>${wind_speed} km/hr</p>
              </div>`)
          .addTo(map);
      });

      // Change the cursor to a pointer when the mouse is over the places layer.
      map.on("mouseenter", "city-forecasts", () => {
        map.getCanvas().style.cursor = "pointer";
      });

      // Change it back to a pointer when it leaves.
      map.on("mouseleave", "city-forecasts", () => {
        map.getCanvas().style.cursor = "";
      });

    }

  })


</script>

{% comment %}
<script type="text/javascript" src="{% static 'js/weather_map.js' %}"></script> {% endcomment %}

{% endif %}