{% load static %}
{% load wagtailcore_tags wagtailimages_tags lazyimages_tags nmhs_cms_tags %}


{% block extra_css %}
<link href="{% static 'css/forecasts.css' %}" type="text/css" rel="stylesheet" />

<style>
    .overlay {
        position: absolute; 
        background: rgba(255, 255, 255, 1);
        
        /* center overlay text */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
      }

      @media only screen and (max-width: 600px) {
        .container {
          max-width: 90vw !important;
        }
      }

      .hero{
        box-shadow: inset 0 0 0 100vw rgb(0 0 0 / 20%) !important;
      }
      
      .overlay_1 {
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem;
      }

      .forecast-icon svg{
        height:50px;
        width:100px
      }

      main section {
        padding: 90px 0;
    }
    </style>
{% endblock extra_css %}

{% image page.hero_banner original as img %}

<main style="position: relative;">
<section id="page-hero" class="hero progressive__bg progressive--not-loaded" style="position: relative;background-position: center;background-repeat: no-repeat;background-image: url({% lazy_image_url img %}); background-size:cover; max-height:fit-content"
  data-progressive="{{img.url}}">
  <div class="hero-body has-text-centered pb-6">
    <div class="container">
        <div class="columns is-justify-content-center py-3">
            <div class="column is-6">
                <p class="title pb-4" style="font-weight:700; font-size: 34px; color: {{self.text_color}};">
                    {{self.hero_title|richtext}}
                </p>
                <p class="subtitle pb-5 mb-4" style="font-weight: 400; font-size: 18px; color: {{self.text_color}};">
                    {{self.hero_subtitle}}
                </p>
            </div>
        </div>

        <!-- forecasts section  -->
        {% if self.enable_weather_forecasts and self.get_forecast_by_city.forecasts %}

        <div class="columns is-justify-content-center" style="position:inherit;z-index: 1 ">
            <div class="column is-11">
                <div id="tabs-with-content">
                    <!-- tabs  -->
                    <div class="tabs is-boxed is-centered">
                        <ul>

                            {% for forecasts in self.get_forecast_by_city.forecasts %}
                          
                            <li class="is-active box animate__animated" style="text-align: left;">
                                {% with forecasts.forecast_items|first as latest_forcast %}

                                <div class="city active">
                                    <div class="columns">
                                        <div class="column">
                                            <h2 class="title" style="font-size: 17px">
                                                {{forecasts.city|wordwrap:7|linebreaksbr}}
                                            </h2>
                                                {% comment %} {{ first_object.propertyname }} {% endcomment %}
                                                <h2 class="subtitle" style="font-size: 11px">{{latest_forcast.condition__title|wordwrap:10|linebreaksbr}}</h2>
                                        </div>

                                        <div class="column" style="border-left: 1px dotted rgba(107, 106, 106, 0.251);">

                                            <h2 class="title"
                                                style="font-size: 16px; font-weight: 600;margin-bottom: 0.5rem;">
                                                {{latest_forcast.forecast_date|wordwrap:15|linebreaksbr}}
                                            </h2>

                                            <div class="columns is-gapless">
                                                <div class="column" style="align-self:end">
                                                    
                                                        {% if latest_forcast.condition__icon__file %}
                                                        <figure class="image forecast-icon" style="width:40px;height:40px;display: inline-flex;">
                                                                {% svg latest_forcast.condition__icon__file  %}
                                                        </figure>
                                                        {% endif %}

                                                                                                   </div>
                                                <div class="column">
                                                    <h2 style="font-size:18px; font-weight:600">{{latest_forcast.max_temp}}</h2>
                                                    <h3 style="font-size:13px; font-weight:600">{{latest_forcast.min_temp}}</h3>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="city inactive">
                                    <h2 class="title" style="font-size: 13px; margin-bottom: 0.3rem;">{{forecasts.city}}</h2>
                                    <div class="columns is-gapless pb-1">
                                        <div class="column" style="align-self:end;">
                                            {% if latest_forcast.condition__icon__file %}
                                            <figure class="image forecast-icon" style="width:30px;display: inline-flex;filter: drop-shadow(0 0 0.2rem #494949);">
                                                    {% svg latest_forcast.condition__icon__file %}
                                            </figure>
                                            {% endif %}                                        </div>
                                        <div class="column">
                                            <h2 style="font-size:18px; font-weight:600">{{latest_forcast.max_temp}}</h2>
                                            <h3 style="font-size:13px; font-weight:600">{{latest_forcast.min_temp}}</h3>

                                        </div>

                                    </div>

                                </div>
                                {% endwith %}


                            </li>
                            {% endfor %}
                           

                        </ul>
                    </div>

                    <!-- tab contents  -->
                    <div class="box">
                        {% for forecasts in self.get_forecast_by_city.forecasts %}

                                <section class="tab-content">

                                    <div class="columns is-gapless is-multiline is-mobile">
                                        {% for item in forecasts.forecast_items %}

                                        <div class="column is-3-mobile is-2" style="{% if not forloop.last or forecasts.forecast_items.count > 1 %}border-right: 1px dotted rgba(107, 106, 106, 0.251);{% endif %}">

                                            <h2 class="title mb-1"
                                                style="font-size: 14px; font-weight: 600">
                                                {{item.forecast_date}}
                                            </h2>

                                            <div class="columns is-gapless pb-1 mb-0 is-align-items-center">
                                                <div class="column mr-1" style="align-self:end; text-align: end;">
                                                    <figure class="forecast-icon" style="width:30px;display: inline-flex;">
                                                    {% if item.condition__icon__file %}
                                                        {% svg item.condition__icon__file %}
                                                    {% endif %}
                                                    </figure>
                                                </div>
                                                <div class="column ml-1" style="text-align: start;">
                                                    <h2 style="font-size:14px; font-weight:600">{{item.max_temp}} {{settings.site_settings.MeasurementSettings.get_temp_units_display}}</h2>
                                                    <h3 style="font-size:10px; font-weight:600">{{item.min_temp}} {{settings.site_settings.MeasurementSettings.get_temp_units_display}}</h3>

                                                </div>

                                            </div>

                                            <span class="title"
                                                style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem; ">
                                                <img src="{% static 'img/wind_icon.png'%}" alt="" width="15"
                                                    style="transform:rotate(calc({{item.wind_direction}}deg - 90deg));opacity: 0.7;">
                                                    {{item.wind_direction}} °
                                                </h2>
                                            </span>


                                            <h2 class="title"
                                                style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;">
                                                {{item.wind_speed}} {{settings.site_settings.MeasurementSettings.get_wind_units_display}}
                                            </h2>


                                        </div>
                                        {% endfor %}

                                    </div>

                                </section>

                        {% endfor %}
                     
                    </div>

                </div>
                <!-- </div> -->
            </div>

            <div style="bottom: -0.9em;margin: auto; position: absolute;">

                <div class="columns is-justify-content-center">
                    <div class="column">
                        <a class="button has-text-weight-bold is-dark has-text-white"
                            style=" border-radius: 0.5em;font-size: 14px; padding: 20px;">

                            <span class="icon">
                                <i class="fa fa-cloud-sun-rain"></i>
                            </span>
                            <span> All Forecasts</span>

                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
       
    </div>
</div>

</section>

{% if self.enable_weather_forecasts and self.get_forecast_by_city.forecasts %}
<section class="overlay overlay_1">
</section>
{% endif %}    

</main>
{% block extra_js %}
{% comment %} <script type="text/javascript" src="{% static 'js/hero.js' %}"></script> {% endcomment %}
<script>

let tabsWithContent = (function () {
    let tabs = document.querySelectorAll('.tabs li');
    let tabsContent = document.querySelectorAll('.tab-content');

    let deactvateAllTabs = function () {
        tabs.forEach(function (tab) {
            tab.classList.remove('is-active');
        });
    };

    let hideTabsContent = function () {
        tabsContent.forEach(function (tabContent) {
            tabContent.classList.remove('is-active');
        });
    };

    let activateTabsContent = function (tab) {
        tabsContent[getIndex(tab)].classList.add('is-active');
    };

    let getIndex = function (el) {
        return [...el.parentElement.children].indexOf(el);
    };

    tabs.forEach(function (tab) {
        tab.addEventListener('click', function () {
            deactvateAllTabs();
            hideTabsContent();
            tab.classList.add('is-active');
            activateTabsContent(tab);
        });
    })

    tabs[0].click();
})();
</script>

<script type="text/javascript" src="{% static 'js/progressively.js' %}"></script>

        <script type="text/javascript">
            progressively.init()
        </script>

{% endblock extra_js %}

