{% load static %}
{% if page.youtube_playlist %}
<section style="background-color:#f9f9f9; padding-top: 4rem; padding-bottom: 4rem;">

    <div class="container">
        <div class="columns is-align-items-center is-justify-content-center is-centered">
            <div class="column is-4">
                <div class="content">
                    <h2 class="title py-4" style="font-size: 29px; font-weight:700"> {{page.video_section_title}}</h2>
                    <p style="font-size:14px">{{page.video_section_desc}}
                    </p>

                    <a class="button is-dark">More</a>

                </div>

            </div>
            <div class="column is-8">
                {% include 'videos_skeleton_home.html' with playlist_items=page.youtube_playlist.playlist_items %}
            </div>
        </div>
    </div>
</section>
{% endif %}
