{% load static wagtailimages_tags lazyimages_tags wagtailcore_tags %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% if page.youtube_playlist %}
<section style="background-color:#f9f9f9; padding-top: 4rem; padding-bottom: 4rem;" class="has-text-centered ">

    <div class="container is-align-content-center">

        <h2 class="title py-6" style="font-weight:700">{{page.video_section_title}}</h2>

        {% include 'videos_skeleton_home.html' %}

        <div class="columns is-centered py-6">
            {% if  settings.site_settings.OrganisationSetting.twitter %}
                <div class="column is-6" >
                    {% comment %} <div>
                        <h3 class="social-media-feed-item-title">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>Twitter Feed</span>
                        </h3>
                    </div> {% endcomment %}
                    <div class="social-media-feed-item box">
                        <a class="twitter-timeline"
                            data-tweet-limit="10"
                            data-dnt="true"
                            href="{{settings.site_settings.OrganisationSetting.twitter}}">
                            Fecthing Tweets from {{ settings.site_settings.OrganisationSetting.twitter }}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if settings.site_settings.OrganisationSetting.facebook %}
                <div class="column is-6">
                    {% comment %} <h3 class="social-media-feed-item-title"><span class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </span>
                        <span>Facebook Feed</span></h3> {% endcomment %}
                    <div class="social-media-feed-item box">
                        <div class="fb-page"
                                data-href="{{settings.site_settings.OrganisationSetting.facebook}}"
                                data-tabs="timeline"
                                data-width="1200"
                                data-height="700"
                                data-small-header="true"
                                data-adapt-container-width="true"
                                data-hide-cover="false"
                                data-show-facepile="false">
                            <blockquote
                                    cite="{{settings.site_settings.OrganisationSetting.facebook}}"
                                    class="fb-xfbml-parse-ignore">
                                <a href="{{settings.site_settings.OrganisationSetting.facebook}}">
                                    Fetching Facebook Feed
                                    from {{ settings.site_settings.OrganisationSetting.facebook }}
                                </a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
</section>
{% endif %}



{% if page.latest_updates %}
{% comment %} {% with page.latest_updates.news.card_props as card %} {% endcomment %}
    <section class="climate-change-publications">
        <div class="container">
            <h2 class="title pt-6 pb-6 has-text-centered" style="font-weight:700">Latest Updates</h2>

            <div class="columns is-multiline is-centered update-items">
                {% for update in page.latest_updates %}
                    <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile update-item is-centered">
                        {% include 'update_card_include.html' with card=update.card_props show_type=True %}
                    </div>
                {% endfor %}
            </div>
            <div class="more-container has-double">
                {% if settings.core.ImportantPages.all_news_page %}
                    <a href="{{ settings.core.ImportantPages.all_news_page.url }}" class="more">
                        All News
                        <span class="icon">
                            <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                {% endif %}
                {% if settings.core.ImportantPages.all_publications_page %}
                    <a href="{{ settings.core.ImportantPages.all_publications_page.url }}" class="more">
                        All Publications
                        <span class="icon">
                            <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>

                {% endif %}
            </div>
        </div>
    </section>

{% comment %} {% endwith %} {% endcomment %}
{% endif %}
{% comment %} {% if settings.site_settings.OrganisationSetting.facebook or settings.site_settings.OrganisationSetting.twitter %} {% endcomment %}
{% comment %} <section class="social-media-feed-section" style="padding-top: 4rem; padding-bottom: 4rem;">
    <div class="container">
        <div class="columns is-centered">

            
            
            {% if  settings.site_settings.OrganisationSetting.twitter %}
                <div class="column is-4" >
                    <div>
                        <h3 class="social-media-feed-item-title">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>Twitter Feed</span>
                        </h3>
                    </div>
                    <div class="social-media-feed-item box">
                        <a class="twitter-timeline"
                            data-tweet-limit="10"
                            data-dnt="true"
                            href="{{settings.site_settings.OrganisationSetting.twitter}}">
                            Fecthing Tweets from {{ settings.site_settings.OrganisationSetting.twitter }}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if settings.site_settings.OrganisationSetting.facebook %}
                <div class="column is-4">
                    <h3 class="social-media-feed-item-title"><span class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </span>
                        <span>Facebook Feed</span></h3>
                    <div class="social-media-feed-item box">
                        <div class="fb-page"
                                data-href="{{settings.site_settings.OrganisationSetting.facebook}}"
                                data-tabs="timeline"
                                data-width="500"
                                data-height="700"
                                data-small-header="true"
                                data-adapt-container-width="true"
                                data-hide-cover="false"
                                data-show-facepile="false">
                            <blockquote
                                    cite="{{settings.site_settings.OrganisationSetting.facebook}}"
                                    class="fb-xfbml-parse-ignore">
                                <a href="{{settings.site_settings.OrganisationSetting.facebook}}">
                                    Fetching Facebook Feed
                                    from {{ settings.site_settings.OrganisationSetting.facebook }}
                                </a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="column is-3">
                <h3 class="social-media-feed-item-title">
                    <span>Latest Updates</span></h3>
                <div class="columns is-multiline">
                    <div class="column is-12">
                        {% with page.latest_updates.news.card_props as card %}
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image" style="height:2xx00px">
                                        {% if card.card_image %}
                                            {% if card.card_image_type == 'url' %}
                                            <img src="{{card.card_image }}" style="height:100%; object-fit: cover"  alt="{{ news_item.news_item }}"/>
                                          
                                            {% endif %}
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="card-content">
                                    {% if card.card_tag or card.card_tag_category %}
                                        {% if show_type and card.card_tag_category %}
                                            <p class="card-tag">
                                                <span class="tag is-light"> {{ card.card_tag_category }}</span>
                                            </p>
                                        {% else %}
                                            <p class="card-tag">
                                                <span class="tag is-light">{{ card.card_tag }}</span>
                                            </p>
                                        {% endif %}
                                    {% endif %}
                            
                                    <a href="{{ card.card_more_link }}" class="card-title">
                                        <p style="font-size:16px; font-weight:700" class="title">{{ card.card_title }}</p>
                                    </a>
                                    <div class="card-meta" style="{% if card.card_meta %}justify-content:space-between;{% endif %}">
                                        {% if card.card_meta %}
                                            <span class="" style="font-size:16px;" >{{ card.card_meta }}</span>
                                        {% endif %}
                                        <a href="{{ card.card_more_link }}" class="more card-more-link">
                                            <span style="font-size:16px;" >Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                    <div class="column is-12">
                        {% with page.latest_updates.publication.card_props as card %}
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image" style="height:200px">
                                        {% if card.card_image %}
                                            {% image card.card_image original as item_card_img %}
                                            <img class="progressive__img progressive--not-loaded"
                                                data-progressive="{{ item_card_img.url }}"
                                                src="{% lazy_image_url item_card_img %}" alt="{{ card_title }}"
                                                style="height:100%; object-fit: cover"
                                            />
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="card-content">
                                    {% if card.card_tag or card.card_tag_category %}
                                        {% if show_type and card.card_tag_category %}
                                            <p class="card-tag">
                                               
                                                <span class="tag is-light"> {{ card.card_tag_category }}</span>

                                            </p>
                                        {% else %}
                                            <p class="card-tag">
                                                <span class="tag is-light">{{ card.card_tag }}</span>

                                                
                                            </p>
                                        {% endif %}
                                    {% endif %}
                            
                                    <a href="{{ card.card_more_link }}" class="card-title">
                                        <p style="font-size:16px; font-weight:700" class="title">{{ card.card_title }}</p>
                                    </a>
                                   
                                    <div class="card-meta" style="{% if card.card_meta %}justify-content:space-between;{% endif %}">
                                        {% if card.card_meta %}
                                            <span class="" style="font-size:16px;" >{{ card.card_meta }}</span>
                                        {% endif %}
                                        <a href="{{ card.card_more_link }}" class="more card-more-link">
                                            <span style="font-size:16px;" >Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
{% comment %} {% endif %} {% endcomment %}

{% block extra_js %}
    {% if settings.site_settings.OrganisationSetting.facebook %}
        <script async src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"></script>
    {% endif %}
    {% if  settings.site_settings.OrganisationSetting.twitter %}
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}
   

{% endblock %}