{% load static %}
{% load  wagtailimages_tags lazyimages_tags wagtailcore_tags svg%}


{% if self.get_services.services.all %}

<section style="padding-top: 4rem; padding-bottom: 4rem;" class="has-text-centered">

    <div class="container is-justify-content-center ma-2">
        <h2 class="title py-4" style=" font-weight:700"> Our Service Areas</h2>

        <div class="columns is-multiline is-mobile intro-items">
            {% for service in self.get_services.services.all %}

            <a href="{{service.url}}" class="column is-half-mobile is-half-tablet is-one-quarter-desktop service-item">
                <figure class="image is-64x64">
                    <div class="service-icon-container">
                        <img class="service-icon-bg-img" src="{% static '/icons/icon-bg.svg' %}" alt="">
                        <div class="service-icon">
                            
                            {% if service.service.icon %}
                                {% svg service.service.icon %}
                            {% endif %}                            
                        </div>
                    </div>
                </figure>
                <div class="service-detail">
                    
                    <p class="intro-item-title dark-grey">
                        {{service.banner_title}}
                    </p>
                    
                </div>
            </a>

            {% endfor %}
        </div>
       
    </div>



</section>
{% endif %}
