{% load static %}
{% load  wagtailimages_tags lazyimages_tags wagtailcore_tags%}


{% if self.get_services.services.all %}

<section style="padding-top: 4rem; padding-bottom: 4rem;" class="has-text-centered">

    <div class="container is-justify-content-center ma-2">
        <h2 class="title py-4" style="font-size: 27px; font-weight:700"> Our Service Areas</h2>

        <div class="columns has-text-left is-multiline is-justify-content-center">

            {% for service in self.get_services.services.all %}
            {% image service.banner_image original as img %}

            <div class="column is-one-quarter-desktop is-full-mobile">
                <a href="{{service.url}}">
                <div class="card m-1" style="border-radius: 1em; height:100%">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img class="progressive__img progressive--not-loaded feature-block-image"
                            data-progressive="{{ img.url }}"
                            src="{% lazy_image_url img %}"
                            alt="{{ value.title }}"
                                style="border-radius: 1em 1em 0 0">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-5 has-text-weight-bold">{{service.banner_title}}</p>

                            </div>
                        </div>

                        <div class="content" style="font-size: 14px;">
                            {{service.introduction_text|richtext|truncatechars_html:90}}

                        </div>
                    </div>
                </div>
            </a>

            </div>
            {% endfor %}
            
           

        </div>
    </div>



</section>
{% endif %}
