{% load static wagtailcore_tags wagtailimages_tags lazyimages_tags %}

{% image page.hero_banner original as else_img %}
<div id="page-hero" class="hero progressive__bg progressive--not-loaded mx-3"
     data-progressive="{{ else_img.url }}"
     style="position: relative;max-height:fit-content; min-height:600px; background-image: url({% lazy_image_url else_img %});background-position:center; background-repeat:no-repeat; background-size:cover">
    <div class="hero-body pb-2" style="display: flex; align-items: center">
        <div class="container" style="width: 100%">
            <div class="columns is-multiline is-mobile is-align-items-center py-3">
                <div class="column is-5-desktop is-full-tablet is-full-mobile">
                    {% if self.pre_title %}
                        <p class="is-hidden-mobile"
                           style="font-weight: 400; font-size: 20px; color: #ffffff; text-shadow: 0px 1px 10px #000">
                            {{ self.pre_title }}
                        </p>
                    {% endif %}
                    <p class="title pb-4"
                       style="font-weight:700; font-size: 34px; color: #ffffff; text-shadow: 0px 1px 10px #333">
                        {{ self.hero_title|richtext }}
                    </p>
                    {% if self.hero_subtitle %}
                        <p class="subtitle pb-5 mb-4 mt-4 is-hidden-mobile"
                           style="font-weight: 400; font-size: 16px;color: #ffffff; text-shadow: 0px 1px 10px #000; font-weight:450">
                            {{ self.hero_subtitle }}
                        </p>
                    {% endif %}
                    {% if page.call_to_action_button_text %}
                        {% if page.call_to_action_related_page %}
                            {% if page.call_to_action_related_page %}
                                <a class="button is-dark has-text-white"
                                   style=" font-weight: 600; border-radius: var(--border-radius);"
                                   href="{{ page.call_to_action_related_page.url }}">
                                    <span>{{ page.call_to_action_button_text }}</span>
                                    <span class="icon">
                                        <i class="fa fa-arrow-right"></i>
                                        </span>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                {% if page.show_city_forecast %}
                    <div class="column is-7-desktop is-full-tablet is-full-mobile weather-widget-column"
                         id="weather-widget-wrapper">
                        {% include "weather/forecast_widget_skeleton_include.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>