{% extends "base.html" %}

{% block title %}Internal server error{% endblock %}

{% block body_class %}template-500{% endblock %}

{% block content %}

<main>
    <section>
        <div class="container has-text-centered">
            <div>
                <div style="padding-left: 20px; align-items: center;
                display: flex;
                flex-direction: column">
                    <h3 class="py-2">
                        Internal server error
                    </h3>
                    <h5  class="py-4" style="color: grey">Sorry, there seems to be an error. Please try again soon.</h5>

                    <a href="{{BASE_PATH}}"
               class="button is-rounded center sec-btn cta-btn" style="text-align:center">
                <span>Back to Home Page</span>
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
