{% for share_url in share_urls %}

    <a class="button is-small is-rounded"
       href="{{ share_url.url }}"
       target="_blank" rel="noopener"
       data-ga-event-category="Social Media Share"
       data-ga-event-label="{{ share_url.name }}"
       data-ga-value="{{ share_url.url }}"
    >
        <span class="icon">
            <i class="fab fa-{{ share_url.fa_icon }}" aria-hidden="true"></i>
        </span>
        <span class="share-button-title">{{ share_url.name }}</span>
    </a>


{% endfor %}