{% load nmhs_cms_tags i18n %}

<div class="columns is-multiline video-items" id="videoWrapper">

    {% for video in playlist_items|slice:"0:3" %}
        <div class="column is-one-third-desktop is-full-mobile video-item">
            <div class="card {{ box_shadow }}">
                <div class="card-image">
                    <figure class="image" style="display:flex">
                        <iframe style="flex-grow: 1;"
                                src="https://www.youtube.com/embed/{{ video.snippet.resourceId.videoId }}">
                        </iframe>
                    </figure>
                </div>
                <div class="card-content">
                    <a class="card-tag-float">
                        <h6>
                            {{ video.contentDetails.videoPublishedAt|slice:"0:10"|parse_date:"%Y-%m-%d"|date:"d M Y" }}</span>
                        </h6>
                    </a>
                    <a class="card-title">
                        <h4>
                            {{ video.snippet.title|truncatechars:40}}
                        </h4>
                    </a>

                    <div class="card-video-stats">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="card-video-meta">
                        <a href="https://www.youtube.com/channel/{{ video.snippet.channelId }}?sub_confirmation=1"
                           target="_blank"
                           rel="noopener">
                            {% translate "SUBSCRIBE" %}
                        </a>
                        <a href="https://www.youtube.com/channel/{{ video.snippet.channelId }}?sub_confirmation=1"
                           target="_blank"
                           rel="noopener"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


</div>