{% load nmhs_cms_tags i18n %}

{% for item in result.videos %}
    <div class="column is-one-third-desktop is-half-tablet is-full-mobile video-item" style="display: flex;">
        <div class="card" style="width: 100%">
            <div class="card-image">
                <figure class="image">
                    <iframe width="100%" height="100%"
                            src="https://www.youtube.com/embed/{{ item.snippet.resourceId.videoId }}">
                    </iframe>
                </figure>
            </div>
            <div class="card-content">
                <span class="card-tag-float">{{ result.title|truncatechars:35 }}</span>
                <a class="card-title">
                    <h4>{{ item.snippet.title }}</h4>
                </a>
                <div class="card-video-stats">
                    <span>
                        {% blocktranslate trimmed with updated_on=item.contentDetails.videoPublishedAt|date:'d M Y' %}
                            Published on : {{ updated_on }}
                        {% endblocktranslate %}
                    </span>
                </div>

                <div class="card-video-meta">
                    <a href=https://www.youtube.com/channel/{{ item.snippet.channelId }}?sub_confirmation=1"
                       target="_blank"
                       rel="noopener"
                    >

                        {% translate "SUBSCRIBE" %}
                    </a>
                    <a href=https://www.youtube.com/channel/{{ item.snippet.channelId }}?sub_confirmation=1"
                       target="_blank"
                       rel="noopener"
                    >
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}