{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}

{% block body_class %}product-page{% endblock %}

{% block content %}
    <main class="is-index">
        <section class="nmhs-work is-desktop">
            <div class="work container">
                {% include 'service_introduction.html' with page=page what_we_do=False %}
            </div>
        </section>

        <section class="listing-section">
            <h2 id="results" class="section-title has-text-centered">Browse Product Updates</h2>
            <div class="container">
                <div class="columns" style="width: 100%;margin: 0">
                    <div class="column is-3 is-full-mobile">
                        {% include 'products/product_filter_include.html' with filters=page.filters %}
                    </div>
                    <div class="column is-9 is-full-mobile">
                        {% include 'products/product_list_include.html' with products=products %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block extra_js %}

    <script>

        $(document).ready(function () {

            // If on smaller screens, collapse all filter items
            const windowWidth = $(window).width();

            if (windowWidth <= 768) {
                //for  smaller devices
                $('.results-filter .js-accordion-item').removeClass('active');
            }

            // initialize filter accordion
            accordion.init({speed: 300, oneOpen: false});

            const listButton = $("#list-view-button");
            const gridButton = $("#grid-view-button");
            const wrapper = $(".results-list");
            const resultItem = $(".result-list-item");


            const params = getParams(window.location.href);

            // mark checkboxes from params url, on load
            markCheckboxesFromUrlParams('product-filter', params, function (params) {
                if (params && params.view) {
                    if (params.view === 'grid') {
                        listButton.removeClass("active");
                        gridButton.addClass("active");
                        wrapper.removeClass("list-view").addClass("grid-view columns is-mobile is-multiline");
                        resultItem.addClass("column is-one-third-desktop is-full-mobile");
                    } else {
                        gridButton.removeClass("active");
                        listButton.addClass("active");
                        wrapper.removeClass("grid-view columns is-mobile is-multiline").addClass("list-view");
                        resultItem.removeClass("column is-one-third-desktop is-full-mobile");
                    }
                }
            });

            const baseUrl = "{{ page.url }}";

            filterChangeListener('product-filter', params, function (clickedEl, url_params) {
                window.location.href = `${baseUrl}?${url_params}#results`;
            });

        });


    </script>

{% endblock %}