{% load wagtailiconchooser_tags %}

<div class="columns is-multiline my-4">
    {% for chart in charts %}
    <div class="column is-half chart-column">
        <div class="card elevation-1">
            <header class="card-header elevation-0">
                <p class="card-header-title">{{ chart.title }}</p>
                <button class="card-header-icon" aria-label="more options">
                  <div class="icon is-small">
                      {% svg_icon "layer-group" %}
                  </div>
                </button>
                <button class="card-header-icon" aria-label="more options">
                  <div class="icon is-small">
                      {% svg_icon "info-circle" %}
                  </div>
                </button>
            </header>
            <div class="card-content">
                <div
                    class="chart-container"
                    id="chart-{{ section_index }}-{{ index|add:forloop.counter0 }}"
                    data-layer-id="{{ chart.dataset.id }}"
                    data-title="{{ chart.title }}"
                    data-color="{{ chart.chart_color|default:'#0b76e1' }}"
                    data-unit="{{ chart.data_unit|default:'Value' }}"
                    data-type="{{ chart.chart_type|default:'line' }}"
                    data-admin-code="GH"
                ></div>
            </div>
            <footer class="card-footer">
                <div style="width: 100%" class="m-2">
                    <input
                        class="flatpickr flatpickr-input input is-small"
                        type="text"
                        placeholder="Select Date Range"
                        id="date-chart-{{ section_index }}-{{ index }}"
                    />
                </div>
            </footer>
        </div>
    </div>
    {% endfor %}
</div>
