<div class="columns is-multiline my-4">
  {% for chart in charts %}
    <div class="column is-half chart-column">
      <div class="card elevation-1">
        <header class="card-header elevation-0">
          <p class="card-header-title">{{ chart.title }}</p>
        </header>
        <div class="card-content">
          <div class="chart-container" 
          id="chart-{{ section_index }}-{{ index|add:forloop.counter0 }}"
          data-layer-id="{{ chart.dataset.id }}"
          data-title="{{ chart.title }}"
          data-color="{{ chart.chart_color|default:'#0b76e1' }}"
          data-unit="{{ chart.data_unit|default:'Value' }}"
          data-type="{{ chart.chart_type|default:'line' }}"
          data-admin-code="GH"
          >
          </div>
        </div>
        <footer class="card-footer">
          <div class="field">
            <label class="label">Start</label>
            <div class="control">
              <input type="date" placeholder="Start" id="startdate-{{ section_index }}-{{ index|add:forloop.counter0 }}">
            </div>
          </div>
          <div class="field">
            <label class="label">End</label>
            <div class="control">
              <input type="date" placeholder="End" id="enddate-{{ section_index }}-{{ index|add:forloop.counter0 }}">
            </div>
          </div>
        </footer>
      </div>
    </div>
  {% endfor %}
</div>
