{% load wagtailiconchooser_tags %}

{% with map=map_snippet.map %}
<div class="column map-column">
    <div class="card elevation-1">
        <header class="card-header elevation-0">
            <p class="card-header-title">{{ map.title }} for {{map.area_desc}}</p>
            <a class="card-header-icon" aria-label="more options" href="{{map.mapviewer_map_url}}"  target="_blank" rel="noopener">
              <div class="icon is-small">
                  {% svg_icon "layer-group" %}
              </div>
            </a>
            <button class="card-header-icon" aria-label="more options">
              <div class="icon is-small">
                  {% svg_icon "info-circle" %}
              </div>
            </button>
        </header>
        {% with container_id="map-"|add:section_index|add:"-"|add:map_index %}
        <div class="card-content">
            {% for block in map.map_layer %}
            <div
                class="map-container"
                id="{{ container_id }}"
                data-tilejson="{{map_snippet.datasetsurl}}{{block.value.dataset.id}}"
                data-dataset="{{ block.value.dataset.id }}"
                data-layer="{{ block.value.id }}"
                data-title="{{ map.title }}"
                data-admin-path="{{map.admin_path}}"
                data-date-format="{{ block.value.date_format }}"
                data-layer-type="{% if block.block_type == 'raster_file_layer' %}raster_file{% elif block.block_type == 'wms_layer' %}wms{% elif block.block_type == 'vector_tile_layer' %}vector_tile{% elif block.block_type == 'raster_tile_layer' %}raster_tile{% endif %}"
            >
                <div
                    class="c-legend-type-choropleth"
                    style="
                        position: absolute;
                        bottom: 20px;
                        left: 10px;
                        background: white;
                        padding: 2px 14px;
                        border-radius: 6px;
                        font-size: 14px;
                        z-index: 1000;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                        display:none;
                        
                    "
                    id="legend-{{container_id}}"
                ></div>
            </div>

            {% endfor %}
        </div>
        <footer class="card-footer">
            <div style="width: 100%" class="m-2">
                <input
                    class="flatpickr flatpickr-input input is-small"
                    type="text"
                    placeholder="Select Date.."
                    id="mapdate-{{ container_id }}"
                />
            </div>
        </footer>
        {% endwith %}
    </div>
</div>

{% if map.description %}
<div class="column description-column mt-3">
    {% if map.area_desc %}<b><em>{{map.area_desc}} </em></b>{% endif %}
    <p>{{ map.description }}</p>
</div>

{% endif %} {% endwith %}
