{% load wagtailiconchooser_tags wagtailcore_tags %}

{% with map=map_snippet.map %} {% if map.description %}
<div class="column description-column mt-3">
    <h3 class="map-title" style="color:{{page.banner_background_color}}">{{ map.title|richtext }}</h3>
    {% if map.area_desc %}<p class="map-area">{{map.area_desc}} </p>{% endif %}
    <p>{{ map.description|richtext }}</p>
</div>

{% endif %}

<div class="column map-column">
    {% with container_id="map-"|add:section_index|add:"-"|add:map_index %}
    {% for block in map.map_layer %}

    <div class="card elevation-1">
        <header class="card-header elevation-0">
            <p class="card-header-title">{{ map.title }}</p>
            
            {% if block.value.dataset.published and block.value.dataset.public %}
                <a
                    class="card-header-icon"
                    aria-label="more options"
                    href="{{map.mapviewer_map_url}}"
                    target="_blank"
                    rel="noopener"
                >
                    <div class="icon is-small">
                        {% svg_icon "layer-group" %}
                    </div>
                </a>
                {% endif %} 
            {% if block.value.dataset.metadata %}
                <button
                    class="card-header-icon js-modal-trigger"
                    aria-label="more options"
                    data-target="modal-{{ section_index }}-{{ map_index }}"
                >
                    <div class="icon is-small">
                        {% svg_icon "info-circle" %}
                    </div>
                </button>
                {% endif %}
        </header>
        <div class="card-content">
           
            <div
                class="map-container"
                id="{{ container_id }}"
                data-tilejson="{{map_snippet.datasetsurl}}{{block.value.dataset.id}}"
                data-dataset="{{ block.value.dataset.id }}"
                data-layer="{{ block.value.id }}"
                data-title="{{ map.title }}"
                data-geostore-id="{{ map.geostore_id }}"
                data-gid0="{% if map.gid0 %}{{ map.gid0 }}{% else %}{% endif %}"
                data-gid1="{% if map.gid1 %}{{ map.gid1 }}{% else %}{% endif %}"
                data-gid2="{% if map.gid2 %}{{ map.gid2 }}{% else %}{% endif %}"
                data-date-format="{{ block.value.date_format }}"
                data-layer-type="{% if block.block_type == 'raster_file_layer' %}raster_file{% elif block.block_type == 'wms_layer' %}wms{% elif block.block_type == 'vector_tile_layer' %}vector_tile{% elif block.block_type == 'raster_tile_layer' %}raster_tile{% endif %}"
            >
                <div
                    class="c-legend-type-choropleth"
                    style="
                        position: absolute;
                        bottom: 20px;
                        left: 10px;
                        background: white;
                        padding: 2px 14px;
                        border-radius: 6px;
                        font-size: 14px;
                        z-index: 1000;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                        display:none;
                    "
                    id="legend-{{container_id}}"
                ></div>
            </div>

        </div>
        <footer class="card-footer">
            <div style="width: 100%" class="m-2">
                <input
                    class="flatpickr flatpickr-input input is-small"
                    type="text"
                    placeholder="Select Date.."
                    id="mapdate-{{ container_id }}"
                />
                <div class="params" id="paramsContainer-{{ container_id }}"></div>
            </div>
        </footer>
    </div>
        {% include "partials/modal.html" with metadata=block.value.dataset.metadata section=section_index index=map_index %}

    {% endfor %}


    {% endwith %}
</div>
{% endwith %}
