{% load wagtailcore_tags %}
{% load menu_tags wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% get_settings use_default_site=True %}

{% image settings.site_settings.OrganisationSetting.logo width-300 as logo%}
<footer class="footer" style="background-color: #262c38; color: #f9f9f9">
  <div class="container  my-6">
    <div class="columns is-mobile is-multiline">
      <div class="column is-one-fifth-desktop is-half-mobile">
        {% if logo %} 
        <a href="/">
            <img src="{{logo.url}}" style="height:auto;filter: brightness(0) invert(1);" >
        </a>
        {% else %}
        <a
          href="#"
          style="
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 0.2em;
            color: rgb(228, 226, 226);
          "
          >N.M.H.S
        </a>

        {% endif %}
      
        <p class="title is-6 has-text-white has-text-weight-normal">
          National Meteorological & <br> Hydrological Services
        </p>
      </div>

      {% flat_menu 'footer' max_levels=2 show_menu_heading=True fall_back_to_default_site_menus=True template="navigation/footer_menu.html" %}

      
      <div class="column  is-one-fifth-desktop is-half-mobile">
       
        <p class="footer-link-title is-uppercase title">
          <a class="has-text-white">OUR OFFICE</a>
      </p>
        {% comment %} <div class="address"> {% endcomment %}
          

          {% if settings.site_settings.OrganisationSetting.address  %}
            <a class="footer-link has-text-white">
            {{settings.site_settings.OrganisationSetting.address|richtext}}
            </a>
          {% endif %}

          {% if settings.site_settings.OrganisationSetting.phone  %}

            <a class="footer-link has-text-white"><b>Tel: </b>{{settings.site_settings.OrganisationSetting.phone}}</a>
          {% endif %}
          {% if settings.site_settings.OrganisationSetting.email  %}

            <a class="footer-link has-text-white"><b>Email: </b>{{settings.site_settings.OrganisationSetting.email}}</a>
          {% endif %}
        {% comment %} </div> {% endcomment %}
      </div>
      <div class="column is-one-fifth-desktop is-half-mobile">
        <a
          class="button is-outlined is-light"
          style="border-radius: 0.5em; font-size: 14px; padding: 0 3em"
          href="/feedback"
        >
          Leave feedback
        </a>
      </div>
    </div>
  </div>
</footer>
