{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% get_settings use_default_site=True %}

{% image settings.base.OrganisationSetting.logo width-300 as logo %}
<footer class="footer" style="background-color: var(--primary-color); color: #f9f9f9">
    <div class="container  my-6">
        <div class="columns is-mobile is-multiline">
            <div class="column is-one-fifth-desktop is-half-mobile">
                {% if logo %}
                    <a href="/">
                        <img src="{{ logo.url }}" style="height:auto;filter: brightness(0) invert(1);">
                    </a>
                {% else %}
                    <a
                            href="#"
                            style="
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 0.2em;
            color: rgb(228, 226, 226);
          "
                    >N.M.H.S
                    </a>

                {% endif %}

                {% comment %} <p class="title is-6 has-text-white has-text-weight-normal">
                    National Meteorological & <br> Hydrological Services
                </p> {% endcomment %}
            </div>

      
      <div class="column  is-one-fifth-desktop is-half-mobile">
       
        
        {% comment %} <div class="address"> {% endcomment %}
          

          {% if settings.site_settings.OrganisationSetting.address  %}
          <p class="footer-link-title is-uppercase title">
            <a>OUR OFFICE</a>
        </p>
            <a class="footer-link">
            {{settings.site_settings.OrganisationSetting.address|richtext}}
            </a>
          {% endif %}

            <div class="column  is-one-fifth-desktop is-half-mobile">

                <p class="footer-link-title is-uppercase title">
                    <a>OUR OFFICE</a>
                </p>
                {% comment %}
                    <div class="address"> {% endcomment %}


                {% if settings.base.OrganisationSetting.address %}
                    <a class="footer-link">
                        {{ settings.base.OrganisationSetting.address|richtext }}
                    </a>
                {% endif %}

                {% if settings.base.OrganisationSetting.phone %}

                    <a class="footer-link"><b>Tel: </b>{{ settings.base.OrganisationSetting.phone }}</a>
                {% endif %}
                {% if settings.base.OrganisationSetting.email %}

                    <a class="footer-link"><b>Email: </b>{{ settings.base.OrganisationSetting.email }}</a>
                {% endif %}
                {% comment %} </div> {% endcomment %}
            </div>

        </div>
    </div>
</footer>
