<footer class="footer" style="background-color: #262c38; color: #f9f9f9">
  <div class="container">
    <div class="columns">
      <div class="column">
        <a
          class="navbar-item"
          href="#"
          style="
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 0.2em;
            color: rgb(228, 226, 226);
          "
          >N.M.H.S
        </a>
        <p class="title is-6 has-text-white-ter has-text-weight-normal">
          National Meteorological & <br> Hydrological Services
        </p>
      </div>

      <div class="column">
        <div class="content">
          <h1 class="title is-6 has-text-white-ter has-text-weight-medium">
            SERVICES
          </h1>
        </div>
        <div style="font-size: 14px" class="has-text-weight-light">
          <p>Forecasting</p>
          <p>Marine</p>
          <p>Climate</p>
          <p>Aviation</p>
          <p>Air quality</p>
        </div>
      </div>
      <div class="column">
        <div class="quick-links">
          <div class="content">
            <h1 class="title is-6 has-text-white-ter has-text-weight-medium">
              QUICK LINKS
            </h1>
          </div>
          <div style="font-size: 14px" class="has-text-weight-light">
            <p>Ministry of Environment and Forestry</p>
            <p>Ministry of Agriculture Livestock and Fisheries</p>
            <p>National Drought Management Authority</p>
          </div>
        </div>
        <div class="address pt-6">
          <div class="content">
            <h1 class="title is-6 has-text-white-ter has-text-weight-medium">
              QUR OFFICE
            </h1>
          </div>
          <div style="font-size: 14px" class="has-text-weight-light">
            <p>Khartoum Corner</p>
            <p>Khartoum Road, P.O Box 30259, 00100 GPO</p>
            <p>Khartoum, Sudan</p>
            <p><b>Phone:</b> +25X 20 38567880-5, +25X 724 255153-4</p>
            <p><b>Email:</b> director@meteo.go.sud, info@meteo.go.sud</p>
          </div>
        </div>
      </div>
      <div class="colum">
        <a
          class="button is-outlined is-light"
          style="border-radius: 0.5em; font-size: 14px; padding: 0 3em"
        >
          Leave feedback
        </a>
      </div>
    </div>
  </div>
</footer>
