{% load i18n wagtailcore_tags static %}
{% load wagtailimages_tags %}
{% url 'wagtailadmin_home' as wagtail_admin_url %}

{% image settings.base.OrganisationSetting.logo width-1000 as logo %}
<header>
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    {% if logo %}
                        <img src="{{ logo.url }}" alt="logo">
                    {% else %}
                        N.M.H.S
                    {% endif %}
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="mainNav">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="topNav" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        {% if settings.base.OrganisationSetting.instagram %}
                            <span class="icon">
                                <a href="{{ settings.base.OrganisationSetting.instagram }}"
                                   target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </span>
                        {% endif %}
                        {% if settings.base.OrganisationSetting.twitter %}
                            <span class="icon">
                                <a href="{{ settings.base.OrganisationSetting.twitter }}"
                                   target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </span>
                        {% endif %}

                        {% if settings.base.OrganisationSetting.facebook %}
                            <span class="icon">
                                <a href="{{ settings.base.OrganisationSetting.facebook }}"
                                   target="_blank" rel="noopener noreferrer">

                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>

                            </span>
                        {% endif %}

                        {% if settings.base.OrganisationSetting.youtube %}
                            <span class="icon">
                                <a href="{{ settings.base.OrganisationSetting.youtube }}"
                                   target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                            </span>
                        {% endif %}

                    </div>
                    {% if settings.base.LanguageSettings.languages %}
                        <div id="google_language_translator"></div>

                        <div class="navbar-item has-dropdown is-hoverable">

                            <div class="buttons" style="font-weight: 600;">
                                <a class="button is-small is-text px-1">
                                    <span>Language</span>

                                    <span class="icon">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </a>

                                <div class="navbar-dropdown languages">
                                    {% for lang in settings.base.LanguageSettings.languages %}

                                        <a class="navbar-item dropdown-item py-2" data-lang="{{ lang.value.language }}"
                                           data-lang-prefix="{{ lang.value.prefix }}">
                                            {{ lang.value.language }}
                                        </a>
                                    {% endfor %}
                                </div>

                            </div>

                        </div>
                    {% endif %}

                    <div class="navbar-item">
                        <div id="search-input" class="field is-hidden search-input">
                            <form action="{% url 'search' %}">
                                <div class="control is-small has-icons-right">
                                    <input id="input-el"
                                           class="input is-small is-rounded" type="text" name="query"
                                           value="{{ request.GET.query }}"
                                           placeholder="Search">
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div id="search-trigger" class="search-trigger">
                            <a class="button is-small is-text px-1">
                                <span>Search</span>
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if settings.base.ImportantPages.contact_us_page.url %}
                                <a class="button is-dark is-small  has-text-white"
                                   href="{{ settings.base.ImportantPages.contact_us_page.url }}">
                                    Contact us
                                </a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a class="button is-dark is-small  has-text-white" href="{{ wagtail_admin_url }}">
                                    {{ user.username }}, CMS
                                </a>
                            {% else %}
                                <a class="button is-dark is-small  has-text-white" href="{{ wagtail_admin_url }}">
                                    Log in
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar is-justify-content-center is-align-content-center bottom-nav" role="navigation"
             aria-label="main navigation">
            <div id="mainNav" class="navbar-menu">
                <div class="navbar-start">
                    {% for block in settings.base.NavigationSettings.main_menu %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
</header>
{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        });
    </script>

{% endblock extra_js %}
