{% load menu_tags i18n wagtailcore_tags static  %}
{% load wagtailimages_tags %}
{% url 'wagtailadmin_home' as wagtail_admin_url %}

{% image settings.site_settings.OrganisationSetting.logo width-1000 as logo%}
<div class="container" style="border-bottom:1px solid rgba(195, 192, 192, 0.37);">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/cms"
                    style="font-weight: 600; font-size: 30px; letter-spacing: 0.2em;color: black;">
                    {% comment %} TODO: REVERT {% endcomment %}
                    {% if logo %} 
                        <img src="{{logo.url}}" style="height:auto" >

                        {% else %}
                        
                        N.M.H.S

                    {% endif %}
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div  class="navbar-menu">


                <div class="navbar-end">

                    <div class="navbar-item" style="text-decoration:none">

                        {% if settings.site_settings.OrganisationSetting.instagram  %}
                            <span class="icon">
                                <a href="{{settings.site_settings.OrganisationSetting.instagram }}" style="color:black" target=”_blank” rel=”noopener noreferrer”>

                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>

                            </span>

                            {% endif %}

                            {% if settings.site_settings.OrganisationSetting.twitter  %}

                        <span class="icon">
                            <a href="{{settings.site_settings.OrganisationSetting.twitter }}" style="color:black" target=”_blank” rel=”noopener noreferrer”>

                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        </span>
                        {% endif %}

                        {% if settings.site_settings.OrganisationSetting.facebook  %}
                        <span class="icon">
                            <a href="{{settings.site_settings.OrganisationSetting.facebook }}" style="color:black" target=”_blank” rel=”noopener noreferrer” >

                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>

                        </span>
                        {% endif %}

                        {% if settings.site_settings.OrganisationSetting.youtube  %}
                        <span class="icon">
                            <a href="{{settings.site_settings.OrganisationSetting.youtube }}" style="color:black" target=”_blank” rel=”noopener noreferrer”>

                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>

                        </span>
                        {% endif %}

                    </div>
                    {% if settings.site_settings.LanguageSettings.languages %}
                    <div id="google_language_translator"></div>

                    <div class="navbar-item has-dropdown is-hoverable" style="z-index:31">

                        <div class="buttons" style="font-weight: 600;">
                            <a class="button is-small is-text px-1" style="text-decoration: none;">
                                <span>Language</span>

                                <span class="icon">
                                    <i class="fa fa-globe"></i>
                                </span>
                            </a>

                                <div class="navbar-dropdown languages" >
                                    {% for lang in settings.site_settings.LanguageSettings.languages %}

                                    <a class="navbar-item dropdown-item py-2" data-lang="{{ lang.value.language }}"
                                       data-lang-prefix="{{ lang.value.prefix }}">
                                        {{ lang.value.language }}
                                    </a>
                                    {% endfor %}
                                  </div>
                           
                        </div>

                    </div>
                    {% endif %}

                    <div class="navbar-item">
                        <div id="search-input" class="field is-hidden search-input">
                            <form action="{% url 'search' %}">
                                <div class="control is-small has-icons-right">
                                    <input id="input-el"
                                           class="input is-small is-rounded" type="text" name="query"
                                           value="{{ request.GET.query }}"
                                           placeholder="Search">
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div id="search-trigger" class="search-trigger">
                            <a class="button is-small is-text px-1" style="text-decoration: none;">
                                <span>Search</span>
    
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item" >

                        
                        <div class="buttons" style="font-weight: 600;">
                           <a class="button is-dark is-small  has-text-white" style="border-radius: 0.4em; " href="{{settings.core.ImportantPages.contact_us_page.url}}">
                                Contact us
                            </a>

                            {% if user.is_authenticated %}
                                <a class="button is-dark is-small  has-text-white" style="border-radius: 0.4em;" href="{{ wagtail_admin_url }}">
                                    {{user.username}}, CMS 
                                </a>
                            {% else %}
                                <a class="button is-dark is-small  has-text-white" style="border-radius: 0.4em;" href="{{ wagtail_admin_url }}">
                                    Log in
                                </a>
                            {% endif %}
                            
                        </div>
                    </div>
                    

                </div>
            </div>
        </nav>
        <nav class="navbar is-justify-content-center is-align-content-center bottom-nav" role="navigation"
            aria-label="main navigation" id="sticky_nav" style="z-index:3">


            <div id="navbarBasicExample" class="navbar-menu"
                style="flex-grow: initial!important;flex-shrink: initial!important; ">
                <div class="navbar-start" style="text-transform:uppercase; font-size:15px; font-weight: 700">
                    {% main_menu max_levels=2 template="navigation/menus/main_menu.html" sub_menu_templates="navigation/menus/sub_menu.html " %}

                </div>


            </div>
        </nav>

</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
      
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
      
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
      
          });
        });
      
      });
    </script>