{% load i18n wagtailcore_tags static wagtailimages_tags wagtailiconchooser_tags %}
{% url 'wagtailadmin_home' as wagtail_admin_url %}
{% wagtail_site as current_site %}
<header class="header-nav">
    <div id="google_language_translator"></div>
    <div class="top-nav-wrapper is-hidden-touch container">
        <div class="level top-nav">
            <div class="level-left">
                {% if settings.base.OrganisationSetting.country_flag %}
                    <a class="level-item main-logo" href="{{ current_site.root_url }}">
                        {% image settings.base.OrganisationSetting.country_flag original as country_flag %}
                        <img src="{{ country_flag.url }}" alt="Logo">
                    </a>
                {% endif %}
                <a class="level-item main-logo" href="{{ current_site.root_url }}"
                   style="font-weight: 600; font-size: 30px; letter-spacing: 0.2em;color: black;">
                    {% if settings.base.OrganisationSetting.logo %}
                        {% image settings.base.OrganisationSetting.logo original as logo %}
                        <img src="{{ logo.url }}" alt="Logo">
                    {% else %}
                        N.M.H.S
                    {% endif %}
                </a>

            </div>
            <div class="level-right is-hidden-mobile">
                {% if settings.base.ImportantPages.cap_warnings_list_page %}
                    <a href="{{ settings.base.ImportantPages.cap_warnings_list_page.url }}"
                       class="level-item top-nav-item"
                    >
                        <span style="margin-right: 4px"> {% translate "Alerts" %} </span>
                        <img src="{% static 'img/CAPLogo.jpeg' %}" alt="CAP Alerts"
                             style="height: 18px;width: 18px;border-radius:4px">
                    </a>
                {% endif %}
                {% if settings.base.ImportantPages.mailing_list_signup_page %}
                    <a href="{{ settings.base.ImportantPages.mailing_list_signup_page.url }}"
                       class="level-item top-nav-item"
                    >
                        <span>{% translate "Subscribe" %}</span>
                        <span class="nav-icon">
                            {% svg_icon name="mail" %}
                        </span>
                    </a>
                {% endif %}
                {% if settings.base.LanguageSettings.google_languages %}
                    <div class="level-item dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <div class="top-nav-item">
                                <span>{% translate "Language" %}</span>
                                <span class="nav-icon">
                                    {% svg_icon name="site" %}
                                </span>

                            </div>
                        </div>
                        <div class="dropdown-menu top-nav-dropdown" role="menu">
                            <div class="dropdown-content languages" translate="no">
                                {% for lang in settings.base.LanguageSettings.google_languages %}
                                    <a class="dropdown-item" data-lang="{{ lang.name }}"
                                       data-lang-prefix="{{ lang.language }}">
                                        {{ lang.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="level-item top-nav-item">
                    <div id="search-input" class="field is-hidden search-input">
                        <form action="{% url 'search' %}">
                            <div class="control is-small has-icons-right">
                                <input id="input-el"
                                       class="input is-small is-rounded" type="text" name="query"
                                       value="{{ request.GET.query }}"
                                       placeholder="Search">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div id="search-trigger" class="search-trigger">
                        <span>{% translate "Search" %}</span>
                        <span class="nav-icon">
                            {% svg_icon name="search" %}
                        </span>
                    </div>
                </div>
                {% if settings.base.ImportantPages.contact_us_page %}
                    <a href="{{ settings.base.ImportantPages.contact_us_page.url }}"
                       class="level-item top-nav-item button is-small nav-cta"
                    >
                        {% translate "Contact us" %}
                    </a>
                {% endif %}
                {% if settings.base.ImportantPages.feedback_page %}
                    <a href="{{ settings.base.ImportantPages.feedback_page.url }}"
                       class="level-item top-nav-item button is-small nav-cta"
                    >
                        {% translate "Feedback" %}
                    </a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{{ wagtail_admin_url }}"
                       class="level-item top-nav-item button is-small nav-cta"
                    >
                        {{ user.username }}, CMS
                    </a>
                {% endif %}
                <div class="latest-active-alert"></div>
            </div>
        </div>
    </div>
    <nav class="navbar is-justify-content-center is-align-content-center bottom-nav" role="navigation"
         aria-label="main navigation">
        <div class="navbar-brand is-hidden-desktop">
            <a class="mobile-logo" href="{{ current_site.root_url }}">
                {% if settings.base.OrganisationSetting.logo or settings.base.OrganisationSetting.country_flag %}
                    {% if settings.base.OrganisationSetting.country_flag %}
                        {% image settings.base.OrganisationSetting.country_flag original as country_flag %}
                        <img src="{{ country_flag.url }}" alt="Logo">

                    {% endif %}
                    {% if settings.base.OrganisationSetting.logo %}
                        {% image settings.base.OrganisationSetting.logo original as logo %}
                        <img src="{{ logo.url }}" alt="Logo">
                    {% endif %}
                {% else %}
                    N.M.H.S
                {% endif %}
            </a>
            <div id="navBurger" class="main-nav navbar-burger burger" data-target="mainNav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="mainNav" class="main-nav navbar-menu">
            <div class="navbar-start">
                {% for block in settings.base.NavigationSettings.main_menu %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </nav>
    <div class="is-hidden-desktop latest-active-alert">
    </div>

</header>
{% block extra_js %}
    <script>
        const latestActiveAlertUrl = {% url 'latest_active_alert' %};

        document.addEventListener('DOMContentLoaded', () => {
            const navbarBurgerEl = document.getElementById('navBurger')

            // Add a click event
            navbarBurgerEl.addEventListener('click', (e) => {

                e.stopImmediatePropagation()

                // Get the target from the "data-target" attribute
                const target = navbarBurgerEl.dataset.target;
                const targetEl = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                navbarBurgerEl.classList.toggle('is-active');
                targetEl.classList.toggle('is-active');
            });

            if (latestActiveAlertUrl) {
                fetch(latestActiveAlertUrl)
                    .then(response => response.text())
                    .then(data => {
                        const latestActiveAlert = document.querySelectorAll('.latest-active-alert')
                        if (data) {
                            latestActiveAlert.forEach((alertContainer) => {
                                alertContainer.innerHTML = data;
                            });
                        }
                    })
            }

        });


    </script>

{% endblock extra_js %}
