{% extends "base.html" %}
{% load static geomanager_tags i18n %}

{% block body_class %}station-detail-page{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.css" rel="stylesheet"/>
    <link href="{% static 'stations/css/stations_detail_page.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <main>
        {% include "breadcrumbs_include.html" %}
        <section class="container">
            {% if station %}
                <div style="padding: 20px 0;">
                    <a href="{{ page.url }}" class="more">
                        <span class="icon">
                            <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        </span>
                        {% translate "Back to stations list" %}
                    </a>
                </div>
                <h3 class="title">
                    {% translate "Station Detail" %}
                </h3>
                {% if station_name_column %}
                    {% get_object_attr station station_name_column as attr_val %}

                    {% if attr_val %}
                        <div style="margin-bottom: 20px;font-weight: 600">
                            {% translate "Station Name" %}: {{ attr_val }}</div>
                    {% endif %}
                {% endif %}
                <div class="columns is-multiline is-mobile">
                    <div class="column is-two-thirds-desktop is-full-mobile">
                        <div class="table-container">
                            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                <tbody>
                                {% for column in columns %}
                                    <tr>
                                        <th>{{ column.label }}</th>
                                        {% get_object_attr station column.name as attr_val %}
                                        <td> {% if attr_val %} {{ attr_val }} {% else %}--{% endif %} </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="column is-one-third-desktop is-full-mobile ">
                        <div id="station-map" class="elevation-2" style="height: 400px;width: 100%"></div>
                    </div>
                </div>

            {% else %}
                <article class="message is-danger">
                    <div class="message-header">
                        <p>{% translate "Station Not Found" %} </p>
                    </div>
                    <div class="message-body">
                        {% translate "Station with provided ID can not be found" %}
                    </div>
                </article>
            {% endif %}
        </section>
    </main>

{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    {% if station and station.geom %}
        <script src="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.js"></script>
        <script>


            const stationJson = {{ station.geom.json|safe}};
            const stationBounds = {{ bounds|safe|default_if_none:""}};
            const centroid = {{ station.geom.centroid.json|safe }};

            const boundaryTilesUrl = "{{ boundary_tiles_url|default_if_none:'' }}";

            const defaultStyle = {
                'version': 8,
                'sources': {
                    'carto-dark': {
                        'type': 'raster',
                        'tiles': [
                            "https://a.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                            "https://b.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                            "https://c.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                            "https://d.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png"
                        ]
                    },
                    'carto-light': {
                        'type': 'raster',
                        'tiles': [
                            "https://a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                            "https://b.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                            "https://c.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                            "https://d.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png"
                        ]
                    },
                    'wikimedia': {
                        'type': 'raster',
                        'tiles': [
                            "https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png"
                        ]
                    }
                },
                'layers': [{
                    'id': 'carto-light-layer',
                    'source': 'carto-light',
                    'type': 'raster',
                    'minzoom': 0,
                    'maxzoom': 22
                }]
            }

            $(document).ready(async function () {
                const map = new maplibregl.Map({
                    container: "station-map",
                    style: defaultStyle,
                    doubleClickZoom: false,
                });

                map.scrollZoom.disable();

                map.addControl(
                    new maplibregl.NavigationControl({
                        visualizePitch: true,
                        showZoom: true,
                        showCompass: true,
                    })
                );


                await new Promise((resolve) => map.on("load", resolve));

                if (stationBounds) {
                    const bounds = [[stationBounds[0], stationBounds[1]], [stationBounds[2], stationBounds[3]]]

                    map.fitBounds(bounds, {padding: 20})
                }

                // add country boundary layer
                if (boundaryTilesUrl) {
                    // add source
                    map.addSource("admin-boundary-source", {
                            type: "vector",
                            tiles: [boundaryTilesUrl],
                        }
                    )
                    // add layer
                    map.addLayer({
                        'id': 'admin-boundary-fill',
                        'type': 'fill',
                        'source': 'admin-boundary-source',
                        "source-layer": "default",
                        "filter": ["==", "level", 0],
                        'paint': {
                            'fill-color': "#fff",
                            'fill-opacity': 0,
                        }
                    });

                    map.addLayer({
                        'id': 'admin-boundary-line',
                        'type': 'line',
                        'source': 'admin-boundary-source',
                        "source-layer": "default",
                        "filter": ["==", "level", 0],
                        'paint': {
                            "line-color": "#C0FF24",
                            "line-width": 1,
                            "line-offset": 1,
                        }
                    });
                    map.addLayer({
                        'id': 'admin-boundary-line-2',
                        'type': 'line',
                        'source': 'admin-boundary-source',
                        "source-layer": "default",
                        "filter": ["==", "level", 0],
                        'paint': {
                            "line-color": "#000",
                            "line-width": 1.5,
                        }
                    });
                }


                // add source
                map.addSource("station-source", {
                        'type': 'geojson',
                        data: stationJson
                    }
                )

                // add layer
                map.addLayer({
                    'id': 'station-circle',
                    'type': 'circle',
                    'source': 'station-source',
                    'paint': {
                        'circle-color': "#ADEFD1FF",
                        'circle-radius': 8,
                        "circle-stroke-width": 4,
                        "circle-stroke-color": "#00203FFF",
                    }
                });


                map.once("idle", () => {
                    const coords = centroid.coordinates
                    map.flyTo({
                        center: coords
                    });
                })
            })

        </script>
    {% endif %}
{% endblock %}





