{% extends "base.html" %}
{% load static i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}stations-page{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.css" rel="stylesheet"/>
    <link href="{% static 'stations/css/stations_list_page.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <main>
        {% include "breadcrumbs_include.html" %}
        <section class="container">
            <div id="stations-map" class="stations-map elevation-2"></div>
        </section>
        <section class="container stations-list" style="padding-top: 0">
            <h2 class="title">
                {% translate "Stations List" %}
            </h2>
            {% render_table stations_table %}
        </section>
    </main>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}

    <script src="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.js"></script>
    <script>

        const mapConfigObj = {{ mapConfig | safe }};
        const popupFields = {{ popup_fields | safe }};
        const {stationBounds, stationsVectorTilesUrl} = mapConfigObj

        const bounds = [[stationBounds[0], stationBounds[1]], [stationBounds[2], stationBounds[3]]]

        const defaultStyle = {
            'version': 8,
            'sources': {
                'carto-dark': {
                    'type': 'raster',
                    'tiles': [
                        "https://a.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                        "https://b.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                        "https://c.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                        "https://d.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png"
                    ]
                },
                'carto-light': {
                    'type': 'raster',
                    'tiles': [
                        "https://a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                        "https://b.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                        "https://c.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                        "https://d.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png"
                    ]
                },
                'wikimedia': {
                    'type': 'raster',
                    'tiles': [
                        "https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png"
                    ]
                }
            },
            'layers': [{
                'id': 'carto-light-layer',
                'source': 'carto-light',
                'type': 'raster',
                'minzoom': 0,
                'maxzoom': 22
            }]
        }

        $(document).ready(async function () {
            const map = new maplibregl.Map({
                container: "stations-map",
                style: defaultStyle,
                doubleClickZoom: false,
            });

            map.scrollZoom.disable();

            map.addControl(
                new maplibregl.NavigationControl({
                    visualizePitch: true,
                    showZoom: true,
                    showCompass: true,
                }), "bottom-right"
            );

            map.addControl(new maplibregl.FullscreenControl());

            await new Promise((resolve) => map.on("load", resolve));


            if (bounds) {
                map.fitBounds(bounds, {padding: 20})
            }

            // add source
            map.addSource("stations-source", {
                    type: "vector",
                    tiles: [stationsVectorTilesUrl],
                }
            )

            // add layer
            map.addLayer({
                'id': 'stations-circle',
                'type': 'circle',
                'source': 'stations-source',
                "source-layer": "default",
                'paint': {
                    'circle-color': "#ADEFD1FF",
                    'circle-radius': 8,
                    "circle-stroke-width": 4,
                    "circle-stroke-color": "#00203FFF",
                }
            });

            map.on('mouseenter', 'stations-circle', () => {
                map.getCanvas().style.cursor = 'pointer'
            })
            map.on('mouseleave', 'stations-circle', () => {
                map.getCanvas().style.cursor = ''
            })


            function featureHtml(f) {
                const p = f.properties;

                const popupProps = Object.keys(p).reduce((all, key) => {
                    if (popupFields.find(f => f.name === key)) {
                        all[key] = p[key]
                    }
                    return all
                }, {})

                if (popupProps && !!Object.keys(popupProps).length) {
                    let h = "<div class='station-popup-content'>";
                    for (let k in popupProps) {
                        const column = popupFields.find(f => f.name === k)
                        h += "<p><b>" + `${column.label ? column.label : k}` + ":</b> " + popupProps[k] + "<br/></p>"
                    }
                    h += "</div>";
                    return h
                }
                return null
            }


            map.on('click', "stations-circle", function (e) {
                let popContent = featureHtml(e.features[0])

                if (popContent) {
                    new maplibregl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML(popContent)
                        .addTo(map);
                }
            });
        })

    </script>
{% endblock %}
