{% load wagtailcore_tags wagtailimages_tags lazyimages_tags %}


<div class="accordion__item js-accordion-item {% if is_first %}active{% endif %}">
    <h4 class="accordion-header js-accordion-header">
        <span>{{ value.heading }}</span>
        <i class="fas fa-sort-down" style="float: right;"></i>
    </h4>
    <div class="accordion-body js-accordion-body">
        <div class="accordion-body__contents">

            <div class="columns is-multiline is-mobile " style="margin: 0;align-items: center">
                {% if value.image %}
                    <div class="column is-one-quarter-desktop is-full-mobile">
                        <figure class="image" style="height: 180px">
                            {% image value.image original as goal_img %}
                            <img class="progressive__img progressive--not-loaded"
                                 data-progressive="{{ goal_img.url }}"
                                 src="{% lazy_image_url goal_img %}"
                                 alt="{{ value.heading }}"
                                 style="height: 100%;width: 100%;object-fit: cover"
                            />
                        </figure>
                    </div>
                {% endif %}
                <div class="column format-text">
                    {{ value.description|richtext }}
                </div>
            </div>

            {% if value.link_text and value.link_related_page %}
                <div>
                    <a class="more" href="{{ value.link_related_page.url }}">
                        {{ value.link_text }}
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>