{% load  wagtailimages_tags lazyimages_tags %}

{% if value.figure_type == 'image' and value.image %}
    <figure class="image is-5by3">
        {% image value.image original as img %}
        <img class="progressive__img progressive--not-loaded feature-block-image"
             data-progressive="{{ img.url }}"
             src="{% lazy_image_url img %}"
             alt="{{ value.title }}"
             style="border-radius:0.5em"
        />
    </figure>
{% endif %}

{% if value.figure_type == 'imageofchange' and value.image_of_change %}
    {% include 'streams/feature_block_ioc_include.html' with image_of_change=value.image_of_change %}
{% endif %}

