{% load wagtailiconchooser_tags i18n %}

<style>
    .empty-state {
        padding: 40px 20px;
        max-height: 300px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .empty-state svg {
        height: 100px;
        color: var(--primary-color);
    }
</style>


<div class="empty-state">
    {% svg_icon name="empty-tray" %}
    <div style="padding-top: 10px;">
        {% translate "No data found" %}
    </div>
</div>