{% load wagtailcore_tags wagtailimages_tags lazyimages_tags nmhs_cms_tags i18n %}

<div class="columns is-multiline featured-item-block">
    <div class="column is-5-widescreen is-full-mobile featured-item-image">
        {% if item_image or item_image_src %}
            <figure class="image">
                {% if item_image %}
                    {% image item_image original as itm_img %}
                    <img class="progressive__img progressive--not-loaded"
                         data-progressive="{{ itm_img.url }}"
                         src="{% lazy_image_url itm_img %}" alt="{{ item_title }}"
                         style="object-fit: cover"
                    />
                {% else %}
                    <img class="progressive__img progressive--not-loaded"
                         data-progressive="{{ item_image_src }}"
                         src="{{ item_image_src }}"
                         style="object-fit: contain;background-color: #eff4f8"
                         alt=""
                    />
                {% endif %}
            </figure>
        {% endif %}
    </div>
    <div class="column is-6-widescreen is-full-mobile featured-item-detail">
        <div class="featured-item-header">
            <span class="featured-item-header-tag">
                {% translate "Featured" %}
            </span>
        </div>
        <div class="featured-item-body">
            <h3 class="featured-item-title">
                <a href="{{ item_url }}">
                    {{ item_title }}
                </a>
            </h3>
            <div class="featured-item-snippet format-text">
                {{ item_text }}
            </div>
        </div>
        <div class="featured-item-meta">
            <div class="featured-item-tags">
                {% if item_tags.all %}
                    <span class="featured-item-tags-title">
                        {% translate "Tags" %}:
                    </span>
                    {% for tag in item_tags.all %}
                        <span class="featured-item-tag">
                            {{ tag }}
                            {% if not forloop.last %},{{ " " }} {% endif %}
                        </span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="featured-item-more">
                <span class="meta-sub">{{ item_meta|date:"d M Y" }}</span>
                <span class="featured-item-readmore">
                    <a href="{{ item_url }}">
                        {% translate "Read More" %}
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>