<div class="columns is-multiline video-items" id="videoWrapper">
    <div class="column is-one-third-desktop is-full-mobile video-item">
        <div class="card">
            <div class="card-image">
                <figure class="image">
                </figure>
            </div>
            <div class="card-content">
                <a class="card-tag-float">
                    <h6></h6>
                </a>
                <a class="card-title">
                    <h4></h4>
                </a>

                <div class="card-video-stats">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="card-video-meta">
                    <a></a>
                    <a><i class="fas"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third-desktop is-full-mobile video-item">
        <div class="card">
            <div class="card-image">
                <figure class="image">
                </figure>
            </div>
            <div class="card-content">
                <a class="card-tag-float">
                    <h6></h6>
                </a>
                <a class="card-title">
                    <h4></h4>
                </a>

                <div class="card-video-stats">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="card-video-meta">
                    <a></a>
                    <a><i class="fas"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third-desktop is-full-mobile video-item">
        <div class="card">
            <div class="card-image">
                <figure class="image">
                </figure>
            </div>
            <div class="card-content">
                <a class="card-tag-float">
                    <h6></h6>
                </a>
                <a class="card-title">
                    <h4></h4>
                </a>

                <div class="card-video-stats">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="card-video-meta">
                    <a></a>
                    <a><i class="fas"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
