{% load nmhs_cms_tags i18n wagtailiconchooser_tags %}

{% for item in videos %}
    <div class="column is-one-third-desktop is-half-tablet is-full-mobile video-item" style="display: flex;">
        <div class="card" style="width: 100%">
            <div class="card-image">
                <figure class="image">
                    <iframe
                        style="flex-grow: 1;" height="100%" width="100%"
                        src="https://www.youtube.com/embed/{{ item.snippet.resourceId.videoId }}?&controls=0&showinfo=0&rel=0&modestbranding=1&iv_load_policy=3&playsinline=1"
                        frameborder="0"
                        allow="fullscreen; picture-in-picture"
                        referrerpolicy="strict-origin-when-cross-origin"
                    ></iframe>
                </figure>
            </div>
            <div class="card-content">
                <span class="card-tag-float">{{ playlist.title|truncatechars:35 }}</span>
                <a class="card-title" href="https://youtu.be/{{ item.contentDetails.videoId }}" target="_blank"
                   rel="noreferrer noreferrer">
                    <h4>{{ item.snippet.title }}</h4>
                </a>
                <div class="card-video-stats">
                    <span>
                        {% blocktranslate trimmed with updated_on=item.contentDetails.videoPublishedAt|date:'d M Y' %}
                            Published on : {{ updated_on }}
                        {% endblocktranslate %}
                    </span>
                </div>

                <div class="card-video-meta">
                    <a href="https://www.youtube.com/channel/{{ item.snippet.channelId }}?sub_confirmation=1"
                       target="_blank"
                       rel="noopener"
                    >

                        {% translate "SUBSCRIBE" %}
                    </a>
                    <a href="https://youtu.be/{{ item.contentDetails.videoId }}" target="_blank"
                       rel="noreferrer noreferrer">
                        <span class="icon btn-icon">
                            {% svg_icon name="arrow-right-full" %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}