{% extends 'base.html' %}

{% load static wagtailcore_tags %}


{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'css/vendor/defaultV2.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/creator.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" style="text-align:center; padding:4em 0">
    <h3>{{ page.title }}</h3>
    </div>
    <div  class="container">
        <div id="surveyContainer"  style="padding-bottom:4em"></div>
    </div>


{% endblock content %}

{% block extra_js %}
    {{ block.super }}

    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/survey.jquery.js' %}"></script>

    <script type="text/javascript">
        const surveyPage = '{{ page.pk }}'
        const surveySubmitUrl = '{{ page.submit_url }}'
        const surveyJsonStr = '{{ page.json|escapejs }}'
        let surveyJson = {}

        if (surveyJsonStr) {
            surveyJson = JSON.parse(surveyJsonStr);
        }

        $(function () {
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function saveSurveyData(path, payload) {
                let props = {
                    method: "POST",
                    body: JSON.stringify(payload),
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Content-Type": "application/json;charset=UTF-8"
                    },
                    mode: "same-origin",
                }

                return fetch(path, props)
                    .then(response => {
                        return response.json()
                            .then(result => {
                                return {
                                    ok: response.ok,
                                    body: result
                                }
                            });
                    })
                    .then(resultObj => {
                        return resultObj;
                    })
                    .catch(error => {
                        throw error;
                    });
            }

            const survey = new Survey.Model(surveyJson);
            $("#surveyContainer").Survey({model: survey});

            function surveyComplete(sender) {
                const payload = {form_data: sender.data, page: surveyPage}
                saveSurveyData(surveySubmitUrl, payload)
            }

            survey.onComplete.add(surveyComplete);
        });

    </script>


{% endblock %}





