.bg-primary {
    background-color: #282828 !important;
  }

a {
    text-decoration: underline;
    color: #282828;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-decoration-color: #49a9ff;
}

a:focus, a:hover {
    color: #49a9ff;
    text-decoration-color: currentcolor;
}

body.theme-dark {
    color: rgba(255,255,255,.8);
    background-color: #1c1a1a;
}

body.theme-dark .btn-light {
    color: #fff;
    background-color: transparent;
    border-color: #85838a;
}

body.theme-dark .form-control {
    color: #fff;
    background-color: #1c1a1a !important;
    border-color: #85838a;
}


body.theme-dark .input-group-text {
    color: rgba(255,255,255,.6);
    border-color: #85838a;
}

body.theme-dark .input-group-text.bg-white {
    background-color: transparent !important;
}

body.theme-dark .toc .toctree-expand {
    background-color: transparent;
}

body.theme-dark a:hover {
    color: #49a9ff;
}

body.theme-dark hr, body.theme-dark .border, body.theme-dark .with-border, body.theme-dark .border-top, body.theme-dark .border-right, body.theme-dark .sidebar-container, body.theme-dark .border-bottom, body.theme-dark .border-left, body.theme-dark .search li {
    border-color: #3b3b3c !important;
    border-width: 0.01rem !important;
}

body.theme-dark blockquote {
    border-color: #505050;
}

body.theme-dark .btn-light:hover, body.theme-dark .btn-light:focus, body.theme-dark .btn-light:focus-within, body.theme-dark .btn-light:not(:disabled):not(.disabled):active, body.theme-dark .btn-light:not(:disabled):not(.disabled).active {
    color: #333;
    background-color: #fff;
}

.page-toc a:hover, .page-toc a:focus {
    color: #49a9ff;
}