{% load wagtailcore_tags wagtailimages_tags lazyimages_tags %}

<div class="columns is-centered intro-section-wrapper ">
    <div class="column is-5 intro-image">
        <figure class="image">
            {% if page.partners_cta_image %}
                {% image page.partners_cta_image original as p_cta_img %}
                <img class="progressive__img progressive--not-loaded"
                     data-progressive="{{ p_cta_img.url }}"
                     src="{% lazy_image_url p_cta_img %}" alt=""/>
            {% endif %}
        </figure>
    </div>
    <div class="column is-1 is-desktop"></div>
    <div class="column is-6 has-text-left">
        <h2 class="section-subheader">
            {{ page.partners_cta_title }}
        </h2>
        <div class="intro-description format-text">
            {{ page.partners_cta_text|richtext }}
        </div>
        {% if page.partners_cta_button_text and page.partners_cta_button_link.url %}
            <div class="more-container">
                <a href="{{ page.partners_cta_button_link.url }}"
                   class="button is-rounded center sec-btn cta-btn">
                    <span>{{ page.partners_cta_button_text }}</span>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </a>
            </div>
        {% endif %}
    </div>
</div>