{% load static %}

{% include "django/forms/widgets/input.html" %} 
{% block extra_css %} {{block.super }}{% endblock %} 
{% block input %}

<div id="{{ map_id }}" style="height: 300px; width:100%; z-index:0"></div>
<input
  name="{{ widget.name }}"
  id="{{ widget.attrs.id }}"
  type="hidden"
  class="polygon-field"
  value="{{ widget.value|default:'' }}"
/>
<input
  name="{{ widget.name }}_geom"
  class="polygon-geom"
  type="hidden"
  value="{{ widget.value|default:'' }}"
/>
{% endblock %}

{% block extra_js %} 
  {{ block.super }}

  <script>

  $(function() {
 
    $('input[id^="{{ widget.attrs.id }}"]').each(function(index) {

      if(index == 1){
        var $input = $(this)
        var $map = $input.parent().find('#'+'{{ map_id }}');
        var $geom = $input.parent().find('.polygon-geom');
        var $polyfield = $input.parent().find('.polygon-field');
    
        // initialize map 
        var map = L.map($map[0],{
          center:[16.130262012034265,30.019531249998607],
          zoom:4,
          scrollWheelZoom: false
        })
  
        // add basemap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);
  
  
        // initialize feature group of drawn items
        var drawnItems = new L.FeatureGroup()
        map.addLayer(drawnItems)
  
        
        // add draw control
        var drawControl = new L.Control.Draw({
          edit: {
            featureGroup: drawnItems,
            edit: true,
            poly:{
              allowIntersection: false,
              
            drawError: {
                color: 'red', // Color the shape will turn when intersects
                message: '<strong>Shape egdes cannot cross!' // Message that will show when intersect
            }
          }
          },
          draw: {
            polyline: false,
            marker: false,
            circle: false,
            circlemarker: false,
            rectangle: true,
            polygon:{
              allowIntersection: false,
            drawError: {
                color: 'red', // Color the shape will turn when intersects
                message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
            },
            
            }
          }
        });
  
        map.addControl(drawControl);
        
        var loadPolygon = function() {
            var value = $input.val();

            if (value) {

              // Remove the SRID prefix
              const wktWithoutSrid = value.replace(/^SRID=\d+;/, '');

              // Extract the coordinates from the polygon string using a regex pattern
              const match = /\((.*?)\)/.exec(wktWithoutSrid);

              if (match) {
                const coordinatePairs = match[1].split(", ");
                const coordinates = coordinatePairs.map((pair) => pair.replace('(', '').split(" ").map(parseFloat));
                
                revCoords = []

                coordinates.forEach(pol => {
                  revCoords.push([pol[1],pol[0]])
                })
                
                var polygon = L.polygon(revCoords).addTo(drawnItems);
                map.fitBounds(polygon.getBounds());

              }
            }
        };
  
        map.on('draw:created', function(e) {

          var isIntersecting = false;

          drawnItems.eachLayer(function(existingLayer) {
              if (e.layer !== existingLayer && e.layer.intersects(existingLayer)) {
                  drawnItems.removeLayer(e.layer);
                  isIntersecting = true;
                  return;
              }
          });

          if (!isIntersecting) {
            drawnItems.addLayer(e.layer);
          
            $polyfield.val(JSON.stringify(e.layer.toGeoJSON().geometry));
             $geom.val(JSON.stringify(e.layer.toGeoJSON()));
          }

         
        });

        map.on('draw:edited', function(e) {
          e.layers.eachLayer(function (layer) {

            var isIntersecting = false;

            drawnItems.eachLayer(function(existingLayer) {
                if (layer !== existingLayer && layer.intersects(existingLayer)) {
                    drawnItems.removeLayer(layer);
                    isIntersecting = true;
                    return;
                }
            });

            if (!isIntersecting) {
              layer.setStyle({color: 'blue'});

              $polyfield.val(JSON.stringify(layer.toGeoJSON().geometry));
              $geom.val(JSON.stringify(layer.toGeoJSON()));
            }
          });
          
        });

        map.on('draw:deleted', function(e) {
          $polyfield.val('');
          $geom.val('');

        });

        loadPolygon();
      }
      

    })
  })
    
  </script>
{% endblock %} 




