{% load static %}

<div class="results-filter">
    <div class="accordion js-accordion">
        {% if filters.year %}
            <div class="accordion__item js-accordion-item active">
                <h6 class="accordion-header js-accordion-header filter-item-header">
                    <span> Filter by Year </span>
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                </h6>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        {% for year in filters.year reversed %}
                            <label class="checkbox-container" for="{{ year }}">
                                <span class="filter-sub-item">{{ year }}</span>
                                <input type="checkbox" id="{{ year }}" name="year" value="{{ year }}"
                                       class="product-filter year">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if filters.month %}
            <div class="accordion__item js-accordion-item active">
                <h6 class="accordion-header js-accordion-header filter-item-header">
                    <span> Filter by Month </span>
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                </h6>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">

                        {% for month_num, month_name in filters.month.items %}
                            <label class="checkbox-container" for="{{ month_name }}">
                                <span class="filter-sub-item">{{ month_name }}</span>
                                <input type="checkbox" id="{{ month_name }}" name="month" value="{{ month_num }}"
                                       class="product-filter month">
                                <span class="checkmark"></span>
                            </label>

                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

