header {
    width: 100%;
    z-index: 999;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid rgba(195, 192, 192, 0.37);
}

/* .header-nav {
    padding: 10px 10px 0;
} */

.top-alert {
    background-color: #262c38;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 8px;
}


.top-alert-text {
    padding: 0 20px;
}

.top-alert-button {
    border: none;
}

.top-alert-cancel {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: 0 20px;
}


.top-nav-item {
    font-size: 14px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav-dropdown {
    min-width: 120px;
    width: 120px;
    z-index: 999;
}

.search-input {
    width: 200px;
    margin: 0 !important;
    cursor: pointer;
}

.search-trigger {
    display: flex;
    align-items: center;
}

.nav-cta {
    background-color: var(--primary-color);
    color: #fff;

}

.nav-cta:hover, .nav-cta:focus {
    color: #fff !important;
}

.top-nav-item {
    cursor: pointer;
}

.nav-icon {
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.nav-icon svg {
    height: 100%;
    width: 100%;
}


.main-logo {
    height: 80px;
}

.mobile-logo {
    height: 40px;
    margin-top: 8px;
}

.mobile-logo img {
    height: 100%;
    object-fit: contain;
}

.main-logo img {
    height: 90%;
    object-fit: contain;
    padding: 0.3rem 0;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
}


.navbar-dropdown .navbar-item {
    padding-top: 12px;
    padding-bottom: 12px;
}


#mainNav.navbar-menu {
    justify-content: center
}

.navbar-menu.is-active {
    position: absolute;
    width: 100%;
}


#mainNav .navbar-dropdown .navbar-item {
    color: #5d6572;

}


#mainNav .navbar-start {
    margin-right: 0;
}


.nav-item-title {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.nav-item-title.active,
.nav-item-title:hover,
.nav-item-title:focus,
.nav-item-title:focus-within {
    color: var(--primary-color);

}

.user-display {
    display: flex;
    align-items: center;
}

.navbar-brand .navbar-item img {
    max-height: 80px;
}

.navbar-burger {
    color: var(--primary-color);
}

.navbar-burger span {
    height: 2px;
}

.navbar-burger:hover {
    background-color: transparent !important;

}


.megamenu {
    min-width: 600px;
    padding: 30px;
}


.megamenu .navbar-item {
    padding: 5px 0 !important;
    white-space: normal;
    display: flex;
    align-items: center;
}

.megamenu .navbar-item .menu-item-label {
    margin-left: 10px;
}

.megamenu .navbar-item .menu-item-figure {
    height: 40px;
    width: 40px;
    background-color: rgba(0, 153, 151, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.megamenu .navbar-item .menu-item-figure img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    max-height: none;
    background-color: rgba(0, 153, 151, 0.1);
}

.megamenu .navbar-item .menu-item-figure svg {
    height: 60%;
    width: 60%;
}


.alert {
    font-size: 14px
}

@media screen and (min-width: 768px) {
    .navbar-container {
        max-width: none !important;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .navbar-brand img {
        max-width: 200px;
    }

    .top-alert {
        justify-content: space-between;
    }

    .navbar.bottom-nav {
        min-height: 0;
    }

    .top-alert-text {
        padding: 0 0 0 6px;
        font-size: 12px;
    }

    .top-alert-button {
        padding: 4px 10px !important;
        font-size: 11px;
    }

    .top-alert-cancel {
        margin: 0 5px 0 20px;
    }

    .top-nav-wrapper {
        border: none;
    }


    .nav-item-title {
        color: #5d6572;
        margin: 0;
    }

    .megamenu {
        min-width: 100%;
    }
}


.navbar-item svg path {
    fill: currentColor !important

}

.navbar-item svg rect {
    fill: currentColor !important

}

.navbar-dropdown {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
