.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #262c39;
    transition-duration: 1s;
}

.sticky a {
    color: rgb(241, 241, 241);
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #d3d4d6;
}

.is-divider-vertical {
    padding-right: 0;
    padding-left: 0;
}

#tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
}

#tabs-with-content .box:not(:last-child) {
    margin-bottom: 0;
}

#tabs-with-content .tab-content {
    padding: 1rem;
    display: none;
}

#tabs-with-content .tabs .box {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

#tabs-with-content .tabs .city {
    padding-bottom: 1px;
}

#tabs-with-content .tabs .is-active .city {
    padding-bottom: 0.5rem;
    /* padding-right: 3rem;
    padding-left: 3rem; */
    margin-bottom: 0;
    max-width: 200px;
    border-color: transparent;
    justify-content: start;

}

#tabs-with-content .tabs ul {
    align-items: end
}

#tabs-with-content .tabs ul li {
    padding-bottom: 0;
    background-color: #fff;
}

#tabs-with-content .tabs ul li:not(.is-active) {
    padding-bottom: 0;
    background-color: rgba(248, 248, 248, 0.75);;

}

#tabs-with-content .tab-content.is-active {
    display: block;

}

body {
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    /* letter-spacing: 0.1rem; */
}


.box {
    /* box-shadow: var(--box_shadow) */
}

.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: translate(0, -5px);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

@media screen and (min-width: 769px) and (max-width: 1605px) {
    section .container {
        max-width: 75vw !important;
    }
}

@media screen and (max-width: 768px) {
    section .container {
        max-width: 90vw !important;
    }

}


/* Style the selected option */
select#city-option {
    color: #ffffff !important; /* Change the text color of the selected option */
}

select#city-option option{
    color: black !important;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 1px; /* Width of the vertical scrollbar */
    height: 1px; /* Height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f110;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

