.nmhs-work {
    padding-top: 100px;
    padding-bottom: 100px
}

.nmhs-work .sec-btn {
    margin-top: 50px
}

.nmhs-work .intro {
    align-items: center;
    padding-right: 10px
}

.nmhs-work .intro .section-title {
    padding-bottom: 20px;
    padding-top: 70px
}

.nmhs-work .title-container.center {
    margin-top: 70px;
    margin-bottom: 70px
}

.nmhs-work .img-change h3.sub-header {
    padding: 0px 0px 24px 0px
}

.nmhs-work .notification {
    min-height: 180px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 1.25rem 0.75rem 1.25rem 0.75rem
}

.nmhs-work .notification h4 {
    font-weight: bold;
    text-align: center;
    max-height: 74px;
    max-width: 269px;
    margin-bottom: 10px
}

.nmhs-work .notification p {
    max-width: 283px;
    max-height: 23px;
    text-align: center
}

.nmhs-work .notification .work-icon {
    padding-bottom: 23px
}

.img-change {
    background-color: #fff !important;
    overflow-x: hidden;
    overflow-y: hidden
}

.img-change .column {
    padding: 0px
}

.alt-img {
    width: 100%;
    height: 540px
}

.watch {
    padding: 60px 0px
}

.watch .margin-left {
    margin-left: 100px
}

.watch .watch-map {
    height: auto
}

#water-watch {
    padding: 60px 0px
}
