.more-container.has-double {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px .75rem;
}


/*Projects Inline*/
.projects-inline-columns {
    display: flex;
    align-items: center;
}

.projects-inline-header {
    padding-top: 0;
    padding-bottom: 30px;
    color: #4a4a4a;
}

.projects-list {
    padding-left: 70px;
}


.project-inline-item {
    display: flex;
    padding-bottom: 20px;
}

.project-inline-img figure {
    background-color: #fff;
    border-radius: 50%;
    height: 96px;
    width: 96px;
}

.project-inline-img figure img {
    object-fit: cover;
    height: 100%;
}


.project-inline-detail {
    padding-left: 20px;
}

.project-inline-title {
    color: #4a4a4a;
    padding-bottom: 8px;
}

.project-inline-subtitle {
    font-size: 14px;
}

/*Events Inline*/
.events-inline {

}

.event-inline-item {
    display: flex;
}

.event-inline-detail {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    justify-content: space-around;
}

.event-inline-img {
    height: 96px;
    width: 96px;
}

.event-inline-img img {
    height: 100%;
    object-fit: cover;
}

.event-inline-title {
    font-weight: normal;
    color: #4a4a4a;
    font-size: 18px;
    padding-bottom: 20px;
}

.events-inline-meta {
    display: flex;
}

.events-inline-meta > span {
    margin-right: 20px;
    color: #aaaaaa;
}

.events-inline hr {
    background-color: #d5d5d5;
}


/*Applications*/
.application-item figure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 250px;
    width: 200px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    border-radius: 18px;
    overflow: hidden;
    margin: 0 auto;
}

.application-item:focus {
    outline: none;
}

.application-item figure img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.application-item-detail {
    z-index: 1;
    opacity: 0;
    transition-property: all;
    background-color: rgba(8, 98, 67, .5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
}

.application-item figure:hover .application-item-detail {
    opacity: 1;
    transition: all .125s;
}

.application-item-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(8, 98, 67, .7);
}

.application-item-view {
    height: 100%;
    display: flex;
    align-items: center;
}


/*Images of Change inline*/


.ioc-inline-wrapper {

}


.ioc-inline-container {
    max-width: 640px;
}


.what-we-do-item-title {
    padding: 20px 0 0 0;
}


@media screen and (min-width: 1440px) {
    .ioc-inline-wrapper {
        display: flex;
        justify-content: center;
        width: 100%
    }

    .ioc-inline-container {
        width: 100%;
    }


}

@media screen and (min-width: 1024px) {

    .what-we-do-item-title.is-by3 {
        height: 70px;

    }

    .what-we-do-item-title.is-by4 {
        height: 90px;
    }
}


/*1024px and lower*/
@media screen and (max-width: 1024px) {

    .video-item figure {
        height: 180px;
    }

    .video-item .card-video-meta {
        padding: 30px 0 10px;
        display: flex;
        justify-content: space-between;
    }

}


/*768px and lower*/
@media screen and (max-width: 768px) {

    .what-we-do-item-title {
        padding: 20px 0;
    }

    /*Projects inline*/
    .projects-inline-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-list {
        padding-left: 20px;
    }

    .projects-inline-item {
        padding-bottom: 0;
    }

    .project-inline-img figure {
        height: 64px;
        width: 64px;
    }


    /*Events inline*/
    .event-inline-detail {
        padding-left: 0;
    }


    .event-inline-img {
        display: none;
    }

    .event-inline-title {
        font-size: 16px;
    }

    .events-inline-meta {
        padding-top: 20px;
    }

    .video-item {
        padding: 20px 5px;
    }

    .video-item figure {
        height: 180px;
    }

    .video-item .card-video-meta {
        padding: 30px 0 10px;
        display: flex;
        justify-content: space-between;
    }

    .application-item-detail {
        opacity: 1;
    }
}


