.thank-you-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.thank-you-text {

}

.back-link-container {
    display: flex;
    justify-content: center;
    padding-top: 70px
}

.back-button {
    background-color: #f7a600;
    color: #fff;
}

.back-button:hover {
    background-color: #cc7c09;
    color: #fff;
}