<h2 class="section-title has-text-centered">{{ value.title }}</h2>
<div class="container">
    <div class="columns is-mobile is-centered project-goals">
        <div class="column is-three-quarters-desktop is-full-mobile">
            <div class="accordion js-accordion" id="{{ block.id }}">
                {{ value.collapsibles }}
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    new Accordion("{{ block.id }}", {firstOpen: true});
                });
            </script>
        </div>
    </div>

</div>
