{% load wagtailcore_tags wagtailiconchooser_tags %}


<div class="accordion__item js-accordion-item {% if is_first %}active{% endif %}">
    <h3 class="accordion-header js-accordion-header"
        style="padding-top: 0px;display: flex;align-items: center;justify-content: space-between">
        <span>{{ value.heading }}</span>
        <span class="icon">
            {% svg_icon name="arrow-down" %}
        </span>
    </h3>
    <div class="accordion-body js-accordion-body">
        <div class="accordion-body__contents format-text">
            {{ value.description|richtext }}
            {% if value.link_text and value.link_related_page %}
                <div>
                    <a class="more" href="{{ value.link_related_page.url }}">
                        {{ value.link_text }}
                        <span class="icon btn-icon">
                            {% svg_icon name="arrow-right-full" %}
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>