{% load wagtailcore_tags wagtailimages_tags %}

{% if value.figure_type == "image" and value.image %}
    <div class="container">
        <div class="columns alternate-container">
            {% if is_even %}
                <div class="column is-half-desktop is-full-mobile">
                    {% include 'streams/feature_block_detail_include.html' with value=value %}
                </div>
                <div class="column is-half-desktop is-full-mobile">
                    {% include 'streams/feature_block_figure_include.html' with value=value %}
                </div>

            {% else %}

                <div class="column is-half-desktop is-full-mobile">
                    {% include 'streams/feature_block_figure_include.html' with value=value %}
                </div>
                <div class="column is-half-desktop is-full-mobile">
                    {% include 'streams/feature_block_detail_include.html' with value=value %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}






