{% load wagtailcore_tags %}

<div class="work container">
    <h2 class="section-subheader" style="text-align:center">
        {{ value.title }}
    </h2>
    <div class="card elevation-0">
        <div class="card-content mx-6">
            <table class="table is-striped" style="width:100%">
                {% for data in value.table.data %}
                    {% if forloop.first %}
                        <tr>
                            {% for val in data %}
                                <th>{{ val }}</th>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            {% for val in data %}
                                {% if forloop.first %}
                                    <th>{{ val }}</th>
                                {% else %}
                                    <td>{{ val }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>


