{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags lazyimages_tags bulma_tags i18n %}

{% block body_class %}datarequest_page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/datarequest.css' %}">
{% endblock %}

{% block content %}
    {% include 'hero.html' with page=page %}
    <main class="is-index">
        <section>
            <div class="container">
                <div class="columns is-centered feedback-columns">
                    <div class="column is-5-desktop is-full-mobile">
                        <h2 class="feedback-detail-title">
                            {{ page.introduction_title }}
                        </h2>
                        {% if page.introduction_subtitle %}
                            <h5 class="feedback-detail-subtitle">{{ page.introduction_subtitle }}</h5>
                        {% endif %}
                        <figure class="image">
                            {% if page.illustration_image %}
                                {% image page.illustration_image original as p_image %}
                                <img class="progressive__img progressive--not-loaded"
                                     style="border-radius: 8px;"
                                     data-progressive="{{ p_image.url }}"
                                     src="{% lazy_image_url p_image %}" alt="{{ page.title }}"
                                />
                            {% endif %}
                        </figure>
                    </div>
                    <div class="column is-half-desktop is-offset-1-desktop is-full-mobile feedback-form box">
                        {% if form.fields %}
                            <form action="{% pageurl page %}" method="POST">
                                {% csrf_token %}
                                {{ form|bulma }}
                                <div class="field">
                                    <button type="submit"
                                            class="button feedback-submit-button submit-button has-no-border">
                                        {% translate "Submit" %}
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}


