######### DATABASE ENV BEGIN #########
CMS_DB_USER=
CMS_DB_NAME=
CMS_DB_PASSWORD=
CMS_DB_VOLUME=
######### DATABASE ENV END #########

######### CMS ENV BEGIN #########
CMS_DEBUG=
TIME_ZONE=
SECRET_KEY=
ALLOWED_HOSTS=
# CMS Email settings
SMTP_EMAIL_HOST=
SMTP_EMAIL_PORT=
SMTP_EMAIL_USE_TLS=
SMTP_EMAIL_HOST_USER=
SMTP_EMAIL_HOST_PASSWORD=
CMS_ADMINS=
DEFAULT_FROM_EMAIL=
# Google Recaptcha settings for forms
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
# num of workers recommended as (2 x $num_cores) + 1. See https://docs.gunicorn.org/en/latest/design.html#how-many-workers
CMS_NUM_OF_WORKERS=
# docker volumes for django static and media files
CMS_STATIC_VOLUME=
CMS_MEDIA_VOLUME=
######### CMS ENV END #########

######### MAPVIEWER ENV BEGIN #########
MAPVIEWER_CMS_API=
MAPVIEWER_BASE_PATH=""
MAPVIEWER_ASSET_PREFIX=""
ANALYTICS_PROPERTY_ID=""
BITLY_TOKEN=""
GOOGLE_CUSTOM_SEARCH_CX=""
GOOGLE_SEARCH_API_KEY=""
MAPVIEWER_NEXT_STATIC_VOLUME=
######### MAPVIEWER ENV END #########

##### NGINX ENV BEGIN ######
NGINX_PORT=
##### NGINX ENV END ######




