{% load wagtailimages_tags wagtailiconchooser_tags lazyimages_tags %}

<div class="columns is-multiline megamenu-columns">
    {% for sub_page in products_index.specific.get_menu_product_pages %}
        {% if sub_page.show_in_menus and sub_page.live %}
            <div class="column is-half-touch is-one-third-desktop is-one-quarter-fullhd">
                <a class="navbar-item" href="{{ sub_page.url }}">
                    <div class="menu-item-figure">
                        {% if sub_page.specific.nav_menu_icon %}
                            {% svg_icon sub_page.specific.nav_menu_icon %}
                        {% elif sub_page.specific.banner_image %}
                            {% image sub_page.specific.banner_image original as subpage_image %}
                            <img 
                            class="progressive__img progressive--not-loaded"
                            data-progressive="{{ subpage_image.url }}"
                            src="{% lazy_image_url subpage_image %}"
                            alt="">
                        {% elif sub_page.specific.introduction_image %}
                            {% image sub_page.specific.introduction_image original as subpage_image %}
                            <img class="progressive__img progressive--not-loaded"
                            data-progressive="{{ subpage_image.url }}"
                            src="{% lazy_image_url subpage_image %}"
                            alt="">
                        {% endif %}
                    </div>
                    <div class="menu-item-label">
                        {{ sub_page.title }}
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>