{% load wagtailimages_tags wagtailiconchooser_tags %}

<div class="columns is-multiline is-mobile megamenu-columns">
    {% with value.page.specific.service_pages.count as services_count %}
        {% for service_page_ in value.page.specific.service_pages %}
            {% with service_page=service_page_.specific %}
                {% if service_page.show_in_menus and service_page.live %}
                    <div class="column is-half-touch is-one-third-desktop is-one-quarter-fullhd">
                        <a class="navbar-item" href="{{ service_page.url }}"
                           style="font-weight: bold;text-decoration: underline">
                            <div class="menu-item-figure">
                                {% if service_page.nav_menu_icon %}
                                    {% svg_icon service_page.nav_menu_icon %}
                                {% elif service_page.banner_image %}
                                    {% image service_page.banner_image original as service_page_image %}
                                    <img src="{{ service_page_image.url }}" alt="">
                                {% elif service_page.introduction_image %}
                                    {% image service_page.introduction_image original as service_page_image %}
                                    <img src="{{ service_page_image.url }}" alt="">
                                {% endif %}
                            </div>
                            <div class="menu-item-label">
                                {{ service_page.title }}
                            </div>
                            <hr>
                        </a>
                        {% if service_page.core_products %}
                            {% for product_page in service_page.core_products %}
                                {% if product_page.show_in_menus %}
                                    <a class="navbar-item is-hidden-touch" href="{{ product_page.url }}"
                                       style="margin-left: 20px;">
                                        <span>
                                            <i></i>
                                        </span>
                                        <span class="menu-item-label">
                                            {{ product_page.title }}
                                        </span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if service_page.flex_pages %}
                            {% for flex_page in service_page.flex_pages %}
                                {% if flex_page.show_in_menus %}
                                    <a class="navbar-item" href="{{ flex_page.url }}">
                                        <div class="menu-item-label">
                                            {{ flex_page.title }}
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endwith %}
</div>

