{% load wagtailimages_tags lazyimages_tags wagtailiconchooser_tags %}

<div class="megamenu-grid">
  {% for sub_page in value.page.get_children %}
    {% if sub_page.show_in_menus and sub_page.live %}
      <a class="megamenu-item" href="{{ sub_page.url }}">
        <div class="megamenu-item-icon">
          {% if sub_page.specific.nav_menu_icon %}
            {% svg_icon sub_page.specific.nav_menu_icon %}
          {% elif sub_page.specific.banner_image %}
            {% image sub_page.specific.banner_image original as subpage_image %}
            <img src="{{ subpage_image.url }}" alt="{{ sub_page.title }}">
          {% elif sub_page.specific.introduction_image %}
            {% image sub_page.specific.introduction_image original as subpage_image %}
            <img src="{{ subpage_image.url }}" alt="{{ sub_page.title }}">
          {% endif %}
        </div>
        <span class="megamenu-item-label">{{ sub_page.title }}</span>
      </a>
    {% endif %}
  {% endfor %}
</div>