{% load i18n l10n %}


<div id="{{ id }}_div_map" class="boundary_map_wrapper">
        <textarea id="{{ id }}" class="vSerializedField required" name="{{ name }}" hidden
              data-boundaryinfourl="{{ boundary_info_url }}">
        {{ serialized }}
    </textarea>
    
    <div id="{{ id }}_map" class="boundary_map" style="height: 400px;width: 100%">
    </div>



    <script>
        {% block options %}
            var options = {
                geom_name: '{{ geom_type }}',
                id: '{{ id }}',
                map_id: '{{ id }}_map',
                map_srid: {{ map_srid|unlocalize }},
                name: '{{ name }}',
                resize_trigger_selector: '{{ resize_trigger_selector }}',
            };
        {% endblock %}
        const {{ module }} =
            new BoundaryIDWidget(options);
    </script>
</div>

