{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_css %}

{% block content %}

<section id="page-hero" class="hero is-small">
    <div class="hero-body is-align-items-center" style="display:flex">
        <div class="container">            
            {% block banner_title %}
                <h1 class="title page-title"
                    style="font-weight:300">
                    {{ page.title }}
                </h1>
            {% endblock %}
            {% block page_subtitle %}
                <div class="columns" style="margin: 0">
                    <div class="column is-8 is-full-mobile" style="padding: 0;">
                        <div class="page-description">
                            {{ page.description|richtext }}</div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

</section>
<main>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {% for dashboard in page.get_children.specific %}
        <div class="column is-3">
          <a href="{{ dashboard.url }}">
            <div class="card px-4 py-6 is-align-items-center is-justify-content-center" style="background-color: {{ dashboard.banner_background_color }}; min-height:200px">
                <div class="card-content">
                    <h4 class="title is-6 has-text-white">{{ dashboard.banner_title }}</h4>
                </div>
            </div>
        </a>
        </div>
      {% empty %}
        <p>No dashboards available yet.</p>
      {% endfor %}
    </div>
  </div>
</section>

</main>
{% endblock %}
