{% extends 'base.html' %}
{% load i18n static lazyimages_tags wagtailcore_tags wagtailiconchooser_tags bulma_tags wagtailiconchooser_tags nmhs_cms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/maplibre-gl.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock extra_css %}

{% block content %}
    <main class="is-index">
        <div class="hero-header">
                <section id="page-hero" class="hero is-small" style="background-color:{{page.banner_background_color}}">
                    <div class="hero-body is-align-items-center" style="display:flex">
                        <div class="container">
                            {% block banner_title %}
                                <h1 class="title page-title has-text-white"
                                    style="font-weight:300;  color: #ffffff;">
                                    {{ page.banner_title }}
                                </h1>
                            {% endblock %}
                            {% block page_subtitle %}
                                <div class="columns" style="margin: 0">
                                    <div class="column is-full-desktop" style="padding: 0;">
                                        <div class="page-description has-text-white"
                                            style="color: #ffffff;">
                                            {{ page.banner_description|richtext }}</div>
                                    </div>
                                </div>
                            {% endblock %}

                            
    


                        </div>
                    </div>
    
                </section>

                {% if page.body %}

                    {% for block in page.body %}
                        <section class="feature-block-section my-6">
                            <div class="container" style="text-align:left">
                            <h1 class="my-4" style="color:{{page.banner_background_color}}">{{ block.value.section_title }}</h1>

                            {% for item in block.value.content %}
                                {% if item.block_type == 'title_text' %}
                                    {% include_block item %}
                                {% elif item.block_type == 'title_text_image' %}
                                    {% include_block item %}
                                {% elif item.block_type == 'chart' %}
                                    {% include_block item with section=forloop.parentloop.counter %}
                                {% elif item.block_type == 'map' %}
                                    {% include_block item with section=forloop.parentloop.counter %}
                                {% elif item.block_type == 'table' %}
                                    {% include_block item %}
                                {% endif %}
                            {% endfor %}
                            </div>
                        </section>
                    {% endfor %}
                {% endif %}        
            </div>
        
    </main>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/maplibre-gl.js' %}"></script>
  <script src="{% static 'js/d3.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="{% static 'js/dashboard-map.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/accessibility.js' %}"></script>
<script>
    function formatDateTime(datetimeString) {
        const date = new Date(datetimeString);
        const day = date.getDate();
        const month = date.toLocaleString("default", { month: "long" });
        const year = date.getFullYear();
        const hours = date.getHours().toString().padStart(2, "0");
        const minutes = date.getMinutes().toString().padStart(2, "0");

        return `${day} ${month} ${year}<br>${hours}:${minutes}`;
    }
    document.addEventListener("DOMContentLoaded", function () {
        document
            .querySelectorAll(".chart-container")
            .forEach(function (container) {
                const layerId = container.dataset.layerId;
                const adminCode = container.dataset.adminCode;
                const chartId = container.id;

                flatpickr(`#date-${chartId}`, {
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    mode: "range"
                });

                if (!layerId || !adminCode) return;

                let geostoreId = null;
                let oldestDate = null;

                // Step 1: Get geostore_id
                fetch(`/api/geostore/admin/${adminCode}?thresh=0.005`)
                    .then((res) => res.json())
                    .then((geo) => {
                        geostoreId = geo?.id;
                        if (!geostoreId)
                            throw new Error("Geostore ID not found");

                        // Step 2: Get timestamps from tiles.json
                        return fetch(`/api/raster/${layerId}/tiles.json`);
                    })
                    .then((res) => res.json())
                    .then((tileJson) => {
                        const timestamps = tileJson?.timestamps || [];
                        if (!timestamps.length)
                            throw new Error("No timestamps available");

                        oldestDate = timestamps[timestamps.length - 1]; // Pick the earliest timestamp

                        // Step 3: Fetch timeseries data with oldest date
                        const timeseriesUrl = `/api/raster-data/geostore/timeseries/${layerId}?geostore_id=${geostoreId}&value_type=mean&time_from=${oldestDate}`;
                        return fetch(timeseriesUrl);
                    })
                    .then((res) => res.json())
                    .then((data) => {
                        const timestamps =
                            data.map((d) => {
                                return d.date;
                            }) || [];

                        const values =
                            data.map((d) => Math.round(d.value * 100) / 100) ||
                            [];

                        Highcharts.chart(chartId, {
                            chart: {
                                type: container.dataset.type || "line",
                                backgroundColor: "transparent",
                                spacingTop: 40,
                            },
                            title: { text: null },
                            credits: {
                                enabled: false,
                            },
                            xAxis: {
                                categories: timestamps,
                                labels: {
                                    formatter: function () {
                                        return formatDateTime(this.value);
                                    },
                                },
                            },
                            yAxis: {
                                title: { text: container.dataset.unit },
                            },
                            series: [
                                {
                                    name: container.dataset.title,
                                    color: container.dataset.color,
                                    data: values,
                                },
                            ],
                            tooltip: {
                                formatter: function () {
                                    return `
                <b>${this.series.name}</b><br>
                ${formatDateTime(this.x)}<br>
                <b>${this.y.toFixed(2)}</b> ${this.series.options.unit || ""}
                `;
                                },
                            },
                        });
                    })
                    .catch((err) => {
                        console.error("Chart load error:", err);
                        container.innerHTML = `<p style="color:red;">Error loading chart</p>`;
                    });
            });
    });

</script>

{% endblock extra_js %}