{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'wagtailsurveyjs/css/vendor/defaultV2.min.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div>
        <div id="survey-form-container"></div>
    </div>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'wagtailsurveyjs/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'wagtailsurveyjs/js/vendor/survey.jquery.js' %}"></script>

    {% include "wagtailsurveyjs/survey_form_page_js_include.html" %}
{% endblock %}