{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tenders.css' %}">
{% endblock %}

{% block body_class %}tenders"{% endblock %}

{% block content %}
    {% include 'hero.html' with page=page %}
    <main class="is-index">
        <section class="nmhs-work intro-section">
            <div class="work container">
                {% include 'service_introduction.html' with page=page %}
            </div>
        </section>

        <section class="all-tenders-section">
            <div class="container">
                {% if tenders %}
                    <h2 id="results" class="section-title has-text-centered">Open Tenders</h2>
                    <div class="columns is-centered">
                        <div class="column is-9 is-full-mobile">
                            {% include 'tender_list_include.html' with tenders=tenders %}
                        </div>
                    </div>
                {% else %}
                    {% include 'empty_items.html' with empty_header=page.no_tenders_header_text  empty_description=page.no_tenders_description_text %}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}



