.project-inline-detail:hover * {
    color: rgb(99, 110, 134);

}

.more-container {
    display: flex;;
    justify-content: space-between;
    align-items: center;
}


.application-item-detail {
    background-color: rgba(99, 110, 134, .5);
}


.application-item-title {
    background-color: rgba(99, 110, 134, .7);
}

.product-card {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
    height: 250px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.product-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}

.product-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    height: 100%;
    color: #fff;
}

.product-content .icon {
    margin-top: 20px;
    font-size: 20px;
}


.product-title {
    font-size: 20px;
}