.climate_change a:hover:not(.navbar-item):not(.top-nav-item):not(.footer-link-title):not(.footer-link):not(.navbar-burger),
.climate_change a.more:hover,
.project-inline-detail:hover * {
    color: rgb(99, 110, 134);

}

.climate_change .hero .sign-up {
    background-color: rgb(132, 148, 178);
    border: 0;
}

.climate_change .intro-items-header {
    color: rgb(132, 148, 178);
    background-color: #e7ecf7;
}


.climate_change .hero .sign-up:hover {
    background-color: rgb(99, 110, 134);
}

.climate_change .update-card-tag {
    color: rgb(132, 148, 178);
}

.climate_change .card-more-link {
    color: rgb(132, 148, 178);
}

.climate_change .primary-btn {
    background-color: #e7f5f0;
    color: rgb(132, 148, 178);
    border: none
}

.climate_change .cta-btn {

}

.climate_change .more {
    color: rgb(132, 148, 178);
}

.climate_change .sec-btn {
    color: rgb(132, 148, 178);
    border: 1px solid rgb(132, 148, 178);
}


.climate_change .update-item .card-tag {
    color: rgb(132, 148, 178);
}


.climate_change .video-item .card-tag-float {
    background-color: rgb(132, 148, 178);
}


.more-container {
    display: flex;;
    justify-content: space-between;
    align-items: center;
}


.application-item-detail {
    background-color: rgba(99, 110, 134, .5);
}


.application-item-title {
    background-color: rgba(99, 110, 134, .7);
}
