{% extends "wagtailadmin/base.html" %} {% load wagtailadmin_tags i18n static %}
{% block extra_css %} {{ block.super }}

<link
  rel="stylesheet"
  href="{% versioned_static 'wagtailstyleguide/css/styleguide.css' %}"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css"
/>

{{ form.media.css }} {% endblock %} 
{% block titletag %}
{% trans 'Forecast Manager' %}
{% endblock %} 


{% block content %} 
{% trans 'Forecast Manager' as title_str %} {% include "wagtailadmin/shared/header.html" with title=title_str icon='form' %} {% include "wagtailadmin/pages/_editor_js.html" %} {% comment %}
<style>
  .ui-datepicker-calendar {
    display: none;
  }
</style>
{% endcomment %}

<div class="nice-padding">

    <div class="row row-flush">
        <div class="col6">
          <select name="select" id="forecastMode" onchange="setForecastMode(this)">
            <option value="add">Add Forecasts</option>
          
            <option value="query">Query Forecasts</option>
          
          </select>
            {% comment %} <div class="dropdown match-width dropdown-button--white">
                <button type="button" class="button button-secondary">Create new forecast</button>
                <div class="dropdown-toggle"><svg class="icon icon-arrow-down icon" aria-hidden="true"><use href="#icon-arrow-down"></use></svg></div>
                <ul>
                    <li><a href="#">Query forecasts</a></li>
                </ul>
            </div> {% endcomment %}
      </div>

        <div class="col6" style="text-align:end">
          <button type="button" class="button actionbutton createForecast" id="submitForecast">Submit</button>
          <button type="button" class="button actionbutton queryForecast" id="submitForecast" style="display:none">Load</button>
      </div>
    </div>

    <div class="createForecast">
      <h2 style="padding-top:2em">Create new forecast</h2>

      <div id="example"></div>
    </div>

    <div class="queryForecast" style="display:none">

      <h2 style="padding-top:2em">Query Forecasts</h2>

      {% comment %} <select name="select" >
        <option value="add">Add Forecasts</option>
      
        <option value="query" selected>Query Forecasts</option>
      
      </select> {% endcomment %}
    </div>

   

        {{ city_ls|json_script:'city_ls' }}
</div>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"
></script>
<script>
    var city_ls = JSON.parse(document.getElementById('city_ls').textContent);

  
  const container = document.querySelector('#example');
  const hot = new Handsontable(container, {
    data: [],
    rowHeaders: true,
    colHeaders: ['City', 'Date', 'Min Temperature (°C)', 'Max Temperature (°C)', 'Wind Speed (km/h)', 'Wind Direction (°)', 'General Condition'],
    columns: [
      {
        type: 'dropdown',
        source: JSON.parse(city_ls).map(city => city.name)
      },
      {
        type: 'date',
      },
      {},
      {},
      {},
      {},
      {
        type: 'dropdown',
        source: ['Light rain', 'Partly cloudy', 'Heavy Rain']
      },
    ],
    // dropdownMenu: true,
    // multiColumnSorting: true,
    // filters: true,
    manualColumnResize: true,
    manualColumnResize: [100, 100],
    minSpareRows: 10,
    height: '60vh',
    width: 'auto',
    licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
  });

  const exportPlugin = hot.getPlugin('exportFile');

  document.getElementById('submitForecast').addEventListener('click', function(){

    const exportedString = exportPlugin.exportAsString('csv', {
      columnDelimiter: ',',
      columnHeaders: true,
      exportHiddenColumns: true,
      exportHiddenRows: true,
    });

    hot.alter('insert_row_below', hot.countRows(), 10);
  })


  function setForecastMode(e){

    var addForecast = document.getElementsByClassName('createForecast')
    var queryForecast = document.getElementsByClassName('queryForecast')
    if(e.value === 'add'){
      for(i = 0; i < addForecast.length; i++) {
        addForecast[i].style.display = '';
      }
      for(i = 0; i < queryForecast.length; i++) {
        queryForecast[i].style.display = 'None';
      }
      

    } else {
      for(i = 0; i < addForecast.length; i++) {
        addForecast[i].style.display = 'None';
      }
      for(i = 0; i < queryForecast.length; i++) {
        queryForecast[i].style.display = '';
      }
    }
  }





</script>

{% comment %} <script type="text/javascript" src="{% static 'js/editor.js' %}"></script> {% endcomment %}

{% endblock %} {% block extra_js %} {{ block.super }} {% include "wagtailadmin/pages/_editor_js.html" %} {{ form.media.js}} {% endblock %}
