{% extends "wagtailadmin/login.html" %}
{% load nmhs_cms_tags %}

{% block branding_login %}

{% if 'WAGTAIL_SITE_NAME'|django_settings %}
        Sign in to {{ 'WAGTAIL_SITE_NAME'|django_settings }}
    {% else %}
        Sign in
    {% endif %}

{% endblock %}

{% block content %}
    <form method="post" action="{% url 'admin:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
    </form>
{% endblock %}


{% block extra_css %}
  {{ block.super }}
  
  <style>
    .login-logo {
        display: none
    }

  </style>

{% endblock %}