{% load wagtailcore_tags static nmhs_cms_tags %}

<div class="dashboard-maps">
  {% render_maps maps section_index=section %}
</div>

{% if maps %}
{% with last_map=maps|last %}
<script>
  function mapConfig() {
    const datasetsUrl = "{{ last_map.datasetsurl }}";
    const countryBounds = {{ last_map.bounds|default_if_none:"[]"|safe }};
    const boundaryTilesUrl = "{{ last_map.boundary_tiles_url|default_if_none:'' }}";
    return { datasetsUrl, countryBounds, boundaryTilesUrl };
  }
</script>
{% endwith %}
{% endif %}




