{% load wagtailcore_tags static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/maplibre-gl.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard-map.css' %}">
{% endblock %}

<div class="dashboard-maps">
  {% for map_snippet in self.maps_block %}
    <div class="dashboard-map">
      <div class="columns my-4">
        {% if self.maps_block|length > 1 and forloop.counter|divisibleby:2 %}
          {% include "partials/dashboard_map_with_description.html" with map_snippet=map_snippet section=section counter=forloop.counter %}
        {% else %}
          {% include "partials/dashboard_map_with_map_first.html" with map_snippet=map_snippet section=section counter=forloop.counter %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/maplibre-gl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard-map.js' %}"></script>
{% endblock %}