{% load wagtailcore_tags static wagtailimages_tags lazyimages_tags wagtailsettings_tags %}
{% get_settings use_default_site=True %}

{% for news_item in news %}
    <div class="event-inline-item">
        {% if not show_thumbnail == False %}
            <div>
                <figure class="image event-inline-img">
                    {% if news_item.card_props.card_image %}
                        {% if news_item.card_props.card_image_type == 'url' %}
                            <img src="{{ news_item.card_props.card_image }}" alt="{{ news_item.news_item }}"/>
                        {% else %}
                            {% image news_item.image original as news_image %}
                            <img class="progressive__img progressive--not-loaded"
                                 data-progressive="{{ news_image.url }}"
                                 src="{% lazy_image_url news_image %}" alt="{{ news_item.news_item }}"
                            />
                        {% endif %}
                    {% else %}
                        <img src="{% static 'images/event_placeholder.png' %}" alt="{{ news_item.news_item }}">
                    {% endif %}
                </figure>
            </div>
        {% endif %}
        <div class="event-inline-detail" style="{% if show_thumbnail == False %}padding-left:0;{% endif %}">
            <a class="event-inline-title" href="{{ news_item.url }}">
                {{ news_item.title }}
            </a>
            <div class="events-inline-meta">
                <span>
                    {{ news_item.news_type }}
                </span>
                <span>
                    {{ news_item.date|date:'d M Y' }}
                </span>
            </div>
        </div>
    </div>
    <hr/>
{% endfor %}

{% if  settings.base.ImportantPages.all_news_page %}
    <div class="more-container">
        <a href="{{ settings.base.ImportantPages.all_news_page.url }}" class="more">
            More News
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
        </a>
    </div>
{% endif %}
