{% load static %}
{% load wagtailcore_tags wagtailimages_tags lazyimages_tags nmhs_cms_tags %}

{% if self.show_city_forecast and grouped_forecast|length > 0 and self.city_item.cities|length > 0  %}

    {% if page.hero_type == 'card' %}
        {% include 'hero_types/card_hero.html' %}
    {% elif page.hero_type == 'half'  %}
        {% include 'hero_types/half_hero.html' with grouped_forecast=grouped_forecast %}
    {% elif page.hero_type == 'full'  %}
        {% include 'hero_types/full_hero.html' %}
    {% else %}
        {% include 'hero_types/empty_hero.html' %}
    {% endif %}

{% else %}
        {% include 'hero_types/empty_hero.html' %}
{% endif %}



{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>

<script>

    // Store the carousel HTML content
    bulmaCarousel.attach('#carousel',{
        slidesToScroll:1,
        slidesToShow:4, 
        navigation: true,
        loop: true
    })    

    $(document).on('change', '#city-option', function() {
        
        var formData = $('#filter-form').serialize();

        $.ajax({
            url: window.location.pathname,
            method: "GET",
            data: formData,
            success: function(data) {
                // Replace filtered data in the page
                $('#widget-forecasts').html($(data).find('#widget-forecasts').html());

                bulmaCarousel.attach('#carousel',{
                    slidesToScroll:1,
                    slidesToShow:4, 
                    navigation: true,
                    loop: true
                })
            }
        })

    });

    

</script>

{% endblock extra_js %}