{% load static wagtailimages_tags lazyimages_tags wagtailcore_tags i18n %}
{% block extra_css %}
    {% comment %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}"> {% endcomment %}
{% endblock %}

{% if page.youtube_playlist  %}
{% if page.youtube_playlist.playlist_items|length > 0 %}
    <section class="has-text-centered videos" id="videoSection">
        <div class="container is-align-content-center">
            <h2 class="section-title has-text-centered">{% translate 'Latest Media' %}  </h2>
            
                {% include 'videos_skeleton_home.html' with playlist_items=page.youtube_playlist.playlist_items %}
            
        </div>
    </section>
    {% endif %}
{% endif %}



{% block extra_js %}
    {% if settings.base.OrganisationSetting.facebook %}
        <script async src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"></script>
    {% endif %}
    {% if  settings.base.OrganisationSetting.twitter %}
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}
{% endblock %}