{% extends 'base.html' %}
{% load static lazyimages_tags wagtailcore_tags widget_tweaks %}
{% block extra_css %}
{{block.super}}
<link href="{% static 'contact/css/contact.css' %}" type="text/css" rel="stylesheet"/>

{% endblock extra_css %}

{% block content %}


{% lazy_image page.hero_banner width-1366 height-768 as img %}
<section class="hero is-medium" id="contact-map" style="height:400px; background-color:#cad2d3">
</section>

<input type="hidden" value="{{page.point}}" id="location"/>
<section class="py-4">
    <div class="container">
        <div class="columns is-justify-content-center my-6">
            <div class="column is-11">
                <div class="columns">
                    <div class="column is-7 mr-3">
                        <div class="card" style="background-color:#f8f9fb">
                            <div class="card-content mx-6">
                                
                            <form method="post" action="{% pageurl page %}" class="my-6">
                                {% csrf_token %}
                                {{ form.non_field_errors }}

                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field.errors }}
                                    {{ hidden_field }}
                                {% endfor %}

                                {% for field in form.visible_fields %}

                                <div class="field pb-2">
                                    {{ field.errors }}
                                    <label class="label {% if field.field.required %} required {% endif %}">{{field.label}}</label>
                                    {% comment %} <div class="control">
                                      <input class="input" type="text" required>
                                    </div> {% endcomment %}
                                    {% if field.widget_type|lower == "textarea" %}
                                    <div class="control">

                                    {% render_field field class="textarea" rows="10" %}
                                    </div>
                                    <p class="help">{{ field.help_text }}</p>

                                    {% else %}
                                    
                                    
                                    <div class="control">
                                    {% render_field field class="input"  %}
                                    </div>
                                    <p class="help">{{ field.help_text }}</p>
                                    {% endif %}
                                  </div>

                                  {% endfor %}

                                  <div class="field">
                                    <div class="control">
                                      <button class="button is-dark" type="submit">Submit</button>
                                    </div>
                                  </div>
                            </form>
                        </div>

                        </div>
                    </div>

                    <div class="column ml-3">
                        <div class="block pt-6">

                            <h1 class="title" style="font-weight:700">Get in Touch</h1>
                            <p>Get in touch with us and we will get back to you as soon as we can.</p>

                            {% if settings.site_settings.SocialAndAddressSettings.address  %}

                            <div class="block pt-5">
                                <h2 class="title" style="font-size:20px"><i class="fa fa-location-pin"></i> Address</h2>

                                {{settings.site_settings.SocialAndAddressSettings.address|richtext }}
                            </div>

                            {% endif %}

                            <div class="block pt-3">

                            {% if settings.site_settings.SocialAndAddressSettings.instagram  %}
                            <span class="icon">
                                <a href="{{settings.site_settings.SocialAndAddressSettings.instagram }}" style="color:black" target=”_blank” rel=”noopener noreferrer”>

                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>

                            </span>

                            {% endif %}

                            {% if settings.site_settings.SocialAndAddressSettings.twitter  %}

                        <span class="icon">
                            <a href="{{settings.site_settings.SocialAndAddressSettings.twitter }}" style="color:black" target=”_blank” rel=”noopener noreferrer”>

                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        </span>
                        {% endif %}

                        {% if settings.site_settings.SocialAndAddressSettings.facebook  %}
                        <span class="icon">
                            <a href="{{settings.site_settings.SocialAndAddressSettings.facebook }}" style="color:black" target=”_blank” rel=”noopener noreferrer” >

                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>

                        </span>
                        {% endif %}

                        {% if settings.site_settings.SocialAndAddressSettings.youtube  %}
                        <span class="icon">
                            <a href="{{settings.site_settings.SocialAndAddressSettings.youtube }}" style="color:black" target=”_blank” rel=”noopener noreferrer”>

                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>

                        </span>
                        {% endif %}
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_js %}
<script>

    var locationStr = JSON.parse($('#location').val())

    var locationData =  {
        type: 'FeatureCollection',
        features: [
            {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [locationStr.x, locationStr.y]
                },
                properties: {}
            }
        ]
    }
    mapboxgl.accessToken =
    "pk.eyJ1IjoiZ3JhY2VhbW9uZGkiLCJhIjoiY2s4dGphcGQwMDBhcjNmcnkzdGk3MnlrZCJ9.54r40Umo0l3dHseEbrQpUg";

    const map = new mapboxgl.Map({
        container: "contact-map", // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: "mapbox://styles/mapbox/light-v10", // style URL
        center: [locationStr.x, locationStr.y], // starting position [lng, lat]
        zoom: 4.2, // starting zoom
        scrollZoom: false,
    });
    
    map.on("load", function(){

        var marker = new mapboxgl.Marker({
            color: '#007cbf'
        })

        marker.setLngLat([locationStr.x, locationStr.y]).addTo(map)


    })
  
</script>

{% endblock extra_js %}