{% load static %}

<div class="results-filter">
    <div class="accordion js-accordion">
        {% if filters.publication_types %}
            <div class="accordion__item js-accordion-item active">
                <h6 class="accordion-header js-accordion-header filter-item-header">
                    <span> Filter by Publication Type </span>
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                </h6>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        {% for pub_type in filters.publication_types %}
                            <label class="checkbox-container" for="{{ pub_type.name }}">
                                <span class="filter-sub-item">{{ pub_type.name }}</span>
                                <input type="checkbox" id="{{ pub_type.name }}"
                                       name="publication_type"
                                       value="{{ pub_type.pk }}"
                                       class="publication-filter publication_type"
                                >
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if filters.service_categories %}
            <div class="accordion__item js-accordion-item active">
                <h6 class="accordion-header js-accordion-header filter-item-header">
                    <span> Filter by Service </span>
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                </h6>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        {% for service in filters.service_categories %}
                            <label class="checkbox-container" for="{{ service.name }}">
                                <span class="filter-sub-item">{{ service.name }}</span>
                                <input type="checkbox" id="{{ service.name }}" name="service" value="{{ service.pk }}"
                                       class="publication-filter service">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if filters.projects %}
            <div class="accordion__item js-accordion-item active">
                <h6 class="accordion-header js-accordion-header filter-item-header">
                    <span> Filter by Project </span>
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                </h6>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        {% for project in filters.projects %}
                            <label class="checkbox-container" for="{{ project.label }}">
                                <span class="filter-sub-item">{{ project.label }}</span>
                                <input
                                        type="checkbox"
                                        id="{{ project.label }}"
                                        name="project"
                                        value="{{ project.pk }}"
                                        class="publication-filter project">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if filters.year %}
            <div class="accordion__item js-accordion-item active">
                <h6 class="accordion-header js-accordion-header filter-item-header">
                    <span> Filter by Year </span>
                    <i class="fas fa-sort-down" aria-hidden="true"></i>
                </h6>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        {% for date in filters.year reversed %}
                            <label class="checkbox-container" for="{{ date.year }}">
                                <span class="filter-sub-item">{{ date.year }}</span>
                                <input type="checkbox" id="{{ date.year }}" name="year" value="{{ date.year }}"
                                       class="publication-filter year">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
