<div class="container">

    <div class="report-header has-text-centered"> 
        <h2 class="title">Yearly Average of observations</h2>
    </div>

    <div class="columns report-charts my-4">
        <div class="column is-8">
            <figure class="hourly-figure transmissions-figure" style="">
                <div id="yearly-average-graph">
                </div>
            </figure>
        </div>
        <div class="column is-4">
            <p id="yearly-summary-text"></p>
        </div>
        {% comment %} <div class="column 1">
            <input class="slider is-fullwidth is-small is-circle" step="1" min={{start_year}} max={{end_year}} value={{end_year}} type="range">
        </div> {% endcomment %}
        
        
    </div>

    <div class="columns is-justify-content-center">
        <div class="column is-10">
            <div class="columns is-hidden-mobile legend mt-4 is-justify-content-center mx-6 has-text-centered">

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#000000"></div>
                    <div class="color-interpretation"><p>Not received in period</p></div>
                </div>

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#fa4827"></div>
                    <div class="color-interpretation"><p>Availability issues (< 30%)</p></div>
                </div>

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#f8a02e"></div>
                    <div class="color-interpretation"><p>Availability issues (≥ 30%)</p></div>
                </div>

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#289f28"></div>
                    <div class="color-interpretation"><p>Normal (≥ 80%)</p></div>
                </div>

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#fa48ce"></div>
                    <div class="color-interpretation"><p>More than 100%</p></div>
                </div>

                


            </div>
        </div>
    <div>

</div>