<div class="container">

    <div class="report-header has-text-centered"> 
        <h3 class="title">Synoptic hours</h3>
        <p id="synop-summary-text"></p>

             <div class="columns my-4 is-justify-content-center">
                <div class="column is-one-third">
                    <div class="field">
                            <div class="control is-expanded my-5 report-element-selectors">
                                <input type="date" class="date-selector py-3" id="synop-date" value='{{ latest_date|date:"Y-m-d" }}'>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="columns report-charts my-4">
        <div class="column is-one-third">
            <figure class="transmissions-figure" style="">
                <div id="daily-graph">
                </div>
            </figure>
        </div>
        <div class="column is-one-third">
            <figure class="transmissions-figure" style="">
            <div id="monthly-graph">
            </div>
        </figure>
        </div>
        <div class="column is-one-third">
            <figure class="transmissions-figure" style="">
                <div id="yearly-graph">
                </div>
            </figure>
        </div>
    </div>
    <div class="columns is-justify-content-center">
        <div class="column is-10">
            <div class="columns is-hidden-mobile legend mt-4 is-justify-content-center mx-6 has-text-centered">

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#000000"></div>
                    <div class="color-interpretation"><p>Not received in period</p></div>
                </div>

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#fa4827"></div>
                    <div class="color-interpretation"><p>Availability issues (< 30%)</p></div>
                </div>

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#f8a02e"></div>
                    <div class="color-interpretation"><p>Availability issues (≥ 30%)</p></div>
                </div>

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#289f28"></div>
                    <div class="color-interpretation"><p>Normal (≥ 80%)</p></div>
                </div>

                <div class="column color-item">
                    <div class="color-code" style="border:1px solid #bebebe; height:0.8em; width:0.8em; border-radius:100%; background-color:#fa48ce"></div>
                    <div class="color-interpretation"><p>More than 100%</p></div>
                </div>

                


            </div>
        </div>
    <div>
</div>

