{% extends "base.html" %}
{% load static wagtailsettings_tags i18n wagtailcore_tags wagtailimages_tags lazyimages_tags %}
{% get_settings use_default_site=True %}

{% block extra_css %}

{% endblock extra_css %}




{% block content %}

<main class="is-index">
    {% include 'hero.html' with page=page %}

    {% if  page.introduction_title and page.introduction_heading and page.introduction_text%}
    <section class="nmhs-work is-desktop">
        <div class="work container">
            <div class="columns is-centered has-text-centered intro-section-wrapper">
                <div class="column is-7 has-text-centered">
                    <p class="subtitle"> {{page.introduction_heading}} <P>
                    {% if page.introduction_title %}

                    <h2 class="section-subheader">
                        {{ page.introduction_title }}
                    </h2>

                    {% endif %}
                    {% if page.introduction_text %}
                    <div class="intro-description format-text">
                        {{ page.introduction_text|richtext }}
                    </div>
                    {% endif %}
                    
                    
            
                </div>
                
            </div>
        </div>
    </section>
    {% endif %}
   
    <section>
        <div class="container">
            
            {% for department in page.all_departments.all %}
                <div class="pb-6 mb-6">
                    <h3 class="has-text-centered pb-6">{{department.department__name}}</h3>

                    <div class="columns is-mobile is-multiline is-centered">
                    {% for employee in page.employees.all %}
                        {% if department.department__name == employee.department.name %}

                        <div id="{{employee.name}}-{{employee.role}}" class="modal">
                            <div class="modal-background"></div>
                          
                            <div class="modal-content" style="min-width:60rem; ">
                              <div class="box">

                                <div class="columns">
                                    <div class="column is-one-third">
                                        <div class="card elevation-0" >
                                            <div class="card-image">
                                              <figure class="image is-5by4">
                                                {% if employee.photo %}
            
                                                {% image employee.photo original as emp_img_modal %}
                                                <img class="progressive__img progressive--not-loaded lazy_load"
                                                     data-progressive="{{ emp_img_modal.url }}"
                                                     style="height: 100%;width: 100%;object-fit: cover; "
                                                     src="{% lazy_image_url emp_img_modal %}" alt="products"/>
                                                {% endif %}
                                              </figure>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="column">
                                        <h4>{{employee.name}}</h4>
                                        <p class="subtitle" style="font-size:14px">{{employee.role}}</p>
                                        {% if employee.bio %}
                                        <div style="max-height:20rem"><p>{{employee.bio|richtext}}</p></div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <!-- Your content -->
                              </div>
                            </div>
                          
                            <button class="modal-close is-large" aria-label="close"></button>
                          </div>
                        <div data-target="{{employee.name}}-{{employee.role}}" class="js-modal-trigger column is-one-quarter-desktop is-one-third-tablet is-one-quarter-fullhd is-half-mobile">
                            <div class="card elevation-1" >
                                <div class="card-image">
                                  <figure class="image is-4by3">
                                    {% if employee.photo %}

                                    {% image employee.photo original as emp_img %}
                                    <img class="progressive__img progressive--not-loaded"
                                         data-progressive="{{ emp_img.url }}"
                                         style="height: 100%;width: 100%;object-fit: cover; "
                                         src="{% lazy_image_url emp_img %}" alt="products"/>
                                    {% endif %}
                                  </figure>
                                </div>
                              </div>

                              <div class="block pt-4">
                                <h4> {{employee.name}} </h4>
                                <p style="margin-bottom: 0px;
                                margin-top: 5px;
                                line-height: 1.5;
                                font-size: 16px;
                                color: #4a5255;
                                font-weight: 400;"> {{employee.role}} </p>

                              </div>
                            {% comment %} <p> {{employee.bio|richtext}} </p> {% endcomment %}
                         </div>
                        {% endif %}
                        
                    {% endfor %}
                                        
                  </div>
                
                
                </div>

               
            {% endfor %}
            
        </div>
    </section>

   

    


</main>

{% endblock content %}




{% block extra_js %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
          $el.classList.add('is-active');

          
        }
      
        function closeModal($el) {
          $el.classList.remove('is-active');
        }
      
        function closeAllModals() {
          (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
          });
        }
      
        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
          const modal = $trigger.dataset.target;
          const $target = document.getElementById(modal);
          var lazy_img = document.getElementsByClassName('lazy_load');

          

          $trigger.addEventListener('click', () => {
            for (var i = 0; i < lazy_img.length; i++) {
                lazy_img[i].setAttribute('src', lazy_img[i].getAttribute('data-progressive'));
              }
    
            openModal($target);
          });
        });
      
        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
          const $target = $close.closest('.modal');
      
          $close.addEventListener('click', () => {
            closeModal($target);

            
          });
        });
      
        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
          if(event.key === "Escape") {
            closeAllModals();
          }
        });

    
      });
    </script>

{% endblock extra_js %}