{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load wagtailadmin_tags i18n static %}

{% block titletag %}{% trans 'Youtube Playlists' %}{% endblock %}


{% block content %}
    <header class="col12">
        <div class="row nice-padding">

            <div class="row">
                <div class="left">
                    <div class="col header-title">
                        <h1 class="icon icon-form">
                            {% trans "Youtube Playlists" %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="nice-padding">
        <div style="padding: 20px;margin: 10px">
            <div>
                <table class="listing">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Playlist ID</th>
                        <th>Videos Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for playlist in playlists %}
                        <tr>
                            <td class="title">
                                <a href="{% url 'playlist_items' pk=playlist.id %}">{{ playlist.title }}</a>
                            </td>
                            <td class="title">
                                <a href="https://youtube.com/playlist?list={{ playlist.playlist_id }}"
                                   target="_blank">{{ playlist.playlist_id }}</a>
                            </td>
                            <td class="title">
                                <h2>{{ playlist.videos_count }}</h2>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}