{% load i18n wagtailadmin_tags static wagtailimages_tags wagtailcore_tags wagtailsettings_tags %}

{% get_settings use_default_site=True %}

<p>{{ self.title }} </p>

<p style="font-size:18px; font-weight:400">
    <b><span class="icon is-small">
        <i class="fa-solid fa-location-dot"></i>
    </span>
        <span>{{ self.station_name }}</span></b> :
    <span class="tag is-medium is-white is-rounded">
        {{ self.extreme_value }} {{ settings.forecastmanager.ForecastSetting.get_temp_units_display }}
    </span>
</p>
