{% if value.has_sub_items %}
    <div class="column is-one-quarter-desktop is-half-mobile ">
        <p class="footer-link-title is-uppercase title">
            <a class="has-text-white">{{ value.label }}</a>
        </p>
        {% if value.page %}
            {% for sub_page in value.page.get_children %}
                {% if sub_page.show_in_menus %}
                    <a href="{{ sub_page.url }}" class="footer-link has-text-white">{{ sub_page.title }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if value.sub_items %}
            {% for item in value.sub_items %}
                {% if item.value.is_action %}
                    <a class="button is-small is-black is-inverted is-outlined is-rounded"
                       {% if item.value.page.url %}href="{{ item.value.page.url }}" {% else %}
                       href="{{ item.value.external_url }}"
                       target="_blank"
                       rel="noopener norefferer" {% endif %}
                       style="margin-top: 8px"
                    >
                        {{ item.value.label }}
                    </a>
                {% else %}
                    <a class="footer-link has-text-white"
                       {% if item.value.page.url %}href="{{ item.value.page.url }}" {% else %}
                       href="{{ item.value.external_url }}"
                       target="_blank"
                       rel="noopener norefferer" {% endif %}> {{ item.value.label }}</a>

                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}