{% load svg wagtailimages_tags %}

{% if value.include_subpages or value.sub_items %}
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item nav-item-title">
            {{ value.label }}
        </a>
        {% if value.large_submenu %}
            <div class="navbar-dropdown megamenu">
                <div class="container">
                    <div class="columns is-multiline">
                        {% if value.page %}
                            {% for sub_page in value.page.get_children %}
                                {% if sub_page.show_in_menus %}
                                    <div class="column is-half">
                                        <a class="navbar-item" href="{{ sub_page.url }}">
                                            <div class="menu-item-figure">
                                                {{ page.nav_menu_icon }}
                                                {% if page.nav_menu_icon %}
                                                    {% svg page.nav_menu_icon %}
                                                {% elif page.banner_image %}
                                                    {% image page.banner_image original as page_image %}
                                                    <img src="{{ page_image.url }}" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="menu-item-label">
                                                {{ sub_page.title }}
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if value.sub_items %}
                            {% for item in value.sub_items %}
                                <div class="column is-half">
                                    <a class="navbar-item"
                                       {% if item.page.url %}href="{{ item.page.url }}" {% else %}
                                       href="{{ item.external_url }}"
                                       target="_blank"
                                       rel="noopener norefferer" {% endif %}>
                                        {{ item.label }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

        {% else %}
            <div class="navbar-dropdown">
                {% if value.page %}
                    {% for sub_page in value.page.get_children %}
                        {% if sub_page.show_in_menus %}
                            <a class="navbar-item" href="{{ sub_page.url }}">
                                {{ sub_page.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if value.sub_items %}
                    {% for item in value.sub_items %}
                        <a class="navbar-item"
                           {% if item.page.url %}href="{{ item.page.url }}" {% else %} href="{{ item.external_url }}"
                           target="_blank"
                           rel="noopener norefferer" {% endif %}>
                            {{ item.label }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% else %}
    {% if value.page.url or value.external_url %}
        <a class="navbar-item nav-item-title"
           {% if value.page.url %}href="{{ value.page.url }}" {% else %} href="{{ value.external_url }}" target="_blank"
           rel="noopener norefferer" {% endif %}>
            {{ value.label }}
        </a>
    {% endif %}
{% endif %}