{% load i18n wagtailadmin_tags %}
<div id="w-cms-upgrade" class="w-panel-cms-upgrade panel w-hidden" data-cms-current-version="{{ current_version }}">
    <div class="help-block help-warning">
        {% icon name='warning' %}
        {% blocktranslate trimmed %}
            CMS upgrade available. Your version: <strong>{{ current_version }}</strong>. Latest version:
            <strong id="w-cms-latest-version"></strong>.
        {% endblocktranslate %}

        {% if version_upgrade_url %}
            <a href="{{ version_upgrade_url }}">{% trans "Upgrade" %}</a>
        {% endif %}
    </div>
</div>

<script>
    const latestReleaseUrl = "{{ latest_release_url }}";
    $(document).ready(function () {
        const $cmsUpgrade = $("#w-cms-upgrade")
        const $cmsLatestVersion = $("#w-cms-latest-version")
        const currentVersion = $cmsUpgrade.data("cmsCurrentVersion")
        if (currentVersion && latestReleaseUrl) {
            fetch(latestReleaseUrl).then(res => res.json()).then(releaseData => {
                const latestVersion = releaseData.name && releaseData.name.replace(/^v+|v+$/gi, '')
                if (latestVersion && currentVersion !== latestVersion) {
                    $cmsLatestVersion.text(latestVersion)
                    $cmsUpgrade.show()
                }
            }).catch(err => {
                console.log(err)
            })
        }
    })
</script>

