{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load l10n %}
{% load wagtailadmin_tags wagtailimages_tags static %}
{% block titletag %}{% blocktrans with title=page.get_admin_display_title %}{{ title }}
{% endblocktrans %}
{% endblock %}

{% block extra_css %}

    <style>

        .v-item {
            padding-bottom: 10px;
            font-size: 16px;
        }

        .upgrade-section {
            margin-top: 20px;
        }

        .upgrade-info {
            font-weight: bold;
        }

    </style>

{% endblock %}

{% block content %}

    {% trans "CMS Version Check" as header_str %}
    {% include "wagtailadmin/shared/header.html" with title=header_str icon="cog" %}

    <div class="nice-padding">

        {% if current_version %}
            <div class="v-item">Current installed version: <strong>{{ current_version }}</strong></div>
        {% endif %}

        {% if latest_release %}
            <div class="v-item">Latest available version: <strong>{{ latest_release.version }}</strong></div>
        {% endif %}

        {% if current_version and latest_release %}
            <div class="upgrade-section">
                {% if current_version == latest_release.version %}
                    <div>
                        All good. You are running on the latest version!
                    </div>
                {% else %}
                    {% if cms_upgrade_pending %}
                        <div class="help-block help-warning">
                            <svg class="icon icon-warning icon" aria-hidden="true">
                                <use href="#icon-warning"></use>
                            </svg>
                            A CMS upgrade was initiated. Please wait for the upgrade to complete
                        </div>
                    {% else %}
                        {% if cms_upgrade_hook_url %}
                            <div class="upgrade-info">
                                <span style="margin-right: 4px">CMS upgrade available! </span>
                                <a href="https://github.com/wmo-raf/nmhs-cms/releases" target="_blank"
                                   rel="noopener noreferrer" style="text-decoration: underline">
                                    Release notes
                                </a>
                            </div>
                            <div style="margin-top: 20px">
                                <form method="POST"
                                      enctype="multipart/form-data">
                                    {% if form.non_field_errors %}
                                        <div class="non-field_errors" style="margin-bottom: 20px">
                                            {% include "wagtailadmin/shared/non_field_errors.html" with form=form %}
                                        </div>
                                    {% endif %}
                                    <ul class="fields">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            {% if field.is_hidden %}
                                                {{ field }}
                                            {% else %}
                                                {% include "wagtailadmin/shared/field_as_li.html" %}
                                            {% endif %}
                                        {% endfor %}
                                        <li>
                                            <button class="button bicolor button--icon" type="submit">
                                                <span class="icon-wrapper">
                                                    <svg class="icon icon-rotate icon" aria-hidden="true">
                                                        <use href="#icon-rotate"></use>
                                                    </svg>
                                                </span>
                                                {% trans 'Upgrade now' %}
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}