{% extends 'base.html' %}
{% load wagtailcore_tags static wagtailimages_tags lazyimages_tags %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock %}

{% block body_class %}event-detail{% endblock %}

{% block content %}
    {% include 'hero.html' with page=page %}
    <main>
        <section class="event-detail-section">
            <div class="container">

                <div class="columns is-centered">
                    <div class="column is-offset-1-desktop is-full-mobile event-detail-wrapper">
                        {#                        <h3 class="event-detail-title">{{ page.event_title }}</h3>#}
                        <div class="event-detail-body">

                            {% include 'new_events_header.html' %}


                            {#                            <div class="event-detail-meta">#}
                            {#                                {% if page.is_ended %}#}
                            {#                                    <div class="event-meta-item">#}
                            {#                                        <div class="event-meta-item-pre">#}
                            {#                                            <span class="event-meta-item-icon">#}
                            {#                                                <i class="fas fa-archive"></i>#}
                            {#                                            </span>#}
                            {#                                            <span class="event-meta-item-title">#}
                            {#                                                Ended</span>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                {% endif %}#}
                            {#                                <div class="event-meta-item">#}
                            {#                                    <div class="event-meta-item-pre">#}
                            {#                                        <span class="event-meta-item-icon">#}
                            {#                                            {% if page.event_type.icon %}#}
                            {#                                                <img src="{{ page.event_type.icon.url }}" alt="location_icon"/>#}
                            {#                                            {% else %}#}
                            {#                                                <i class="fas fa-user-tag"></i>#}
                            {#                                            {% endif %}#}
                            {#                                        </span>#}
                            {#                                        <span class="event-meta-item-title"> Type: </span>#}
                            {#                                    </div>#}
                            {#                                    <span>#}
                            {#                                        {{ page.event_type.event_type }}#}
                            {#                                    </span>#}
                            {#                                </div>#}
                            {#                                <div class="event-meta-item">#}
                            {#                                    <div class="event-meta-item-pre">#}
                            {#                                        <span class="event-meta-item-icon">#}
                            {#                                            <i class="fas fa-map-marker-alt"></i>#}
                            {#                                        </span>#}
                            {#                                        <span class="event-meta-item-title"> Location: </span>#}
                            {#                                    </div>#}
                            {#                                    <span>#}
                            {#                                        {{ page.location }}#}
                            {#                                    </span>#}
                            {#                                </div>#}
                            {#                                <div class="event-meta-item">#}
                            {#                                    <div class="event-meta-item-pre">#}
                            {#                                        <span class="event-meta-item-icon">#}
                            {#                                            <i class="fas fa-clock"></i>#}
                            {#                                        </span>#}
                            {#                                        <span class="event-meta-item-title"> Date: </span>#}
                            {#                                    </div>#}
                            {#                                    <span>#}
                            {#                                        {{ page.date_from }}  {% if page.date_to %} - {{ page.date_to }} {% endif %}#}
                            {#                                        ({{ page.tz_gmt_offset }})#}
                            {#                                    </span>#}
                            {#                                </div>#}
                            {#                                {% if page.cost %}#}
                            {#                                    <div class="event-meta-item">#}
                            {#                                        <div class="event-meta-item-pre">#}
                            {#                                            <span class="event-meta-item-icon">#}
                            {#                                                <i class="fas fa-wallet"></i>#}
                            {#                                            </span>#}
                            {#                                            <span class="event-meta-item-title"> Cost: </span>#}
                            {#                                        </div>#}
                            {#                                        <span>#}
                            {#                                            {{ page.cost }}#}
                            {#                                        </span>#}
                            {#                                    </div>#}
                            {#                                {% endif %}#}
                            {#                                {% if not page.is_ended and page.registration_page and not page.registration_open %}#}
                            {#                                    <div class="event-meta-item">#}
                            {#                                        <div class="event-meta-item-pre">#}
                            {#                                            <span class="event-meta-item-icon">#}
                            {#                                                <i class="fas fa-times-circle"></i>#}
                            {#                                            </span>#}
                            {#                                            <span class="event-meta-item-title">#}
                            {#                                                Registration closed</span>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                {% endif %}#}
                            {#                                {% if page.registration_open and not page.is_ended and page.registration_page and not page.registration_page.live %}#}
                            {#                                    <div class="event-meta-item">#}
                            {#                                        <div class="event-meta-item-pre">#}
                            {#                                            <span class="event-meta-item-icon">#}
                            {#                                                <i class="fas fa-hourglass-half"></i>#}
                            {#                                            </span>#}
                            {#                                            <span class="event-meta-item-title">#}
                            {#                                                Registration will be open soon</span>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                {% endif %}#}
                            {#                            </div>#}
                            {#                            <div class="event-actions"#}
                            {#                                 style="{% if not page.registration_page %}justify-content:flex-end;{% endif %}padding-bottom:30px;">#}
                            {#                                                            {% if page.registration_open %}#}
                            {#                                                                {% if page.registration_page and page.registration_page.live and not page.is_ended %}#}
                            {#                                                                    <a class="button is-rounded is-small event-register-button"#}
                            {#                                                                       href="{{ page.registration_page.url }}"#}
                            {#                                                                       data-ga-action="click"#}
                            {#                                                                       data-ga-event-category="Event Registration"#}
                            {#                                                                       data-ga-event-label="{{ page.title }}"#}
                            {#                                                                       data-ga-value="{{ page.registration_page.url }}"#}
                            {#                                                                    >#}
                            {#                                                                        <span class="button-title">Register</span>#}
                            {#                                                                        <span class="icon">#}
                            {#                                                                            <i class="fas fa-arrow-right"></i>#}
                            {#                                                                        </span>#}
                            {#                                                                    </a>#}
                            {#                                                                {% endif %}#}
                            {#                                                            {% endif %}#}
                            {#                                <div class="share-buttons">#}
                            {#                                    {% include 'social_media_share_buttons_include.html' with url=page.url text=page.title %}#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="columns event-detail-content is-centered is-multiline is-mobile">#}
                            {#                                {% if page.image %}#}
                            {#                                    <div class="column is-one-quarter-desktop is-full-tablet is-full-mobile event-detail-image">#}
                            {#                                        <figure class="image">#}
                            {#                                            {% image page.image original as event_img %}#}
                            {#                                            <img class="progressive__img progressive--not-loaded"#}
                            {#                                                 data-progressive="{{ event_img.url }}"#}
                            {#                                                 src="{% lazy_image_url event_img %}"#}
                            {#                                                 alt="{{ page.event.event_type }}"#}
                            {#                                            />#}
                            {#                                        </figure>#}
                            {#                                    </div>#}
                            {#                                {% endif %}#}
                            {#                                <div class="column is-three-quarters-desktop is-full-tablet is-full-mobile event-detail-description format-text">#}
                            {#                                    {{ page.description | richtext }}#}
                            {#                                </div>#}
                            {#                                {% if page.registration_open %}#}
                            {#                                    {% if page.registration_page and page.registration_page.live and not page.is_ended %}#}
                            {#                                        <a class="button is-rounded is-small event-register-button"#}
                            {#                                           href="{{ page.registration_page.url }}"#}
                            {#                                           data-ga-action="click"#}
                            {#                                           data-ga-event-category="Event Registration"#}
                            {#                                           data-ga-event-label="{{ page.title }}"#}
                            {#                                           data-ga-value="{{ page.registration_page.url }}"#}
                            {#                                        >#}
                            {#                                            <span class="button-title">Register</span>#}
                            {#                                            <span class="icon">#}
                            {#                                                <i class="fas fa-arrow-right"></i>#}
                            {#                                            </span>#}
                            {#                                        </a>#}
                            {#                                    {% endif %}#}
                            {#                                {% endif %}#}
                            {#                            </div>#}




                            {% if page.zoom_events_details %}
                                {% include 'zoom_events_details_include.html' %}
                            {% else %}
                                {% if page.panelists and not page.sessions_data %}
                                    <div style="padding-top: 20px">
                                        <div class="panelists-heading">
                                            <h3>Panelists</h3>
                                        </div>
                                        {% include 'panelists_include.html' with panelists=page.panelists %}
                                    </div>
                                {% endif %}
                                {% if page.sessions_data and not page.panelists %}
                                    {% include 'event_sessions_include.html' with sessions=page.sessions_data %}
                                {% endif %}
                                {% if page.sponsors %}
                                    <h4 class="center" style="padding-top: 40px">Acknowledgements</h4>
                                    {% include 'event_sponsors_include.html' with sponsors=page.sponsors %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}


{% block extra_js %}
    {{ block.super }}
    <script>
        $('.schedule-section li').on('click', function () {
            const $activeTab = $('.schedule-section li.is-active');
            const $this = $(this);
            const dataId = $this.attr('data-id');
            const $targetContentTab = $(`#${dataId}`)
            $activeTab.removeClass('is-active');
            $this.addClass('is-active');

            if ($targetContentTab) {
                const $activeTabContent = $('.schedule-section .content-tab.is-active');
                $activeTabContent.removeClass('is-active');
                $targetContentTab.addClass('is-active')
            }
        });

        $('.tabs li').on('click', function () {
            const $activeTab = $('.tabs li.is-active');
            const $this = $(this);
            const dataId = $this.attr('data-id');
            const $targetContentTab = $(`#${dataId}`)
            $activeTab.removeClass('is-active');
            $this.addClass('is-active');

            if ($targetContentTab) {
                const $activeTabContent = $('.content-tab.is-active');
                $activeTabContent.removeClass('is-active');
                $targetContentTab.addClass('is-active')
            }
        });


        function getTimeRemaining(endTime) {
            const total = Date.parse(endTime) - Date.parse(new Date());
            const seconds = Math.floor((total / 1000) % 60);
            const minutes = Math.floor((total / 1000 / 60) % 60);
            const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
            const days = Math.floor(total / (1000 * 60 * 60 * 24));

            return {
                total,
                days,
                hours,
                minutes,
                seconds
            };
        }


        function initializeCountDown(id, endTime) {
            const countdown = document.getElementById(id);

            function updateCountDown() {
                const t = getTimeRemaining(endTime);

                const days = t.days;
                const hours = ('0' + t.hours).slice(-2);
                const minutes = ('0' + t.minutes).slice(-2);
                const seconds = ('0' + t.seconds).slice(-2);

                countdown.innerHTML = `${days}D : ${hours}H : ${minutes}M : ${seconds}S`

                if (t.total <= 0) {
                    clearInterval(timeInterval);
                }
            }

            updateCountDown();

            const timeInterval = setInterval(updateCountDown, 1000);

        }



    </script>
{% endblock %}


