.tender-detail-wrapper {
    margin: 0;
}

.tender-detail-title {
    padding-bottom: 40px;
}

.tender-detail-header {
    background-color: #f8f9fb;
    padding: 40px;
}

.tender-detail-header-items {
    padding: 20px 0;
}

.tender-header-item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.tender-header-item-pre {
    display: flex;
    padding-right: 10px;
}

.tender-header-item-icon {
    height: 20px;
    width: 20px;
}

.tender-header-item-icon > * {
    height: 100%;
    width: 100%;
}

.tender-header-item-title {
    font-weight: bold;
    padding-left: 8px;
}


.tender-detail-actions {
    padding: 20px 0 0;
    justify-content: flex-start;
}


.tender-detail-description {
    padding: 70px;
}

.tender-detail-description .rich-text p, .tender-detail-description .rich-text li {
    font-size: 16px;
}


.tender-detail-docs {
    display: flex;
    padding: 20px 10px
}

.tender-detail-docs > a {
    border: solid 1px #009997;
}

.tender-detail-docs > a:hover {
    border: solid 1px #009997;
}

.tender-doc {
    margin-right: 20px;
}


/*768px and lower*/
@media screen and (max-width: 768px) {

    .tender-detail-docs {
        flex-direction: column;
    }

    .tender-doc {
        margin: 20px;
    }

    .tender-detail-header {
        padding: 20px;
    }

    .tender-detail-header .social-media.share-button-title {
        display: none;
    }

    .tender-detail-actions {
        justify-content: space-between;
    }

    .tender-detail-description {
        padding: 20px 0;
    }


}