.nav-submenu .footer {
    bottom: initial !important;
}

.box {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

.analytics-dash-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 20px 0;
    justify-content: space-between;
    align-content: space-between;
}

.dropdown-trigger {
    text-transform: capitalize;
}


.awesome-bottom-margin {
    margin-bottom: 300px;
}

rect.highcharts-background {
    stroke: none;
}

.c-sf-block__header {
    background: #f5f5f5;
}

