.sidebar, .sidebar-loading, .sidebar__inner, .sidebar-loading__inner {
    background-color: #282828;
}

.sidebar-menu-item--active {
    background-color: #2d2e31;
}
.w-bg-primary {
    background-color: #262d38;
}

:root{
    --w-color-primary: #202630;
    --w-color-primary-200: #2d2e31;
}

select,input {
    max-width: 50vw
}

.w-field-row {
    gap:0
}