
.forecast-item {
    display: none;
}

.forecast-item figure {
    min-height: 500px;
    width: 100%;
}

.forecast-item figure img {
    height: 100%;
    width: 100%;
}


.social-btn {
    min-width: 150px !important;
    padding: 8px !important;
    margin: 20px 0 !important;
}


.active-forecast {
    display: block;
}

.forecast-product_type.active {
    color: #006799;
}

.forecast-product-detail .forecast-item.active-forecast {
    display: flex;
    flex-direction: column;
}

.forecast-product-detail .accordion-header:hover {
    position: static
}

.forecast-product-detail .accordion-header {
    padding: 10px;
    border-radius: 50px
}

.forecast-product-detail .accordion-header h3 {
    margin-top: 13px
}

.forecast-product-detail .accordion__item.active .accordion-header {
    background-color: #eff4f8;
    color: #006799
}

.forecast-product-detail .accordion__item.active .icon-change {
    filter: brightness(0) saturate(100%) invert(45%) sepia(100%) saturate(349%) hue-rotate(130deg) brightness(90%) contrast(96%)
}

.forecast-product-detail .accordion__item:hover .accordion-header {
    background-color: #eff4f8;
    color: #006799
}

.forecast-product-detail .accordion__item:hover .icon-change {
    filter: brightness(0) saturate(100%) invert(45%) sepia(100%) saturate(349%) hue-rotate(130deg) brightness(90%) contrast(96%)
}

.forecast-product-detail .accordion-body__contents {
    margin: 10px 0 0 73px
}

.forecast-product-detail .accordion-body__contents h4 {
    margin-top: 10px
}


.forecast-product-detail .accordion-body__contents h4:hover {
    color: #006799
}

.forecast-product-detail .accordion__item.js-accordion-item {
    padding: 5px 0
}

.forecast-detail .share-buttons {
    padding-top: 50px;
}


.latest-forecast-updates {
    background-color: #fff;
}


.latest-forecast-updates .results-filter .accordion-header.filter-item-header {
    background-color: #eff4f8;
}

.latest-forecast-updates .results-filter .accordion-header.filter-item-header:hover, .latest-forecast-updates .results-filter .accordion__item.active .filter-item-header {
    color: #006799;
}

.latest-forecast-updates .pagination a:hover, .latest-forecast-updates .pagination a.active {
    background-color: var(--primary-hover-color);
}

.forecast-production-detail .intro-detail {
    justify-content: center;
    padding-left: 30px;
}

.forecast-page .actions {
    justify-content: space-between;
    padding-top: 40px;
}

.forecast-production-detail {
    background-color: #f8f9fb;
}

.forecast-region-select {
    padding-bottom: 30px;
}

.forecast-region-select select:focus, .forecast-region-select select:active {
    border-color: #006799;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #006799;
}


/*1440px and lower*/
@media screen and (max-width: 1440px) {
    .forecast-item figure {
        min-height: 400px;
    }
}


/*1024px and lower*/
@media screen and (max-width: 1024px) {
}

/*768px and lower*/
@media screen and (max-width: 768px) {

    .forecast-production-detail .intro-detail {
        padding-left: 0;
    }

    .forecast-production-detail .intro-image {
        display: none;
    }


    .social-btn-title {
        display: none;
    }

    .social-btn {
        width: 70px !important;
        min-width: 120px !important;
    }
}








