/* override google translate css */
.goog-te-gadget {
    margin-top: 2px !important;
}

#google_language_translator {
    clear: both;
}


.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#google_language_translator a {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-gadget {
    font-size: 0px !important;
}

.goog-branding {
    display: none;
}

#google_language_translator {
    display: none;
}

.goog-te-banner-frame {
    visibility: hidden !important;
}

.skiptranslate {
    display: none !important;
}

#goog-gt-tt {
    display: none !important;
}