.search-result-item {
    border-bottom: 1px solid #d5d5d5;
    padding: 20px 0;
    margin-bottom: 10px
}

.search-result-item-header {
    padding: 20px 0
}

.search-result-item-desc {

}

.search-result-item-more {

}