/*Videos Inline*/
.video-items {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.video-item .card {
    border-radius: var(--border-radius) !important;
}


.video-item .card-image {
    background-color: #f8f9fb;
}

.video-item figure {
    height: 220px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: calc(var(--border-radius) / 2);;
    border-top-right-radius: calc(var(--border-radius) / 2);;
}

.video-item .card-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: left;
    padding: 0 28px 18px;
    position: relative;
}

.video-item .card-title {
    padding: 40px 0 20px;
    height: 100%;
}

.video-item .card-tag-float {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    padding: 8px;
    top: -18px;
    min-width: 100px;
    min-height: 30px;
    background-color: var(--primary-hover-color);
    color: #fff;
}

.video-item .card-video-stats {
    display: flex;
    justify-content: space-between;
}

.video-item .card-video-stats > span {
    font-size: 14px;
    color: #aaa;

}

.video-item .card-video-meta {
    padding: 50px 0 20px;
    display: flex;
    justify-content: space-between;
}
