{% load wagtailcore_tags wagtailimages_tags lazyimages_tags nmhs_cms_tags i18n wagtailiconchooser_tags %}

<div class="results-view">
    <div class="results-header">
        <h5 id="results" class="results-count results">
            {% blocktranslate count counter=projects.paginator.count trimmed %}
                Showing {{ counter }} result
            {% plural %}
                Showing {{ counter }} results
            {% endblocktranslate %}
        </h5>
        <div>
            <button id="list-view-button" class="project-filter view active" name="view" value="list">
                <span class="icon">
                         {% svg_icon name="table-list" %}
                     </span>
            </button>
            <button id="grid-view-button" class="project-filter view" name="view" value="grid">
                <span class="icon">
                        {% svg_icon name="grip" %}
                    </span>
            </button>
        </div>
    </div>
    <div class="results-list list-view">
        {% if projects %}
            {% for project in projects %}
                <div class="result-list-item">
                    <div class="result-list-item-wrapper">
                        <a href="{{ project.url }}" class="result-list-item-image">
                            <figure class="image">
                                {% if project.banner_image %}
                                    {% image project.banner_image original as proj_img %}
                                    <img class="progressive__img progressive--not-loaded"
                                         style="object-fit: cover"
                                         data-progressive="{{ proj_img.url }}"
                                         src="{% lazy_image_url proj_img %}" alt="{{ project.short_name }}"/>
                                {% endif %}
                            </figure>
                        </a>
                        <div class="result-list-item-detail" style="position: relative">
                            <div class="result-list-item-tag" style="justify-content: space-between">
                                {% if project.short_name %}
                                    <span class="result-list-item-tag-float">
                                        {{ project.short_name }}
                                    </span>
                                {% else %}
                                    <span class="result-list-item-tag-float">
                                    </span>
                                {% endif %}
                                {% if project.status %}
                                    <span class="project-progress">
                                        <span class="project-progress-status">{{ project.status }}</span>
                                        <span
                                                class="project-progress-bar"
                                                style="width: {{ project.progress }}%;
                                                        {% if project.status == "Complete" %}border-radius:20px;{% endif %} ">
                                        </span>
                                    </span>
                                {% endif %}
                            </div>
                            <a href="{{ project.url }}" class="result-list-item-title">
                                <h5>
                                    {{ project.full_name }}
                                </h5>
                            </a>
                            <div class="result-list-item-snippet">
                                {% if project.listing_summary %}
                                    {{ project.listing_summary }}
                                {% endif %}
                            </div>
                            <div class="result-list-item-meta">
                                <span class="">{{ project.period }}</span>
                                <a class="result-list-item-more read" href="{{ project.url }}">
                                    {% translate "Read More" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            {% include "empty_state_include.html" %}
        {% endif %}

    </div>
    {% include 'pagination_include.html' with items=projects %}
</div>
