{% extends 'base.html' %}

{% load static wagtailcore_tags wagtailimages_tags lazyimages_tags wagtailiconchooser_tags i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cap/css/cap_list_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <main>
        {% include "breadcrumbs_include.html" %}
        <section>
            <div class="container">
                {% if page.heading %}
                    <div style="margin-bottom: 50px">
                        <h2 class="section-title" style="padding-bottom: 0">{{ page.heading }}</h2>
                        {% if  cap_rss_feed_url %}
                            <div class="rss-feed" style="">
                                <a href="{{ cap_rss_feed_url }}">
                                    <span style="margin-right: 4px">CAP RSS</span>
                                    <img src="{% static 'img/CAPLogo.jpeg' %}" alt="CAP Alerts"
                                         style="height: 18px;width: 18px;border-radius:4px">
                                </a>
                            </div>
                        {% endif %}

                    </div>
                {% endif %}

                <div class="columns is-multiline is-mobile">
                    <div class="column is-three-fifths-desktop is-full-touch alerts-list">
                        {% for alert_info in page.cap_alerts %}
                            <a href="{{ alert_info.url }}" class="alert-link">
                                <div class="alert-item"
                                     data-severity="{{ alert_info.severity.severity }}"
                                     data-event="{{ alert_info.info.value.event }}"
                                     style="background-color: {{ alert_info.severity.background_color }};border: 1px solid {{ alert_info.severity.border_color }}">
                                    <div class="alert-item-left">
                                        <div class="alert-item-icon">
                                            <div class="alert-icon-wrapper"
                                                 style="background-color: {{ alert_info.severity.color }};border-color: {{ alert_info.severity.border_color }};
                                                         {% if alert_info.severity.icon_color %}color:{{ alert_info.severity.icon_color }};{% endif %} ">
                                                {% if alert_info.event_icon %}
                                                    {% svg_icon name=alert_info.event_icon %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="alert-item-info">
                                            <div class="alert-item-title">
                                                {{ alert_info.status }}: {{ alert_info.event }}
                                            </div>
                                            <div class="alert-severity-label">
                                                {{ alert_info.severity.label }}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="icon">
                                            <i class="fa fa-arrow-right"></i>
                                        </span>
                                    </div>
                                </div>

                            </a>
                        {% endfor %}
                    </div>
                    <div class="column is-offset-1-desktop is-one-fifth-widescreen is-full-touch is-hidden-touch">
                        {% if page.filters.severity %}
                            <div class="alert-category-filter">
                                <div class="w-field__wrapper " data-field-wrapper="">
                                    <label class="w-field__label" for="" id="-label"
                                           style="font-weight: 600;">
                                        {% translate "Severity" %}
                                    </label>
                                    {% for key,value in page.filters.severity.items %}
                                        <div class="w-field w-field--multiple_choice_field w-field--checkbox_select_multiple"
                                             data-field="" data-contentpath="multiple_checkbox"
                                             style="padding-top: 10px">
                                            <div class="w-field__input" data-field-input="">
                                                <div id="id_severity">
                                                    <div>
                                                        <label for="id_severity_{{ key }}">
                                                            <input type="checkbox" name="severity" value="{{ key }}"
                                                                   id="id_severity_{{ key }}">
                                                            {{ value.label }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if page.filters.event_types %}
                            <div class="alert-category-filter">
                                <div class="w-field__wrapper " data-field-wrapper="">
                                    <label class="w-field__label" for="" id="-label"
                                           style="font-weight: 600;">
                                        {% translate "Event type" %}
                                    </label>
                                    {% for key,value in page.filters.event_types.items %}
                                        <div class="w-field w-field--multiple_choice_field w-field--checkbox_select_multiple"
                                             data-field="" data-contentpath="multiple_checkbox"
                                             style="padding-top: 10px">
                                            <div class="w-field__input" data-field-input="">
                                                <div id="id_event">
                                                    <div>
                                                        <label for="id_event_{{ key }}">
                                                            <input type="checkbox" name="event" value="{{ key }}"
                                                                   id="id_event_{{ key }}">
                                                            {{ value.label }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}

{% block extra_js %}

    <script>


        $(document).ready(function () {

                $('input[name="severity"]').change(function () {
                    filterAlerts()
                });


                $('input[name="event"]').change(function () {
                    filterAlerts()
                });


                function filterAlerts() {
                    const checkedSeverity = getFilterValues("severity");
                    const checkedEventTypes = getFilterValues("event");

                    $(".alert-item").filter(function () {
                        const severity = $(this).data("severity")
                        const eventType = $(this).data("event")

                        let bySeverity
                        let byEventType

                        if (checkedSeverity && !!checkedSeverity.length) {
                            bySeverity = checkedSeverity.includes(severity)
                        } else {
                            bySeverity = true
                        }

                        if (checkedEventTypes && !!checkedEventTypes.length) {
                            byEventType = checkedEventTypes.includes(eventType)
                        } else {
                            byEventType = true
                        }

                        if (byEventType && bySeverity) {
                            $(this).show()
                        } else {
                            $(this).hide()
                        }

                    });

                }

                function getFilterValues(name) {
                    const input = `input[name='${name}']:checked`
                    const checkedCheckboxes = $(input);
                    const checkedValues = [];

                    // Iterate through the checked checkboxes and push their values to the array
                    checkedCheckboxes.each(function () {
                        checkedValues.push($(this).val());
                    });

                    return checkedValues

                }


            }
        )


    </script>

{% endblock extra_js %}