{% extends 'base.html' %}

{% load static wagtailcore_tags wagtailimages_tags lazyimages_tags wagtailiconchooser_tags %}

{% block extra_css %}
    <link href="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'cap/css/cap_detail_page.css' %}">

    <style>
        .cap-share-wrapper .cap-share-item {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            background: white;
            border-radius: 0.2em;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 10px;
        }

        .cap-share-icon svg {
            border-bottom-left-radius: 0.1em;
            border-top-left-radius: 0.1em;
        }

        .cap-share-link a {
            font-size: 14px;
            font-weight: 600
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <main>
        {% include "breadcrumbs_include.html" %}
        <section>
            <div class="container">
                <div class="cap-header">
                    <h2 class="title">
                        {{ page.title }}
                    </h2>
                    <div class="cap-share-wrapper">
                        <div class="share-buttons">
                            <a class="button is-small is-rounded"
                               href="{{ page.xml_link }}"
                               target="_blank" rel="noreferrer noopener"
                            >
                                <span class="icon">
                                    {% svg_icon name="cap-alert" %}
                                </span>
                                <span class="share-button-title">CAP XML </span>
                            </a>
                            {% include 'social_media_share_buttons_include.html' with url=page.url text=page.title %}
                        </div>
                    </div>
                    <div class="cap-body">
                        <div class="columns is-multiline " style="align-items: flex-start;">
                            <div class="column is-two-fifths-widescreen is-full-touch">
                                <div class="cap-map-wrapper">
                                    <div id="cap-map"></div>
                                    <div class="map-legend">
                                        <div>Alert Severity:</div>
                                        <div class="legend-items">
                                            <div class="legend-item">
                                                <div class="legend-color"
                                                     style="background-color: rgb(215, 47, 42);"></div>
                                                <div class="legend-label">Extreme</div>
                                            </div>
                                            <div class="legend-item">
                                                <div class="legend-color"
                                                     style="background-color: rgb(254, 153, 0);"></div>
                                                <div class="legend-label">Severe</div>
                                            </div>
                                            <div class="legend-item">
                                                <div class="legend-color"
                                                     style="background-color: rgb(255, 255, 0);"></div>
                                                <div class="legend-label">Moderate</div>
                                            </div>
                                            <div class="legend-item">
                                                <div class="legend-color"
                                                     style="background-color: rgb(3, 255, 255);"></div>
                                                <div class="legend-label">Minor</div>
                                            </div>
                                            <div class="legend-item">
                                                <div class="legend-color"
                                                     style="background-color: rgb(51, 102, 255);"></div>
                                                <div class="legend-label">Unknown</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-three-fifths-widescreen is-full-touch featured-item-detail">
                                <div class="tabs">
                                    <ul>
                                        {% if page.infos|length > 0 %}
                                            {% for item in page.infos %}
                                                <li class="{% if forloop.first %}is-active {% endif %}"
                                                    data-target="{{ item.info.value.event }}">
                                                    <a>{{ item.info.value.event |truncatechars:20}}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                                <div id="tab-content">
                                    {% for alert_info in page.infos %}
                                        <div class="featured-item-body {% if not forloop.first %}is-hidden{% endif %}"
                                             id="{{ item.value.headline }}">
                                            {% with item=alert_info.info %}
                                                <h3 class="featured-item-title">
                                                    {% if item.value.headline %}
                                                        {{ item.value.headline }}
                                                    {% else %}
                                                        {{ page.title }}
                                                    {% endif %}
                                                </h3>
                                                {% if item %}
                                                    <div class="cap-event">
                                                        <div class="alert-item"
                                                             style="background-color: {{ alert_info.severity.background_color }};border: 1px solid {{ alert_info.severity.border_color }}">
                                                            <div class="alert-item-icon">
                                                                <div class="alert-icon-wrapper"
                                                                     style="background-color: {{ alert_info.severity.color }};border-color: {{ alert_info.severity.border_color }};
                                                                             {% if alert_info.severity.icon_color %}color:{{ alert_info.severity.icon_color }};{% endif %} ">
                                                                    {% if alert_info.event_icon %}
                                                                        {% svg_icon name=alert_info.event_icon %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="alert-item-info">
                                                                <div class="alert-item-title">
                                                                    {{ alert_info.status }}: {{ alert_info.event }}
                                                                </div>
                                                                <div class="alert-severity-label">
                                                                    {{ alert_info.severity.label }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="info-item">
                                                        <div class="info-detail">
                                                            <div class="cap-info-summary-item">
                                                                <div class="cap-info-summary-icon">
                                                                    {% svg_icon name="time" %}
                                                                </div>
                                                                <div class="cap-info-summary-type">Urgency:</div>
                                                                <div class="cap-info-summary-value">{{ item.value.urgency }}</div>
                                                            </div>
                                                            <div class="cap-info-summary-item">
                                                                <div class="cap-info-summary-icon">
                                                                    {% svg_icon name="warning" %}
                                                                </div>
                                                                <div class="cap-info-summary-type">Severity:</div>
                                                                <div class="cap-info-summary-value">{{ item.value.severity }}</div>
                                                            </div>
                                                            <div class="cap-info-summary-item">
                                                                <div class="cap-info-summary-icon">
                                                                    {% svg_icon name="crosshairs" %}
                                                                </div>
                                                                <div class="cap-info-summary-type">Certainty:</div>
                                                                <div class="cap-info-summary-value">{{ item.value.certainty }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="info-item">
                                                    <div class="info-header">
                                                        Time period
                                                    </div>
                                                    <div class="info-detail">
                                                        <div class="cap-time-wrapper">
                                                            <ul class="warning-timeline">
                                                                <li class="warning-timeline__item">
                                                                    <div class="warning-timeline__circle"></div>
                                                                    <div>
                                                                        <span class="time-type">Issued: </span>
                                                                        <span>{{ page.sent }}</span>
                                                                    </div>
                                                                </li>
                                                                <li class="warning-timeline__item">
                                                                    <div class="warning-timeline__circle"></div>
                                                                    <div>
                                                                        <span class="time-type">Effective: </span>
                                                                        <span>
                                                                            {% if  item.value.effective %}
                                                                                {{ item.value.effective }}
                                                                            {% else %}
                                                                                {{ page.sent }}
                                                                            {% endif %}
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                {% if item.value.onset %}
                                                                    <li class="warning-timeline__item">
                                                                        <div class="warning-timeline__circle"></div>
                                                                        <div>
                                                                            <span class="time-type">Onset: </span>
                                                                            <span>{{ item.value.onset }}</span></div>
                                                                    </li>
                                                                {% endif %}
                                                                <li class="warning-timeline__item">
                                                                    <div class="warning-timeline__circle"></div>
                                                                    <div>
                                                                        <span class="time-type">Expires: </span>
                                                                        <span>{{ item.value.expires }}</span>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="info-item">
                                                    <div class="info-header">
                                                        Area
                                                    </div>
                                                    <div class="info-detail">
                                                        {% for area in item.value.area %}
                                                            <p>
                                                                {{ area.value.areaDesc }}
                                                            </p>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div class="info-item">
                                                    <div class="info-header">
                                                        Event Description
                                                    </div>
                                                    <div class="info-detail">
                                                        <p>
                                                            {{ item.value.description }}
                                                        </p>
                                                    </div>
                                                </div>
                                                {% if  item.value.instruction %}
                                                    <div class="info-item">
                                                        <div class="info-header">
                                                            Instructions
                                                        </div>
                                                        <div class="info-detail">
                                                            {{ item.value.instruction }}
                                                        </div>
                                                    </div>
                                                {% endif %}


                                            {% endwith %}


                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>

{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>
    <script>

        const tabs = document.querySelectorAll('.tabs li')
        const tabContentBoxes = document.querySelectorAll('#tab-content > div')

        tabs.forEach((tab) => {
            tab.addEventListener('click', () => {
                tabs.forEach(item => item.classList.remove('is-active'))

                tab.classList.add('is-active')

                const target = tab.dataset.target;
                tabContentBoxes.forEach(box => {
                    if (box.getAttribute('id') === target) {
                        box.classList.remove('is-hidden')
                    } else {
                        box.classList.add('is-hidden')

                    }
                })
            })
        })
        // alert area as geojson
        const geojson = {{ page.geojson|safe }};
        // alert area bounds
        const bounds = {{ page.bounds|safe }};

        // default MapLibre style
        const defaultStyle = {
            'version': 8,
            'sources': {
                'carto-dark': {
                    'type': 'raster',
                    'tiles': [
                        "https://a.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                        "https://b.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                        "https://c.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png",
                        "https://d.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png"
                    ]
                },
                'carto-light': {
                    'type': 'raster',
                    'tiles': [
                        "https://a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                        "https://b.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                        "https://c.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png",
                        "https://d.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png"
                    ]
                },
                'wikimedia': {
                    'type': 'raster',
                    'tiles': [
                        "https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png"
                    ]
                }
            },
            'layers': [{
                'id': 'carto-light-layer',
                'source': 'carto-light',


                'type': 'raster',
                'minzoom': 0,
                'maxzoom': 22
            }]
        }

        const detail_map = new maplibregl.Map({
            container: "cap-map", // container ID
            style: defaultStyle,
            center: [30.019531249998607, 16.130262012034265], // starting position [lng, lat]
            zoom: 4.2, // starting zoom
            scrollZoom: false,
        });

        // add zoom control
        detail_map.addControl(
            new maplibregl.NavigationControl({
                visualizePitch: true,
                showZoom: true,
                showCompass: true,
            })
        );

        detail_map.on("load", () => {
            detail_map.addSource("alert-areas", {
                type: "geojson",
                data: geojson,
            });

            detail_map.addLayer({
                id: "alert-areas-layer",
                type: "fill",
                source: "alert-areas",
                paint: {
                    "fill-color": [
                        "case",
                        ["==", ["get", "severity"], "Extreme"],
                        "#d72f2a",
                        ["==", ["get", "severity"], "Severe"],
                        "#f89904",
                        ["==", ["get", "severity"], "Moderate"],
                        "#e4e616",
                        ["==", ["get", "severity"], "Minor"],
                        "#53ffff",
                        ["==", ["get", "severity"], "Unknown"],
                        "#3366ff",
                        "black",
                    ],
                    "fill-opacity": 0.7,
                    "fill-outline-color": "#000",

                },
            });
            // fit to bounds
            if (bounds) {
                const bbox = [[bounds[0], bounds[1]], [bounds[2], bounds[3]]]
                detail_map.fitBounds(bbox, {padding: 20})
            }
            // When a click event occurs on a feature in the places layer, open a popup at the
            // location of the feature, with description HTML from its properties.
            detail_map.on("click", "alert-areas-layer", (e) => {
                // Copy coordinates array.
                const description = e.features[0].properties.areaDesc;

                new maplibregl.Popup()
                    .setLngLat(e.lngLat)
                    .setHTML(`<h4>${description}</h4>`)
                    .addTo(detail_map);
            });

            // Change the cursor to a pointer when the mouse is over the places layer.
            detail_map.on("mouseenter", "alert-areas-layer", () => {
                detail_map.getCanvas().style.cursor = "pointer";
            });

            // Change it back to a pointer when it leaves.
            detail_map.on("mouseleave", "alert-areas-layer", () => {
                detail_map.getCanvas().style.cursor = "";
            });
        });


    </script>


{% endblock extra_js %}