{% load static i18n wagtailiconchooser_tags %}

<div class="results-filter">
    <div class="accordion js-accordion" id="products-filter-accordion">
        {% if filters.year %}
            <div class="accordion__item js-accordion-item active">
                <h6 class="accordion-header js-accordion-header filter-item-header">
                    <span>
                        {% translate "Filter by Year" %}
                    </span>
                    <span class="icon">
                          {% svg_icon name="arrow-down" %}
                      </span>
                </h6>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        {% for date in filters.year reversed %}
                            <label class="checkbox-container" for="{{ date.year }}">
                                <span class="filter-sub-item">{{ date.year }}</span>
                                <input type="checkbox" id="{{ date.year }}" name="year" value="{{ date.year }}"
                                       class="product-filter year">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if filters.month %}
            <div class="accordion__item js-accordion-item active">
                <h6 class="accordion-header js-accordion-header filter-item-header">
                    <span>
                        {% translate "Filter by Month" %}
                    </span>
                    <span class="icon">
                        {% svg_icon name="arrow-down" %}
                    </span>
                </h6>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        {% for month_num, month_name in filters.month.items %}
                            <label class="checkbox-container" for="{{ month_name }}">
                                <span class="filter-sub-item">{{ month_name }}</span>
                                <input type="checkbox" id="{{ month_name }}" name="month" value="{{ month_num }}"
                                       class="product-filter month">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                new Accordion("products-filter-accordion");
            });
        </script>
    </div>
</div>
