{% extends 'base.html' %}
{% load static wagtailiconchooser_tags i18n wagtailcore_tags %}

{% block extra_css %}
    {% if page.map_layers %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/maplibre-gl.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ion.rangeSlider.min.css' %}">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block body_class %}product-page{% endblock %}

{% block content %}
    <main class="is-index">
        {% if page.introduction_image %}
            <section class="nmhs-work is-desktop">
                <div class="work container">
                    {% include 'service_introduction.html' with page=page what_we_do=False %}
                </div>
            </section>
        {% else %}
            <section>
                <div class="work container">
                    <h2 class="section-subheader">
                        {{ page.introduction_title }}
                    </h2>
                    <div class="intro-description format-text">
                        {{ page.introduction_text|richtext }}
                    </div>
                </div>
            </section>
        {% endif %}
        <section class="listing-section">
            <div>
                <div id="browse" class="content-tab">
                    <h2 id="results"
                        class="section-title has-text-centered">
                        {% translate "Browse Product Updates" %}
                    </h2>
                    <div class="container">
                        <div class="columns" style="width: 100%;margin: 0">
                            <div class="column is-3 is-full-mobile">
                                {% include 'products/product_filter_include.html' with filters=page.filters %}
                            </div>
                            <div class="column is-9 is-full-mobile">
                                {% include 'products/product_list_include.html' with products=products %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function () {

            const $tabs = $(".tabs li");

            $tabs.click(function () {
                const $this = $(this);
                const contentTarget = $this.data("content");
                // remove active class from all tabs
                $tabs.removeClass("is-active");

                // add active class to target tab
                $this.addClass("is-active");

                const $contentTabs = $(".content-tab")

                // hide all content tabs
                $contentTabs.each(function () {
                    $(this).hide()
                })

                // find content target and show it
                $("#" + contentTarget).show();


                if (typeof (map) !== 'undefined') {
                    map.resize()

                    if (countryBounds) {
                        map.fitBounds(countryBounds, {padding: 20})
                    }


                }
            })

            // If on smaller screens, collapse all filter items
            const windowWidth = $(window).width();

            if (windowWidth <= 768) {
                //for  smaller devices
                $('.results-filter .js-accordion-item').removeClass('active');
            }


            const listButton = $("#list-view-button");
            const gridButton = $("#grid-view-button");
            const wrapper = $(".results-list");
            const resultItem = $(".result-list-item");


            const params = getParams(window.location.href);

            // mark checkboxes from params url, on load
            markCheckboxesFromUrlParams('product-filter', params, function (params) {
                if (params && params.view) {
                    if (params.view === 'grid') {
                        listButton.removeClass("active");
                        gridButton.addClass("active");
                        wrapper.removeClass("list-view").addClass("grid-view columns is-mobile is-multiline");
                        resultItem.addClass("column is-one-third-desktop is-full-mobile");
                    } else {
                        gridButton.removeClass("active");
                        listButton.addClass("active");
                        wrapper.removeClass("grid-view columns is-mobile is-multiline").addClass("list-view");
                        resultItem.removeClass("column is-one-third-desktop is-full-mobile");
                    }
                }
            });

            const baseUrl = "{{ page.url }}";

            filterChangeListener('product-filter', params, function (clickedEl, url_params) {
                window.location.href = `${baseUrl}?${url_params}#results`;
            });
        });
    </script>

{% endblock %}