{% load  i18n%}

<div class="container">

    <div class="report-header has-text-centered"> 
        <h3 class="title">{% trans 'Synoptic hours' %}</h3>
        <p id="synop-summary-text"></p>

             <div class="columns my-4 is-justify-content-center">
                <div class="column is-one-third">
                    <div class="field">
                            <div class="control is-expanded my-5 report-element-selectors">
                                <input type="date" class="date-selector py-3" id="synop-date" value='{{ latest_date|date:"Y-m-d" }}'>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="columns report-charts my-4">
        <div class="column is-one-third">
            <figure class="transmissions-figure" style="">
                <div id="daily-graph">
                </div>
            </figure>
        </div>
        <div class="column is-one-third">
            <figure class="transmissions-figure" style="">
            <div id="monthly-graph">
            </div>
        </figure>
        </div>
        <div class="column is-one-third">
            <figure class="transmissions-figure" style="">
                <div id="yearly-graph">
                </div>
            </figure>
        </div>
    </div>
    <div class="columns is-justify-content-center">
        <div class="column is-10">
            {% include "wdqms/color_scale_include.html" %}

        </div>
    <div>
</div>

