{% extends 'base.html' %}
{% load static wagtailcore_tags bulma_tags nmhs_cms_tags i18n %}

{% block body_class %}feedback_page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'feedback/css/feedback.css' %}">
{% endblock %}

{% block content %}
    <section style="padding:8em 0">
        <div class="container">
            <div class="columns is-centered feedback-columns">
                <div class="column is-5-desktop is-full-mobile">
                    <h1 class="title" style="font-weight:600; font-size:40px">{{ page.introduction_title }}</h1>
                    <p>
                        {% translate "Get in touch with us and we will get back to you as soon as we can" %}.
                    </p>

                    <figure class="image">
                        {% if page.illustration %}
                            {% svg page.illustration.file.name %}
                        {% endif %}
                    </figure>
                </div>
                <div class="column is-half-desktop is-offset-1-desktop is-full-mobile feedback-form box">
                    {% if form.fields %}
                        <form action="{% pageurl page %}" method="POST">
                            {% csrf_token %}
                            {{ form|bulma }}
                            <div class="field">
                                <button type="submit"
                                        class="button feedback-submit-button submit-button has-no-border">
                                    {% translate "Submit" %}
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


