include README.md
recursive-include geomanager *.py
recursive-include geomanager *.html
recursive-include geomanager/samples *
recursive-include geomanager/static *
recursive-include geomanager/templates *
recursive-include geomanager/locale *.po *.mo