.introduction-section {
    background-color: #f8f9fb;
}


.partners-list {

}

.partner-item {
    width: 100%;
}

.partner-item .partner-img-wrapper {
    width: 100%;
    background-color: rgb(251, 251, 251);
}

.partner-item .partner-img-wrapper figure {
    padding: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-img-wrapper img {
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    cursor: pointer;
}

.partner-img-wrapper img:hover {
    filter: none;
}


.partners-cta-section {
    background-color: #f8f9fb;
}

.cta-btn {
    background-color: transparent !important;
}