.category-btn{
    background-color: #f5f5f5;
    border-color: transparent;
    color: rgba(0,0,0,.7);
}

.category-btn.active{
    background-color: #3488ce;
    border-color: transparent;
    color: #fff;
}

.stop-label {
    position: absolute;
    top: 1.5em;
    transform: translateY(-50%);
    font-size: 12px;
  }

  :root {
    --stops: 7;
    /* Define the number of color stops */
  }

  .stop-label:nth-child(n+1) {
    left: calc((100% / var(--stops)) * (n - 1));
  }

  .stop-label:last-child {
    right: 0;
  }

  .layer-list .layer-item {
    border-radius: 2em;
    padding: 0.5em 1em;
    font-size: 14px;
    background-color: rgba(73, 73, 73, 0.8);
    color: white;
    font-weight: 400;


  }

  .layer-list .layer-list-block.active .layer-item{
    background-color: #3488ce;
    font-weight: 600;
  }

  .layer-list .layer-list-block.active .layer-icon svg{
    background-color: #3488ce;
  }

  .layer-list .layer-list-block .layer-icon svg path{
    fill: currentColor !important
  }

  .navbar-item svg path{
    fill: currentColor !important

  }

  

  .layer-list .layer-item {
    cursor: pointer;
  }

  .legend-panel {
    position: absolute;
    top: 1.0em;
    right: 0.5em;
    z-index: 1;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    height: auto
  }



  .layer-panel {
    position: absolute;
    top: 1.0em;
    left: 0.5em;
    z-index: 1;

    padding: 10px;
    border-radius: 5px;
    text-align: left;
    height: auto
  }

  .layer-panel .layer-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }


  .layer-icon svg {
    margin-right: 0.5em;
    height: 30px;
    width: 30px;
    background-color: rgba(73, 73, 73, 0.8);
    padding: 5px;
    max-height: 30px;
    border-radius:100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
