
.home-updates .update-item .card-image figure {
    height: 160px;
}

.home-updates .update-item .card-tag {
    color: #226296
}

.media-content {
    float: right
}

.media-content p {
    color: #484848
}

.media-item a {
    color: #484848
}

.media-item .columns {
    margin-top: 20px;
    margin-bottom: 0px
}

.media-item:hover {
    cursor: pointer
}

.media-item:hover a {
    color: #a3a3a3
}

.media-item hr {
    margin: 12px 0px;
    background: #d5d5d5;
    height: 1px
}

.home .post-sub {
    color: #aaa
}

.home .post-sub a {
    color: #aaa
}


.offers {
    margin-top: -10px
}

.more-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px .75rem;
}

.home .column.is-one-half.has-text-left {
    padding-left: 100px
}

/* 1605px and lower*/
@media screen and (max-width: 1605px) {
    .home .work .notification {
        min-height: 220px
    }

    .home section.updates {
        padding-bottom: 60px
    }

}

/*1440px and lower*/
@media screen and (max-width: 1440px) {

    .testimonial-container figure {
        height: 300px;
        width: 100%;
    }


    .home .icpac-work .notification {
        min-height: 200px
    }

    .home .column.is-one-half.has-text-left {
        padding-left: 85px
    }

    #testimonials .box {
        padding: 20px 30px
    }

    .home section.updates {
        padding-bottom: 60px
    }

    #users {
        height: 822px
    }

}

/*1366px and lower*/
@media screen and (max-width: 1366px) {
    .home .column.is-one-half.has-text-left {
        padding-left: 80px
    }

    #users .box {
        padding: 20px 30px
    }

    #testimonials .box {
        margin: 0
    }
}


/*1280px and lower*/
@media screen and (max-width: 1280px) {
    .home .column.is-one-half.has-text-left {
        padding-left: 70px
    }


    #users .column.is-one-quarter,
    #users .column.is-one-quarter-tablet {
        width: 26% !important
    }

}

/*1024px and lower*/
@media screen and (max-width: 1024px) {
    .home .column.is-one-half.has-text-left {
        padding-left: 65px
    }

    .home .icpac-work .container {
        max-width: 100%
    }

    #users .column.is-one-quarter,
    #users .column.is-one-quarter-tablet {
        width: 26% !important
    }

    #testimonials li {
        padding: 0
    }

    #users .box {
        padding: 20px 30px
    }

    #users .box p {
        font-size: 11px
    }
}


/*768px and lower*/
@media screen and (max-width: 768px) {

    .home-products-image {
        height: 200px;
    }

    .home-updates .update-item .card-image figure {
        height: 140px;
    }

    .home .column.is-one-half.has-text-left {
        padding-left: 20px;
    }


    .home-events {
        padding-left: 0.75rem;
    }


    .testimonials-body {
        flex-direction: column-reverse;
    }

    .testimonial-company-logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }


}


.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.service-icon-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.service-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.service-icon-bg-img {
    height: 100%;
    width: 100%;
}

.service-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0
}

.service-icon > svg {
    height: 100%;
    width: 100%;
    color: grey;
}

/* .is-index section:nth-child(even ) {
    background-color: #f8f9fb !important;
}

.is-index section:nth-child(odd ) {
    background-color: #fff !important;
} */