{% load static %}

<div class="results-filter">
    <div class="accordion js-accordion">
        <div class="accordion__item js-accordion-item active">
            <h6 class="accordion-header js-accordion-header filter-item-header">
                <span> Filter terms by </span>
                <i class="fas fa-sort-down" aria-hidden="true"></i>
            </h6>
            <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <label class="checkbox-container" for="local">
                        <span class="filter-sub-item">Has local description</span>
                        <input type="checkbox" id="local"
                               name="local"
                               value="local"
                               class="glossary-filter local"
                        >
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
