{% extends 'base.html' %}
{% load wagtailcore_tags bulma_tags i18n wagtailiconchooser_tags %}

{% block page_meta %}
    {{ block.super }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block content %}
    {% include 'hero.html' %}
    <main>
        <section>
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half-desktop is-full-mobile">
                        <h2 class="section-subheader" style="padding-bottom: 20px">{{ page.title }}</h2>
                        {% if page.additional_information %}
                            <p style="padding-bottom: 20px">{{ page.additional_information }}</p>
                        {% endif %}
                        {% if messages %}
                            <ul class="messages" style="padding-bottom: 40px">
                                {% for message in messages %}
                                    <li class="message is-{% if message.tags == 'error' %}danger{% else %}info{% endif %}">
                                        <div class="message-header">
                                            <button class="delete" aria-label="delete"></button>
                                        </div>
                                        <div class="message-body">
                                            {{ message }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="form-column">
                            {% if not page.event.is_ended and page.event.registration_open %}
                                <form action="{% pageurl page %}" method="POST">
                                    {% csrf_token %}
                                    {{ form|bulma }}
                                    <div class="field">
                                        <button type="submit" class="submit-button button">
                                            {% translate "Submit" %}
                                        </button>
                                    </div>
                                </form>
                            {% elif page.event.is_ended %}
                                <h5 style="color: red;display: flex">
                                    <span class="icon event-meta-item-icon" style="margin-right: 8px">
                                        {% svg_icon name="warning" %}
                                    </span>
                                    {{ page.event.event_type.event_type }} {% translate "ended" %}.
                                </h5>
                            {% elif not page.event.registration_open %}
                                <h5 style="color: red;display: flex">
                                    <span class="icon event-meta-item-icon" style="margin-right: 8px">
                                        {% svg_icon name="warning" %}
                                    </span>
                                    {% translate "Registration closed" %}.
                                </h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}