{% load i18n wagtailiconchooser_tags get_share_url %}


<div class="event-detail-meta" style="margin-top: 20px">
    {% if page.is_ended %}
        <div class="event-meta-item">
            <div class="event-meta-item-pre">
                <span class="event-meta-item-icon">
                    <i class="fas fa-archive" style="color: #de2828"></i>
                </span>
                <div class="event-meta-item-title" style="color: #de2828 ;font-weight: bold">
                    {% translate "Ended" %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="event-meta-item">
        <div class="event-meta-item-pre">
            <span class="event-meta-item-icon">
                {% if page.event_type.icon %}
                    {% svg_icon page.event_type.icon %}
                {% else %}
                    <i class="fas fa-user-tag"></i>
                {% endif %}
            </span>
            <div class="event-meta-item-title">
                <span class="">
                    {% translate "Type" %}:
                </span>
                {{ page.event_type.event_type }}
            </div>
        </div>
    </div>
    <div class="event-meta-item">
        <div class="event-meta-item-pre">
            <span class="event-meta-item-icon">
                <i class="fas fa-map-marker-alt"></i>
            </span>
            <div class="event-meta-item-title">
                <span>
                    {% translate "Location" %}:
                </span>
                {{ page.location }}
            </div>

        </div>
    </div>
    <div class="event-meta-item">
        <div class="event-meta-item-pre">
            <span class="event-meta-item-icon">
                <i class="fas fa-clock"></i>
            </span>
            <div class="event-meta-item-title">
                <span>
                    {% translate "Start Date" %}:
                </span>
                {% blocktranslate with start_date=page.date_from|date:"d M, Y h:i A" trimmed %}
                    {{ start_date }}
                {% endblocktranslate %}
            </div>

        </div>
    </div>
    {% if page.date_to %}
        <div class="event-meta-item">
            <div class="event-meta-item-pre">
                <span class="event-meta-item-icon">
                    <i class="fas fa-clock"></i>
                </span>
                <div class="event-meta-item-title">
                    <span>
                        {% translate "End Date" %}:
                    </span>
                    {% blocktranslate with end_date=page.date_to|date:"d M, Y h:i A" trimmed %}
                        {{ end_date }}
                    {% endblocktranslate %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="event-meta-item">
        <div class="event-meta-item-pre">
            <span class="event-meta-item-icon">
                <i class="fas fa-clock"></i>
            </span>
            <div class="event-meta-item-title">
                <span>
                    {% translate "Timezone" %}:
                </span>
                {{ page.tz_gmt_offset }}
            </div>
        </div>
    </div>
    {% if page.cost %}
        <div class="event-meta-item">
            <div class="event-meta-item-pre">
                <span class="event-meta-item-icon">
                    <i class="fas fa-wallet"></i>
                </span>
                <div class="event-meta-item-title">
                    <span>
                        {% translate "Cost" %}:
                    </span>
                    {{ page.cost }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if not page.is_ended and page.registration_page and not page.registration_open %}
        <div class="event-meta-item">
            <div class="event-meta-item-pre">
                <span class="event-meta-item-icon">
                    <i class="fas fa-times-circle"></i>
                </span>
                <div class="event-meta-item-title">
                    {% translate "Registration closed" %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if page.registration_open and not page.is_ended and page.registration_page and not page.registration_page.live %}
        <div class="event-meta-item">
            <div class="event-meta-item-pre">
                <span class="event-meta-item-icon">
                    <i class="fas fa-hourglass-half"></i>
                </span>
                <div class="event-meta-item-title">
                    {% translate "Registration will be open soon" %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if page.registration_open and not page.is_ended %}
        {% if page.registration_page and page.registration_page.live %}
            <div class="registration-button">
                <a href="{{ page.registration_page.url }}"
                   data-ga-action="click"
                   data-ga-event-category="Event Registration"
                   data-ga-event-label="{{ page.title }}"
                   data-ga-value="{{ page.registration_page.url }}"
                   class="button is-medium is-fullwidth">
                    {% translate "Register" %}
                </a>
            </div>
        {% elif page.zoom_events_id and page.zoom_events_url %}
            <div class="registration-button">
                <a href="{{ page.zoom_events_url }}"
                   target="_blank"
                   rel="noopener"
                   data-ga-action="click"
                   data-ga-event-category="Zoom Event Registration"
                   data-ga-event-label="{{ page.title }}"
                   data-ga-value="{{ page.zoom_events_url }}"
                   class="button is-medium is-fullwidth">
                    {% translate "Register on Zoom" %}
                </a>
            </div>
        {% endif %}
    {% endif %}

    <div class="share-buttons" style="margin-top: 20px">
        {% share_buttons url=page.get_full_url text=page.title %}
    </div>


</div>