{% extends 'base.html' %}
{% load i18n wagtailadmin_tags static wagtailimages_tags %}
{% block title %}{% translate "Forecasts" %}{% endblock %}

{% block extra_css %}
    <style>
        .featured-item-block {
            display: flex;
            justify-content: center;
            background-color: #fff;
            padding: 60px 0;
            margin: 0;
            border-radius: var(--border-radius);
            align-items: center;
        }

        .featured-item-image figure {
            height: 400px;
            width: 100%;
        }

        .featured-item-image figure img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: var(--border-radius);
        }

        .featured-item-detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
        }

        .featured-item-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .featured-item-header-tag {
            font-size: 14px;
            font-weight: bold;
            color: grey;

        }

        .featured-item-readmore a {
            font-weight: bold;
        }


        .share-buttons {
            display: flex;
            overflow: hidden;
        }

        .share-buttons > a {
            margin-right: 20px;
            display: flex;
            justify-content: center;
            background-color: #eff4f8;
            color: #006799;
            border: none;
            font-weight: bold;
        }

        .share-buttons > a:hover {
            background-color: #e5eeee;
            color: var(--primary-hover-color);
        }

        .section-title {
            color: #262c38;
            font-weight: 700;
            padding: 0 0 50px 0;
        }

        .section-title.has-subtitle {
            padding-bottom: 30px
        }

        /* 1605px and lower*/
        @media screen and (max-width: 1605px) {
            h2,
            h2.section-title {
                font-size: 36px;
            }

        }

        /*1440px and lower*/
        @media screen and (max-width: 1440px) {

            h2,
            h2.section-title {
                font-size: 32px
            }
        }
    </style>

{% endblock extra_css %}

{% block content %}

    <main class="is-index">
        {% comment %}
            <div class="container pt-6 pb-0 sections">

                <div class="buttons is-justify-content-center">
                    <button class="button nav-section is-light" data-target="#mission_vision_section">
                        <span class="icon is-small">
                            <i class="fa-sharp fa-solid fa-eye"></i>
                        </span>
                        <span class="has-text-weight-semibold">{% translate "Daily Weather Report" %}  </span>

                    </button>
                    <button class="button nav-section is-light" data-target="#organisation_structure">
                        <span class="icon is-small">
                            <i class="fa-solid fa-sitemap"></i>
                        </span>
                        <span class="has-text-weight-semibold"> {% translate "City Forecast" %} </span>
                    </button>


                </div>

            </div> {% endcomment %}
        <section>
            <div class="container">
                <h2 class="section-title center pb-2">{% translate "City Weather Forecast" %}</h2>
                <div class="share-buttons center  pb-6">
                    <a class="button is-small is-rounded"
                       target="_blank" rel="noopener"
                       id="forecast_img"
                    >

                        <span class="share-button-title">{% translate "Download Image" %}</span>
                        <span class="icon">
                            <i class="fa fa-image" aria-hidden="true"></i>
                        </span>
                    </a>

                    {% comment %}
                        <a class="button is-small is-rounded"
                           target="_blank" rel="noopener"
                           id="forecast_pdf">
                            <span class="share-button-title">{% translate "Download PDF" %}</span>
                            <span class="icon">
                                <i class="fa fa-file-pdf" aria-hidden="true"></i>
                            </span>
                        </a>
                    {% endcomment %}
                </div>

                <div class="featured-item-block"
                     style="padding:60px 30px; border-radius:2em;    flex-direction: column;" id="forecast-table">
                    {% image settings.base.OrganisationSetting.logo width-1000 as logo %}

                    {% if logo %}
                        <img src="{{ logo.url }}" style="height:50px; margin-bottom:2em;display:none"
                             id="organization-logo">
                    {% else %}
                        N.M.H.S
                    {% endif %}
                    <table class="table is-striped">
                        <thead>
                        <tr>
                            <th>{% translate "City" %}</th>
                            {% for date, vals in forecasts.items %}
                                <th>
                                    {% blocktranslate with forecast_date=date trimmed%}
                                        {{ forecast_date }}
                                    {% endblocktranslate %}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for city in cities %}
                            <tr>
                                <td>{{ city }}</td>
                                {% for date, vals in forecasts.items %}
                                    <td>

                                        {% for item in vals %}
                                            {% if city == item.city__name %}
                                                <div class="columns is-gapless pb-1 mb-0 is-align-items-center is-mobile">
                                                    <div class="column mr-1" style="align-self:end; text-align: end;">
                                                        {% if item.condition %}
                                                            <figure class="forecast-icon"
                                                                    style="width:40px;display: inline-flex;">
                                                                <img
                                                                        src="{% static 'forecastmanager/img/'|add:item.condition|add:'.png' %}"
                                                                        alt="{{ item.condition }}"
                                                                        title="{{ item.condition }}"
                                                                />
                                                            </figure>
                                                        {% endif %}

                                                    </div>
                                                    <div class="column ml-1" style="text-align: start;">
                                                        {% if item.data_value.air_temperature_max %}
                                                            <h2 style="font-size:14px; font-weight:600">
                                                                {{ item.data_value.air_temperature_max|floatformat }}{{ settings.forecastmanager.ForecastSetting.get_temp_units_display }}</h2>{% endif %}
                                                        {% if item.data_value.air_temperature_min %}
                                                            <h3 style="font-size:10px; font-weight:600">
                                                                {{ item.data_value.air_temperature_min|floatformat }}{{ settings.forecastmanager.ForecastSetting.get_temp_units_display }}</h3>{% endif %}

                                                    </div>

                                                </div>

                                                {% if item.data_value.air_temperature %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex; justify-content:center">
                                                        <img src="{% static 'img/temperature_icon.png' %}" alt=""
                                                             width="15"
                                                             style="opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.air_temperature|floatformat }} {{ settings.forecastmanager.ForecastSetting.get_temp_units_display }}
                                                        </span>

                                                    </span>
                                                {% endif %}

                                                {% if item.data_value.wind_from_direction %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center
                                ">
                                                        <img src="{% static 'img/winddirection_icon.png' %}" alt=""
                                                             width="15"
                                                             style="transform:rotate(calc({{ item.data_value.air_temperature_min }}deg + 90deg));opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.wind_from_direction }} °
                                                        </span>
                                                        </h2>
                                                    </span>
                                                {% endif %}

                                                {% if item.data_value.wind_speed %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center">
                                                        <img src="{% static 'img/windspeed_icon.png' %}" alt=""
                                                             width="15"
                                                             style="opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.wind_speed }} {{ settings.forecastmanager.ForecastSetting.get_wind_units_display }}

                                                        </span>
                                                    </span>

                                                {% endif %}
                                                {% if item.data_value.air_pressure_at_sea_level %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center">
                                                        <img src="{% static 'img/pressure_icon.png' %}" alt=""
                                                             width="15"
                                                             style="opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.air_pressure_at_sea_level }} hPa
                                                        </span>

                                                    </span>
                                                {% endif %}

                                                {% if item.data_value.precipitation_amount %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center">
                                                        <img src="{% static 'img/precipitation_icon.png' %}" alt=""
                                                             width="15"
                                                        >
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.precipitation_amount }} mm
                                                        </span>
                                                    </span>
                                                {% endif %}

                                                {% if item.data_value.relative_humidity %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center">
                                                        <img src="{% static 'img/humidity_icon.png' %}" alt=""
                                                             width="15"
                                                             style="opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.relative_humidity }} %
                                                        </span>
                                                    </span>
                                                {% endif %}

                                                {% if item.data_value.sunrise %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center">
                                                        <img src="{% static 'img/sunrise_icon.png' %}" alt="" width="15"
                                                             style="opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.sunrise }}
                                                        </span>
                                                    </span>
                                                {% endif %}

                                                {% if item.data_value.sunset %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center">
                                                        <img src="{% static 'img/sunset_icon.png' %}" alt="" width="15"
                                                             style="opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.sunset }}
                                                        </span>
                                                    </span>
                                                {% endif %}

                                                {% if item.data_value.moonrise %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center">
                                                        <img src="{% static 'img/moonrise_icon.png' %}" alt=""
                                                             width="15"
                                                             style="opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.moonrise }}
                                                        </span>
                                                    </span>
                                                {% endif %}

                                                {% if item.data_value.moonset %}
                                                    <span class="title"
                                                          style="font-size: 13px; font-weight: 600;margin-bottom: 0.5rem;display: flex;justify-content:center">
                                                        <img src="{% static 'img/moonset_icon.png' %}" alt="" width="15"
                                                             style="opacity: 0.7;">
                                                        <span style="padding:0 0.5em">
                                                            {{ item.data_value.moonset }}
                                                        </span>
                                                    </span>
                                                {% endif %}

                                            {% endif %}

                                        {% endfor %}
                                    </td>

                                {% endfor %}

                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.2/dist/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"
            integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <script>
        var currentdate = new Date()

        const {jsPDF} = window.jspdf

        document.getElementById('forecast_img').addEventListener('click', function () {

            const forecast_table = document.getElementById("forecast-table");

            $('#organization-logo').show()
            var canvas = document.createElement('canvas');
            // Set the canvas dimensions to the table dimensions
            canvas.width = forecast_table.offsetWidth;
            canvas.height = forecast_table.offsetHeight;

            // Get the canvas context
            var context = canvas.getContext('2d');

            // Render the table to the canvas
            html2canvas(forecast_table).then(function (canvas) {

                // Get the data URL of the canvas
                var dataURL = canvas.toDataURL('image/png');

                // Create a link element with the data URL as the href attribute
                var link = document.createElement('a');
                link.href = dataURL;
                link.download = `7day_forecast_${currentdate.getFullYear() + "_"
                + (currentdate.getMonth() + 1) + "_"
                + currentdate.getDate() + "__"
                + currentdate.getHours() + "_"
                + currentdate.getMinutes() + "_"
                + currentdate.getSeconds()}.png`; // Set the filename of the downloaded file

                // Trigger a click event on the link to download the image
                link.click();
                $('#organization-logo').hide()

            });
        })


        document.getElementById('forecast_pdf').addEventListener('click', function () {
            const padding = 20; // add 20px padding

            const table = document.getElementById("forecast-table");
            $('#organization-logo').show()

            html2canvas(table, {
                useCORS: true,
                scrollX: 0,
                scrollY: -window.scrollY,
            }).then(canvas => {
                const pdf = new jsPDF({
                    orientation: 'potrait',
                    unit: 'px',
                    format: [canvas.width, canvas.height],
                });
                const imgData = canvas.toDataURL('image/png');
                pdf.addImage(imgData, 'PNG', 0, 0, canvas.width, canvas.height);
                pdf.save(`7day_forecast_${currentdate.getFullYear() + "_"
                + (currentdate.getMonth() + 1) + "_"
                + currentdate.getDate() + "__"
                + currentdate.getHours() + "_"
                + currentdate.getMinutes() + "_"
                + currentdate.getSeconds()}.pdf`);
                $('#organization-logo').hide()

            });
        })

    </script>

{% endblock extra_js %}