{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags lazyimages_tags nmhs_cms_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="{% static 'css/hero.css' %}" type="text/css" rel="stylesheet"/>
    <link href='https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/partners.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project_detail.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="home-hero-wrapper {% if self.show_city_forecast and grouped_forecast|length > 0 %} has-city-forecast{% endif %}">
        {% include 'section/hero_include.html' %}
    </div>
    <main class="is-index">
        {% include 'section/weather_watch_include.html' %}
        {% include 'section/services_include.html' %}
        {% comment %} {% include 'section/satellite_include.html' %} {% endcomment %}
        {% include 'section/updates_include.html' with page=page %}

        {% include 'section/media_include.html' %}
        {% if page.feature_block %}
            <section class="feature-block-section">
                {% for block in page.feature_block %}
                    {% include_block block with is_even=forloop.counter|divisibleby:2 %}
                {% endfor %}
            </section>
        {% endif %}
        {% if page.partners %}
            <section>
                <div class="container">
                    <h2 class="section-title has-text-centered"> {% translate "Our Partners" %}</h2>
                    <div class="columns is-multiline is-mobile is-centered partners-list">
                        {% for partner in page.partners %}
                            {% if partner.visible_on_homepage %}
                                <div class="column is-4-mobile is-4-tablet is-2-desktop  partner-item">
                                    <a href="{% if partner.link %}{{ partner.link }} {% else %}{% endif %}"
                                       target="{% if partner.link %}_blank{% else %}_self{% endif %}"
                                       rel="noopener">
                                        <div class="partner-img-wrapper" title="{{ partner.name }}">
                                            <figure class="image">
                                                {% image partner.logo original as p_logo %}
                                                <img class="progressive__img progressive--not-loaded"
                                                     data-progressive="{{ p_logo.url }}"
                                                     src="{% lazy_image_url p_logo %}" alt="{{ partner.name }}"
                                                     syle="width:100px;object-fit: cover;"/>
                                            </figure>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if settings.base.ImportantPages.all_partners_page %}
                        <div class="more-container" style="justify-content: center">
                            <a class="center more" href="{{ settings.base.ImportantPages.all_partners_page.url }}" }>
                                {% translate "More Partners" %}
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock content %}


{% block extra_js %}
    <script src='https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.js'></script>
    <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>
    <script>
        {% if settings.base.OrganisationSetting.country_info %}
            const country_info = {{settings.base.OrganisationSetting.country_info|safe}}
        {% else %}
            const country_info = null
        {% endif %}

        const temp_units = "{{settings.forecastmanager.ForecastSetting.get_temp_units_display}}"
        const forecast_api = "{% url 'forecast-list'%}"
        const static_path = '{% static "forecastmanager/img/" %}'
        const alertsGeojson = {{self.cap_alerts.geojson|safe}};
        const dataParams =
            {{ settings.forecastmanager.ForecastSetting.data_parameter_values|safe }};

    </script>

    <script type="text/javascript" src="{% static 'js/weather_watch.js' %}"></script>
{% endblock %}