{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="{% static 'css/hero.css' %}" type="text/css" rel="stylesheet"/>
    <link href='https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
{% endblock extra_css %}

{% block content %}
    <div class="home-hero-wrapper {% if self.show_city_forecast and grouped_forecast|length > 0 %} has-city-forecast{% endif %}">
        {% include 'section/hero_include.html' %}
    </div>
    <main class="is-index">
        {% include 'section/weather_watch_include.html' %}
        {% include 'section/services_include.html' %}
        {% include 'section/updates_include.html' with page=page %}
        {% include 'section/media_include.html' %}
    </main>
{% endblock content %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/city_forecast.js' %}"></script>
    <script src='https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.js'></script>
    <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>
    <script>
        {% if settings.base.OrganisationSetting.country_info %}
            const country_info = {{settings.base.OrganisationSetting.country_info|safe}}
        {% else %}
            const country_info = null
        {% endif %}

        const temp_units = "{{settings.forecastmanager.ForecastSetting.get_temp_units_display}}"
        const forecast_api = "{% url 'forecast-list'%}"
        const static_path = '{% static "forecastmanager/img/" %}'
        const alertsGeojson = {{self.cap_alerts.geojson|safe}};
        const dataParams =
            {{ settings.forecastmanager.ForecastSetting.data_parameter_values|safe }};

    </script>

    <script type="text/javascript" src="{% static 'js/weather_watch.js' %}"></script>
{% endblock %}