{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="{% static 'css/hero.css' %}" type="text/css" rel="stylesheet"/>
    <link href='https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.css' rel='stylesheet'/>
{% endblock extra_css %}

{% block content %}
    <main class="is-index">
        {% include 'section/hero_include.html' %}
        {% include 'section/forecast_include.html' %}
        {% include 'section/services_include.html' %}
        {% include 'section/updates_include.html' with page=page %}
    </main>
{% endblock content %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/hero.js' %}"></script>
    <script src='https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.js'></script>
    <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>
    <script>
        {% if settings.base.OrganisationSetting.country_info %}
            const country_info = {{settings.base.OrganisationSetting.country_info|safe}}
        {% else %}
            const country_info = null
        {% endif %}

        const daily_forecasts = "{{self.get_forecast_by_daterange.day_forecast|escapejs}}"
        const media_url = "{{MEDIA_URL}}"
    </script>

    <script type="text/javascript" src="{% static 'js/basemap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/forecast_map.js' %}"></script>
{% endblock %}

