{% load static wagtailcore_tags wagtailimages_tags lazyimages_tags %}

{% image page.hero_banner original as img %}
<div id="page-hero" class="hero"
     style="position: relative;max-height:fit-content; min-height:600px">
    <div class="hero-body pb-2">
        <div class="container">
            <div id="filtered-forecasts">

                <div class="columns is-justify-content-center is-align-items-center py-3">
                    <div class="column is-5 px-4">
                        
                        <p class="title pb-4"
                        style="font-weight:700; font-size: 34px;">
                            {{ self.hero_title|richtext }}
                        </p>

                        {% if self.hero_subtitle %}
                        <p class="subtitle pb-5 mb-4"
                        style="font-weight: 400; font-size: 16px;">
                            {{ self.hero_subtitle }}
                        </p>
                        {% endif %}
                    </div>

                    {% if self.show_city_forecast and grouped_forecast|length > 0 and self.city_item.cities|length > 0  %}
                    <div class="column is-7" style="border-left:solid 1px #aeaeae4f">

                        <div class="weather-widget px-6" style="background-color:white">
                            
                            <div class="card py-4 progressive__bg progressive--not-loaded" 
                            style="text-align:center;color:white; background-image: url({% lazy_image_url img %});background-position:center; background-repeat:no-repeat; background-size:cover; border-radius:1em"
                            data-progressive="{{ img.url }}">
                            <div class="widget-control">
                                <form id="filter-form">
                                    <div class="field has-addons">
                                        <div class="control is-expanded px-6 has-icons-left">
                                            <div class="select is-fullwidth is-white">
                                                <select id="city-option" style="border: none;
                                                border-bottom: solid 1px #d5d5d5; box-shadow: none; font-weight:500"
                                                    name="city_name">
                                                    {% for city in self.city_item.cities %}
                                                    <option value="{{city.name}}" {% if request.GET.city_name == city.name %}selected{% endif %}>{{city.name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="icon is-small is-left is-white">
                                                    <i class="fas fa-location-dot"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            {% for forecasts in grouped_forecast %}

                                {% if forloop.first %}
                                
                                <div class="card-content" id="widget-forecasts" style="background-color: #ffffff20;margin: 1em 2em 0;backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px);font-weight:600">
                                    

                                    {% with forecasts.forecast_items|first as latest_forecast %}
                                <div class="widget-header">
                                    <p class="city-name pb-0" style="font-weight:600; font-size:24px">
                                        {{ forecasts.city|wordwrap:7}}
                                    </p>
                                    <p class="latest-forecast-date"  style="font-size:14px">
                                        {{ latest_forecast.forecast_date}}
                                    </p>
                                </div>
                                

                                <div class="widget-weather">
                                    <div class="columns is-mobile">
                                        <div class="column weather-temp p-0 is-desktop" style="text-align:right">
                                            {% if latest_forecast.data_value.air_temperature_max %}
                                            <p style="font-size:40px; font-weight: 300"> {{ latest_forecast.data_value.air_temperature_max|floatformat:0 }}°C</p>
                                            {% endif %}
                                            
                                            {% if latest_forecast.data_value.air_temperature_min %}
                                            <p style="font-size:20px; font-weight: 300"> {{ latest_forecast.data_value.air_temperature_min|floatformat:0 }}°C</p>
                                            {% endif %}
                                        </div>

                                        {% if latest_forecast.condition %}
                                        <div class="column weather-condition p-0 is-desktop">
                                            <img 
                                            src="{% static 'forecastmanager/img/'|add:latest_forecast.condition|add:'.png' %}"
                                            alt="{{ latest_forecast.condition }}"
                                            title="{{ latest_forecast.condition_display }}">
                                            <p>{{ latest_forecast.condition_display}}</p>
                                        </div>
                                        {% endif %}

                                        <div class="column weather-others p-0" style="text-align:left">
                                            {% for key, value in latest_forecast.data_value.items %}

                                                    {% for param in settings.forecastmanager.ForecastSetting.data_parameter_values %}

                                                        {% if key == param.parameter %}
                                                            {% if param.parameter ==  'wind_from_direction' %}
                                                                <p style="display:flex">
                                                                    <img src="{% static 'img/'|add:param.parameter|add:'_white.png' %}" class="px-2" style="height:20px;transform:rotate(calc({{value}}deg))">
                                                                    <span>{{value|floatformat:0}}{{param.parameter_unit}}  </span>
                                                                </p>
                                                            {% endif %}
                                                            {% if param.parameter != 'air_temperature_max' and param.parameter != 'air_temperature_min' and param.parameter != 'wind_from_direction'  %}
                                                                <p style="display:flex">
                                                                    <img src="{% static 'img/'|add:param.parameter|add:'_white.png' %}" style="height:20px" class="px-2">
                                                                    <span>{{ value|floatformat:0}}{{param.parameter_unit}} </span>
                                                                </p>
                                                            {% endif %}
                                                            
                                                        {% endif %}
                                                        
                                                    {% endfor %}
                                                {% endfor %}  
                                        </div>
                                    </div>
                                </div>
                                {% endwith %}
                                
                                </div>
                                

                                <footer class="card-footer widget-days carousel weather-days-carousel" id="carousel" style="background-color: #ffffff60;
                                margin: 0 2em 1em; backdrop-filter: blur(30px);-webkit-backdrop-filter: blur(10px);">
                                {% for item in forecasts.forecast_items %}
                                    {% if item.condition %}
                                        {% if not forloop.first %}
                                            <div class="card-footer-item">
                                                <div>
                                                    {{ item.forecast_date }}
                                                </div>
                                                {% if item.condition %}
                                                <div>
                                                    <img 
                                                    src="{% static 'forecastmanager/img/'|add:item.condition|add:'.png' %}"
                                                    alt="{{ item.condition_display }}"
                                                    title="{{ item.condition_display }}"
                                                    style="height:35px">
                                                </div>
                                                {% endif %}

                                                {% if item.data_value.air_temperature_max or item.data_value.air_temperature_min %}
                                                <div>
                                                    <p>
                                                        {% if item.data_value.air_temperature_max %}
                                                        <span style="font-size:18px; font-weight:600">{{ item.data_value.air_temperature_max|floatformat:0 }}°C</span>
                                                        {% endif %}

                                                        {% if item.data_value.air_temperature_min %}
                                                        <span style="font-size:12px">{{ item.data_value.air_temperature_min|floatformat:0 }}°C</span>
                                                        {% endif %}
                                                        
                                                    </p>
                                                </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}         
                                            
                                </footer>
                                
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="buttons forecast pt-4">

                                <a class="button is-small has-text-weight-bold is-dark has-text-white is-rounded"
                                href="{% url 'list_forecasts' %}"
                                >
                                    <span class="icon">
                                        <i class="fa-solid fa-list"></i> </span>
                                    <span> All City Forecast</span>
        
                                </a>
                                <a class="button is-small has-text-weight-bold is-dark has-text-white is-rounded"
                                href="{% url 'daily_weather' %}">
                                    <span class="icon">
                                        <i class="fa fa-cloud-sun-rain"></i>
                                    </span>
                                    <span> Daily Weather</span>
                                </a>
                            </div>
                        </div>

                        

                        {% comment %} {% include 'section/city_forecast_include.html' %} {% endcomment %}

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

