{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% get_settings use_default_site=True %}
{% wagtail_site as current_site %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/services_common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/twentytwenty.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project_detail.css' %}">
{% endblock %}

{% block body_class %}project-page"{% endblock %}

{% block content %}

    {% include 'hero.html' with page=page %}
    <main class="is-index">
        <section class="ORG-work is-desktop">
            <div class="work container">
                {% include 'service_introduction.html' with page=page %}
            </div>
        </section>

        {% if page.goals_block %}
            <section class="project-goals-">
                <h2 class="section-title has-text-centered">Our Areas of Work</h2>
                <div class="container">
                    <div class="columns is-mobile is-centered project-goals">
                        <div class="column is-three-quarters-desktop is-full-mobile">
                            <div class="accordion js-accordion">
                                {% for goal_block in page.goals_block %}
                                    {% include_block goal_block with is_first=forloop.first %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        {% endif %}

        {% if page.news %}
            <section class="project-latest-publications-section">
                <div class="container">
                    <h2 class="section-title"> Latest News</h2>
                    {% include 'card_items_inline_include.html' with items=page.news more_link=settings.core.ImportantPages.all_news_page.url more_link_title="More News" %}
                </div>
            </section>
        {% endif %}

        {% if page.project_materials %}
            <section class="section">
                <div class="container">
                    <h2 class="section-title"> Project Materials</h2>
                    <div class="columns is-multiline is-mobile is-centered project-goals">
                        {% for category in page.project_materials %}
                            <div class="column is-full">
                                {% include_block category %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if page.feature_block %}
            <section class="feature-block-section">
                {% for block in page.feature_block %}
                    {% include_block block with is_even=forloop.counter|divisibleby:2 %}
                {% endfor %}
            </section>
        {% endif %}

        {% if page.youtube_playlist %}
            <section id="videoSection" class="videos">
                <div class="container">
                    <h2 class="section-title center">Videos</h2>
                    {% include 'videos_skeleton.html' %}
                    {% if  settings.core.ImportantPages.all_videos_page %}
                        <div class="more-container">
                            <a href="{{ settings.core.ImportantPages.all_videos_page.url }}" class="more">
                                More Videos
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}


        {% if page.events.all %}
            <section>
                <div class="container">
                    <h2 class="section-subheader">Latest Events</h2>
                    {% include 'events_include.html' with events=page.events %}
                </div>
            </section>
        {% endif %}

        {% if page.publications %}
            <section class="project-latest-publications-section">
                <h2 class="section-title has-text-centered"> Latest Updates</h2>
                <div class="container">
                    <div class="columns is-multiline is-mobile is-centered">
                        {% for publication in page.publications %}
                            <div class="column is-one-quarter-desktop is-full-mobile">
                                {% include 'update_card_include.html' with card=publication.card_props show_type=True %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if page.partners.all %}
            <section class="partners">
                <div class="container">
                    <h2 class="section-title has-text-centered">Partners</h2>
                    <div class="columns is-multiline is-mobile is-centered">
                        {% for partner in page.partners.all %}
                            <a href="{% if partner.link %}{{ partner.link }}{% else %}#{% endif %}"
                               target="_blank"
                               rel="noopener"
                               class="column is-one-fifth-desktop is-one-third-mobile"
                               style="display: flex;justify-content: center">
                                <figure class="image is-96x96">
                                    {% image partner.logo original class="partner-logo" style="height:100%;width:100%;object-fit:contain" %}
                                </figure>
                            </a>
                        {% endfor %}
                    </div>
                    {% if settings.core.ImportantPages.all_partners_page %}
                        <div class="more-container">
                            <a class="center more" href="{{ settings.core.ImportantPages.all_partners_page.url }}" }>
                                More Partners
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/jquery.scheletrone.js' %}"></script>
    <script src="{% static 'js/jquery.event.move.js' %}"></script>
    <script src="{% static 'js/jquery.twentytwenty.js' %}"></script>
    <script>
        // If on smaller screens, collapse all filter items
        const windowWidth = $(window).width();

        if (windowWidth <= 768) {
            //for  smaller devices
            $('.js-accordion-item').removeClass('active');
        }

        accordion.init({oneOpen: true})

        const page_youtube_playlist =
        {{ page.youtube_playlist|yesno:'true,false' }}

        if (page_youtube_playlist) {

            $('#videoWrapper').scheletrone({
                onComplete: function () {
                    $.ajax({
                        url: '{{ current_site.root_url }}/api/videos/{{ page.youtube_playlist.pk }}',
                        dataType: "html",
                        success: function (data) {
                            // if we have videos append them, else hide whole section
                            if (data.length > 1) {
                                $('#videoWrapper').html('').append(data).ready();
                            } else {
                                $('#videoSection').hide()
                            }
                        },
                        error: function () {
                            $('#videoSection').remove()
                        }
                    });
                }
            });
        }


    </script>
{% endblock %}





