
.home-updates .update-item .card-image figure {
    height: 160px;
}

.home-updates .update-item .card-tag {
    color: #226296
}

.media-content {
    float: right
}

.media-content p {
    color: #484848
}

.media-item a {
    color: #484848
}

.media-item .columns {
    margin-top: 20px;
    margin-bottom: 0px
}

.media-item:hover {
    cursor: pointer
}

.media-item:hover a {
    color: #a3a3a3
}

.media-item hr {
    margin: 12px 0px;
    background: #d5d5d5;
    height: 1px
}

.home .post-sub {
    color: #aaa
}

.home .post-sub a {
    color: #aaa
}


.offers {
    margin-top: -10px
}

.more-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px .75rem;
}

.home .column.is-one-half.has-text-left {
    padding-left: 100px
}

/* 1605px and lower*/
@media screen and (max-width: 1605px) {
    .home .work .notification {
        min-height: 220px
    }

    .home section.updates {
        padding-bottom: 60px
    }

}

/*1440px and lower*/
@media screen and (max-width: 1440px) {

    .testimonial-container figure {
        height: 300px;
        width: 100%;
    }


    .home .ORG-work .notification {
        min-height: 200px
    }

    .home .column.is-one-half.has-text-left {
        padding-left: 85px
    }

    #testimonials .box {
        padding: 20px 30px
    }

    .home section.updates {
        padding-bottom: 60px
    }

    #users {
        height: 822px
    }

}

/*1366px and lower*/
@media screen and (max-width: 1366px) {
    .home .column.is-one-half.has-text-left {
        padding-left: 80px
    }

    #users .box {
        padding: 20px 30px
    }

    #testimonials .box {
        margin: 0
    }
}


/*1280px and lower*/
@media screen and (max-width: 1280px) {
    .home .column.is-one-half.has-text-left {
        padding-left: 70px
    }


    #users .column.is-one-quarter,
    #users .column.is-one-quarter-tablet {
        width: 26% !important
    }

}

/*1024px and lower*/
@media screen and (max-width: 1024px) {
    .home .column.is-one-half.has-text-left {
        padding-left: 65px
    }

    .home .ORG-work .container {
        max-width: 100%
    }

    #users .column.is-one-quarter,
    #users .column.is-one-quarter-tablet {
        width: 26% !important
    }

    #testimonials li {
        padding: 0
    }

    #users .box {
        padding: 20px 30px
    }

    #users .box p {
        font-size: 11px
    }
}


/*768px and lower*/
@media screen and (max-width: 768px) {

    .home-products-image {
        height: 200px;
    }

    .home-updates .update-item .card-image figure {
        height: 140px;
    }

    .home .column.is-one-half.has-text-left {
        padding-left: 20px;
    }


    .home-events {
        padding-left: 0.75rem;
    }


    .testimonials-body {
        flex-direction: column-reverse;
    }

    .testimonial-company-logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }


}


.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.service-icon-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.service-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.service-icon-bg-img {
    height: 100%;
    width: 100%;
}

.service-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0
}

.service-icon > svg {
    height: 100%;
    width: 100%;
    color: grey;
}

/* .service-icon > svg.icon {
    height: 100% !important;
    width: 100% !important;
    color: grey;
} */

/* .is-index section:nth-child(even ) {
    background-color: #f8f9fb !important;
}

.is-index section:nth-child(odd ) {
    background-color: #fff !important;
} */

.home-hero-wrapper {
    position: relative;
}

.home-hero-wrapper.has-city-forecast {
    padding-bottom: 200px;
    background-color: #f8f9fb !important;
}

.city-forecast-wrapper {
    position: absolute;
    width: 100%;
    bottom: 70px;
}

.weather-watch-section {
}

.weather-watch-container {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
}

.weather-watch-container .column {
    max-height: 540px;
    padding: 0 !important;
    margin: 0 !important;
}

#home-map {
    height: 540px;
    position: relative;
}


.alerts-container {
    padding: 20px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.alerts-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.alerts-item-wrapper {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}


.alerts-title img {
    margin-right: 8px;
}

.alert-item {
    margin-bottom: 8px;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.alert-item-icon {
    margin-right: 10px;
}

.alert-icon-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-icon-wrapper svg {
    height: 80%;
    width: 80%;
    fill: currentColor;
}


.alert-item-title {
    font-weight: 600;
    font-size: 15px;

}

.alert-severity-label {
    font-size: 13px;
}

.empty-alerts-state {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    background-color: #f8f9fb;
    padding: 20px;
}

.empty-alerts-icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.empty-alerts-icon svg {
    height: 100%;
    width: 100%;
    fill: green;
}


.map-legend {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    background-color: #fff;
    font-size: 14px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    z-index: 99;
}

.legend-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.map-legend .legend-items .legend-item .legend-color {
    margin-right: 4px;
    height: 12px;
    width: 12px;
}


.mapviewer-explore {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap
}

.mapviewer-explore .desc {
    margin-right: 20px;
    font-weight: 600;
}

/*768px and lower*/
@media screen and (max-width: 768px) {
    .home-hero-wrapper.has-city-forecast {
        padding-bottom: 0 !important;
    }

    #home-map, .alerts-container {
        height: 400px;
    }

    .mapviewer-explore .desc {
        margin-right: 0;
    }

    .mapviewer-explore .button {
        margin-top: 10px;
        margin-right: 0;
    }
}

