input[type=date],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    -moz-appearance: none;
    appearance: none;
    background-color: var(--w-color-white);
    border: 1px solid var(--w-color-grey-150);
    border-radius: .3125rem;
    color: var(--w-color-grey-600);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 2.625rem;
    padding: .375rem 1.25rem;
    width: 100%
}

input[type=date]:hover, input[type=datetime-local]:hover, input[type=email]:hover, input[type=file]:hover, input[type=month]:hover, input[type=number]:hover, input[type=password]:hover, input[type=search]:hover, input[type=tel]:hover, input[type=text]:hover, input[type=time]:hover, input[type=url]:hover, input[type=week]:hover, textarea:hover {
    border-color: var(--w-color-grey-200)
}

input[type=date][disabled], input[type=date][disabled]:hover, input[type=datetime-local][disabled], input[type=datetime-local][disabled]:hover, input[type=email][disabled], input[type=email][disabled]:hover, input[type=file][disabled], input[type=file][disabled]:hover, input[type=month][disabled], input[type=month][disabled]:hover, input[type=number][disabled], input[type=number][disabled]:hover, input[type=password][disabled], input[type=password][disabled]:hover, input[type=search][disabled], input[type=search][disabled]:hover, input[type=tel][disabled], input[type=tel][disabled]:hover, input[type=text][disabled], input[type=text][disabled]:hover, input[type=time][disabled], input[type=time][disabled]:hover, input[type=url][disabled], input[type=url][disabled]:hover, input[type=week][disabled], input[type=week][disabled]:hover, textarea[disabled], textarea[disabled]:hover {
    background-color: var(--w-color-grey-50);
    border-color: var(--w-color-grey-100);
    color: var(--w-color-grey-400);
    cursor: not-allowed
}

.w-field--error > .w-field__input > * > input[type=date], .w-field--error > .w-field__input > * > input[type=datetime-local], .w-field--error > .w-field__input > * > input[type=email], .w-field--error > .w-field__input > * > input[type=file], .w-field--error > .w-field__input > * > input[type=month], .w-field--error > .w-field__input > * > input[type=number], .w-field--error > .w-field__input > * > input[type=password], .w-field--error > .w-field__input > * > input[type=search], .w-field--error > .w-field__input > * > input[type=tel], .w-field--error > .w-field__input > * > input[type=text], .w-field--error > .w-field__input > * > input[type=time], .w-field--error > .w-field__input > * > input[type=url], .w-field--error > .w-field__input > * > input[type=week], .w-field--error > .w-field__input > * > textarea, .w-field--error > .w-field__input > input[type=date], .w-field--error > .w-field__input > input[type=datetime-local], .w-field--error > .w-field__input > input[type=email], .w-field--error > .w-field__input > input[type=file], .w-field--error > .w-field__input > input[type=month], .w-field--error > .w-field__input > input[type=number], .w-field--error > .w-field__input > input[type=password], .w-field--error > .w-field__input > input[type=search], .w-field--error > .w-field__input > input[type=tel], .w-field--error > .w-field__input > input[type=text], .w-field--error > .w-field__input > input[type=time], .w-field--error > .w-field__input > input[type=url], .w-field--error > .w-field__input > input[type=week], .w-field--error > .w-field__input > textarea, input[type=date][aria-invalid=true], input[type=datetime-local][aria-invalid=true], input[type=email][aria-invalid=true], input[type=file][aria-invalid=true], input[type=month][aria-invalid=true], input[type=number][aria-invalid=true], input[type=password][aria-invalid=true], input[type=search][aria-invalid=true], input[type=tel][aria-invalid=true], input[type=text][aria-invalid=true], input[type=time][aria-invalid=true], input[type=url][aria-invalid=true], input[type=week][aria-invalid=true], textarea[aria-invalid=true] {
    border-color: var(--w-color-critical-200)
}

input[type=date]::placeholder, input[type=datetime-local]::placeholder, input[type=email]::placeholder, input[type=file]::placeholder, input[type=month]::placeholder, input[type=number]::placeholder, input[type=password]::placeholder, input[type=search]::placeholder, input[type=tel]::placeholder, input[type=text]::placeholder, input[type=time]::placeholder, input[type=url]::placeholder, input[type=week]::placeholder, textarea::placeholder {
    color: var(--w-color-grey-400)
}

textarea {
    padding: 1.25rem
}

.w-field__autosize {
    resize: none
}

.w-field--date_field input, .w-field--date_time_field input, .w-field--time_field input {
    width: auto
}

input[type=radio] {
    -moz-appearance: none;
    appearance: none;
    background-color: var(--w-color-white);
    border: 1px solid var(--w-color-grey-150);
    border-radius: .3125rem;
    border-radius: 100%;
    color: var(--w-color-grey-600);
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 1.5rem;
    margin-inline-end: .625rem;
    position: relative;
    width: 1.5rem
}

input[type=radio]:hover {
    border-color: var(--w-color-grey-200)
}

input[type=radio][disabled], input[type=radio][disabled]:hover {
    background-color: var(--w-color-grey-50);
    border-color: var(--w-color-grey-100);
    color: var(--w-color-grey-400);
    cursor: not-allowed
}

.w-field--error > .w-field__input > * > input[type=radio], .w-field--error > .w-field__input > input[type=radio], input[type=radio][aria-invalid=true] {
    border-color: var(--w-color-critical-200)
}

input[type=radio]::placeholder {
    color: var(--w-color-grey-400)
}

input[type=radio]:before {
    content: "";
    height: 1rem;
    inset-inline-start: .1875rem;
    position: absolute;
    top: .1875rem;
    width: 1rem
}

input[type=radio]:checked:before {
    background: var(--w-color-secondary)
}

@media (forced-colors: active) {
    input[type=radio]:checked:before {
        background: Highlight
    }
}


input[type=checkbox] {
    -moz-appearance: none;
    appearance: none;
    background-color: var(--w-color-white);
    border: 1px solid var(--w-color-grey-150);
    border-radius: .1875rem;
    color: var(--w-color-grey-600);
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 1.5rem;
    margin-inline-end: .625rem;
    position: relative;
    vertical-align: bottom;
    width: 1.5rem
}

input[type=checkbox]:hover {
    border-color: var(--w-color-grey-200)
}

input[type=checkbox][disabled], input[type=checkbox][disabled]:hover {
    background-color: var(--w-color-grey-50);
    border-color: var(--w-color-grey-100);
    color: var(--w-color-grey-400);
    cursor: not-allowed
}

.w-field--error > .w-field__input > * > input[type=checkbox], .w-field--error > .w-field__input > input[type=checkbox], input[type=checkbox][aria-invalid=true] {
    border-color: var(--w-color-critical-200)
}

input[type=checkbox]::placeholder {
    color: var(--w-color-grey-400)
}

input[type=checkbox]:before {
    content: "";
    height: 1rem;
    inset-inline-start: .1875rem;
    position: absolute;
    top: .1875rem;
    width: 1rem
}

input[type=checkbox]:checked:before {
    background: var(--w-color-secondary)
}

@media (forced-colors: active) {
    input[type=checkbox]:checked:before {
        background: Highlight
    }
}


select {
    -moz-appearance: none;
    appearance: none;
    background-color: var(--w-color-white);
    background-position-x: calc(100% - .8125rem);
    background-position-y: 1.0625rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    border: 1px solid var(--w-color-grey-150);
    border-radius: .3125rem;
    color: var(--w-color-grey-600);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.2;
    max-width: 100%;
    min-height: 2.625rem;
    padding: 0 1.25rem;
    padding-inline-end: 2.625rem
}

select:hover {
    border-color: var(--w-color-grey-200)
}

select[disabled], select[disabled]:hover {
    background-color: var(--w-color-grey-50);
    border-color: var(--w-color-grey-100);
    color: var(--w-color-grey-400);
    cursor: not-allowed
}

.w-field--error > .w-field__input > * > select, .w-field--error > .w-field__input > select, select[aria-invalid=true] {
    border-color: var(--w-color-critical-200)
}

select::placeholder {
    color: var(--w-color-grey-400)
}

@media (forced-colors: active) {
    select {
        -moz-appearance: auto;
        appearance: auto
    }
}

select[multiple] {
    background-image: none;
    min-height: 10rem;
    padding: 0
}

select[multiple] option {
    padding: 0 1.25rem
}